[2021-08-04 06:25] radekmie commented on #991
Thanks for the reproduction! I'm checking it right now.

[2021-08-04 07:12] radekmie commented on #991
Found it. The thing is, that [we do specify both `main` and `module` in their "package paths", e.g., `esm/index.js`](https://github.com/vazco/uniforms/blob/master/packages/uniforms/package.json#L5-L6). It looks like Meteor does treat these as normal imports and not package-relative. [Node.js docs](https://nodejs.org/api/packages.html#packages_main) do not specify what exactly should happen, though

[2021-08-04 07:16] radekmie commented on #991
It looks like it's actually a bug in Meteor. These two comments [1](https://github.com/meteor/meteor/blob/e3ff09ef4464c1bda55155324c576036f52786e0/tools/isobuild/resolver.ts#L153-L155), [2](https://github.com/meteor/meteor/blob/e3ff09ef4464c1bda55155324c576036f52786e0/tools/isobuild/resolver.ts#L163-L166) suggest that these paths will be prefixed only if they were not found yet. In this case, they

[2021-08-04 09:28] simplecommerce commented on #991
@radekmie Awesome, thanks for digging and finding the root issue, if you want you could create an issue on their repo and link them to your findings.

Thanks for your help and time I appreciate it!

[2021-08-04 09:50] radekmie commented on #991
@kestarumper Could you prepare a fix for this? Simply adding `./` in front of all these packages works just fine.

[2021-08-04 10:16] simplecommerce commented on #990
@radekmie You are right, I didn't think of using that to find out, but it does get triggered from the portion of code that you linked.
What is the reasoning behind this logic?
From what I understand, if I use `useForm` instead of `useField` it will bypass that logic and should fix my `onChange` problem.
But I don't know why its triggering in first place if I call `useField` in this manner:

`const

[2021-08-04 10:42] simplecommerce commented on #990
Ok the issue was in my component, where I was passing an empty "" value and it didn't like that.
Thanks for your help I appreciate it!!

[2021-08-04 10:42] #990 closed

[2021-08-04 11:30] radekmie commented on #990
This logic is there to set default (initial) values from the schema during the first render. If you don't want to do so, add `initialValue: false` to the second argument of `useField`.

If you'll pass a `value` there, it'll get propagated back to the model. That's expected and that's how `HiddenField` can be used.

---

In any case, I'm glad it workder out!

[2021-08-05 07:36] #991 closed

[2021-08-07 21:54] krazyjakee opened #994 "buildASTSchema infinite loop"
[code]

I've found an infinite loop in buildASTSchema. Unfortunately I am unable to provide you a playground link as it crashes before it can save. Here is the GraphQL schema you can paste into the playground to trigger a crash. [Handy playground link](https://uniforms.tools/playground#?N4IgDgTgpgzlAuIBcICCATd0YwAQAoBxCAQzAAsBFAGQEoQAacCAezBmVBIFd4WYSANyjIAZiQA2cJjz4DhAESgSSAT2QBGAAxam6AJYCARhKjox

[2021-08-09 06:57] radekmie commented on #994
Hi @krazyjakee. As you've said, it's crashing due to fields referring back, resulting in an infinite recursion. However, it's not a problem of the `buildASTSchema` nor `GraphQLBridge` (you can verify that by simply creating such a bridge and not using it). The problem is that the form you're using is rendering all fields by default. And this very schema generates an infinite number of fields.

The

[2021-08-09 07:58] krazyjakee commented on #994
Thanks for the reply and reference.

My use case is that I need to be able to generate forms using graphQL schema generated from a CMS without committing code (manually adding to a list of allowed fields) when there are schema updates. Can you suggest a way that I could achieve this?

[2021-08-09 08:03] radekmie commented on #994
It depends on you use case, there are many options here. One that I already suggested and may work for you, is to implement a custom `NestField` that will show the nested fields only on click and/or when the value is present.

[2021-08-12 11:56] pavankramadugu opened #996 "Any OF Help Needed"
If i want to implement any of similar to how it's in AnyOf section of this playground [https://rjsf-team.github.io/react-jsonschema-form/#](https://rjsf-team.github.io/react-jsonschema-form/#) is it possible ?

I want to show fields based on the condition if a thing is selected render specific fields.

Would appreciate the help. Thanks

[2021-08-12 12:48] simplecommerce commented on #982
Hi @radekmie I am getting back to you about this question because I am experiencing issues that I didn't think i would have and would like your opinion.

In my form, I have a Select component that is using `react-select` library.
In my model I have a field called `projectId` pointing to that `Select`.

When I add (form), if I select an option, it returns `{ label, value }` which updates my `projec

[2021-08-13 14:17] #987 closed

[2021-08-13 14:25] radekmie commented on #982
I'm not sure whether I understand the problem here. It sounds like the `Select` component you are talking about here accepts both `value` and `{ label, value }`, but always returns (calls `onChange`) with the latter? That's weird and I guess I misunderstood you.

I'm not sure what kind of data shape you'd like to have during the form edit, validation, and submission. If you could prepare a demo th

[2021-08-13 14:31] simplecommerce commented on #982
@radekmie yeah it was a bit complicated to write, I think a solution would be to allow us a way to overwrite or pass our own `changedKeys` function, if not passed, it would handle it using the default one that is built-in.

I didn't want to fork and change your existing method because I want to keep having your updates without having to maintain a separate fork just to have a specific change in be

[2021-08-13 14:37] radekmie commented on #982
Well, if `changedKeys` is actually the only thing you'd need, then we definitely can improve that. Would adding `typeof valueA !== typeof valueB` [here](https://github.com/vazco/uniforms/blob/8dd2d7435d4a19c695af6e06fe0d27f97eeb7c0b/packages/uniforms/src/changedKeys.ts#L7) be enough?

[2021-08-13 14:42] simplecommerce commented on #982
@radekmie Yes I think that would work! In my case, my default value for the field is a String `abc` and changes when I select another option in the Select, because `{ label, value }`, so from what I get in your code, it would validate using `isEqual`? That should work fine!

Thanks for your help!

[2021-08-13 14:51] radekmie commented on #982
Then make sure if it's enough. If so, feel free to file a PR.

[2021-08-13 14:59] radekmie commented on #996
Hi @pavankramadugu. Yes, it should be possible. However, keep in mind, that handling of `anyOf`/`allOf`/`oneOf` in uniforms is not ideal ([docs](https://uniforms.tools/docs/api-bridges#note-on-allofanyofoneof)).

The idea would be to have a field that is aware of your schema (through the `field` prop) and render different fields based on the selected `anyOf`/`allOf`/`oneOf`. Technically, it can ke

[2021-08-13 17:00] simplecommerce commented on #982
@radekmie I did the change and tested it on my end and it seems to work and do what I need it to do.
I had trouble with adding tests.
I keep getting build errors on my hosting.
I am new to PR with github and don't know how to do it properly.
I wasn't even sure how to test it without manually changing the code in my installed version.

If you can provide a step by step process on how to change/test

[2021-08-14 12:30] pavankramadugu commented on #996
Understood a bit. can you give simple example schema for me to get what you meant in 2nd paragraph clearly

Would appreciate the help. Thanks

[2021-08-16 06:51] radekmie commented on #982
Thanks for the PR! I'll answer all these questions in the PR.

[2021-08-16 11:45] afmfe-iul opened #998 "Incorrect value changed on uninitialized arrays"
Consider the following example using the latest version (3.5.5) of everything (but bug observed since 3.5.1):

[code]

or you can run the [example here](https://codesandbox.io/s/gifted-diffie-w1g8c?file=/App.tsx).

Every time you input on the first input, it's also triggers (incorrectly) an array change (check the console.log messages).

In production this really degrades performance, if the user

[2021-08-16 12:14] radekmie commented on #998
Hi @afmfe-iul. Thanks for this detailed report! Could you check when this started? You've said it's been there since 3.5.1, but maybe your previous version (I hope 3.5.0...) was working correctly. I'll check it soon.

[2021-08-16 12:21] afmfe-iul commented on #998
Hey there @radekmie, no worries and thanks for the quick reply too!
We only added custom array fields when we were already using 3.5.1, so I'm not sure if the problem existed before.

[2021-08-16 12:22] radekmie commented on #998
I don't think we've changed anything in this regard... Anyway, if possible, please do check it. If it's a regression, we'll definitely have to work on that _soon_. If it's been like this since 3.0.0, then it'll have _slightly_ lower priority.

[2021-08-17 13:24] pavankramadugu commented on #996
Hi @radekmie I got it and implemented successfully. The another issue I am facing is, When i created a custom field Like this,
`const CustomField = (props) => {
      return( 'something' based on Props)
}

export default connectField(CustomField);
`
I am Using this custom field in the schema to render something by `{uniforms: {component: MyCustomField}}.` It's rendering fine but the data entered i

[2021-08-17 15:06] wadamek65 commented on #996
@pavankramadugu Would you mind sharing the implementation of your component or even better a playground example with a reproduction of this behavior? Unfortunately, I am unsure of what could be causing your problems based on your description alone.

[2021-08-18 05:42] pavankramadugu commented on #996
@wadamek65 I got the issue after debugging in right way. I'm loving your component more each day. Awesome work @radekmie and You.

[2021-08-18 11:30] radekmie commented on #998
We've discussed it internally, and @Monteth will check it, as it seems to be related to #969. Our plan is to start with a unit test to make sure we'll not change it in the future.

[2021-08-18 12:09] radekmie commented on #996
I thought about something like this:
[code]

Then the `example.kind` field is the [_tag_ or _discriminator_](https://en.wikipedia.org/wiki/Tagged_union).

---

@pavankramadugu Could you elaborate a little on your problem and how you've solved it? It'd be best for other people that may encounter it.

[2021-08-18 14:03] JanMP opened #1001 "Update 3.5.1 -> 3.5.2 breaks meteor package with customized uniforms-unstyled"
After updating I get the same error as #703

[code]

I only changed some of the fields. AutoForm is untouched.
Renaming _ to something else did not help.

Repro is here: https://github.com/JanMP/repro-uniforms-3.5.2-error (see two commits for changes that lead to problem)

[2021-08-18 14:26] radekmie commented on #1001
Hi @JanMP. Please do check whether the newest version works. I guess this problem got fixed in [v3.5.4](https://github.com/vazco/uniforms/blob/master/CHANGELOG.md#v354-2021-08-05) (actually v3.5.3, but it's an incorrect release).

[2021-08-18 18:22] JanMP commented on #1001
No, it doesn't. I updated from 3.5.1. to 3.5.5. Things broke and then I went back and forth and narrowed it down to 3.5.2

[2021-08-23 06:41] radekmie commented on #1001
OK, it makes sense. We'll look into that soon.

[2021-08-25 13:06] yurtsiv opened #1004 "Types are incompatible with `antd@>=4.16.11`"
After running `tsc` in my project, I got the following error:

[code]

(there are a few more errors, but the reason is the same)

**Packages used:**

[code]

**Cause:**

`Omit` type got removed in [antd@4.16.11](https://github.com/ant-design/ant-design/blob/master/CHANGELOG.en-US.md#41611)

**Possible solution:**

Bump up `antd` version. The PR is coming soon.

[2021-08-25 13:59] kestarumper commented on #1001
Hi @JanMP, thanks for pointing this out as it appears that we've introduced a regression. We're investigating and we'll keep you posted once we find something.

[2021-08-30 13:29] radekmie commented on #1001
I thought about it a little bit more and I'd say that we have to decide, whether we publish actual ES6 `class`es or not. Overall, there's no point in `es5`/`es6` builds and we should rather have a `cjs`/`esm` separation, just like other packages. The only question is what EcmaScript standard are we going to use for the build.

ES6 seems a valid choice, as it's already supported by all supported pl

[2021-09-03 12:36] mdesousa opened #1006 "Unsupported field type: undefined"
Hi, we are getting an error "Unsupported field type: undefined" when using the json schema below.
If we change the reference in `my_property` to `GoodType` then the form is rendered without errors. It seems to be a problem with `BadType` being a `$ref`... thanks

react@17.0.2
uniforms-bridge-json-schema@3.5.5
unforms-material@3.5.5
uniforms@3.5.5

[code]

[2021-09-05 16:14] MDrooker opened #1007 "Default component for Date fieldtypes"
Noob question-
I have a schema that has dates in it.
Some of the records being edited still have null/empty for the date fields(there are a few).

I created my own DateField that handles nulls and string based dates(like (2021-08-29T02:12:11.849Z).
And just converts it to 1/1/1980 or a valid date object
And know I can-
``` <AutoField name={'startDateTime'} component={DateTimeField} />```  to handl

[2021-09-06 08:40] Floriferous opened #1008 "defaultValue in Array fields should populate model with SimpleSchema"
When you set a `defaultValue` in an `Array` field with SimpleSchema, the initial model doesn't properly reflect it:

[code]

When a form mounts with this schema, I expect the `list` field to be already populated with one element, with the `title` field filled. The model should also contain this data immediately, and not after editing the form first.

Currently, this `defaultValue` has no effect, a

[2021-09-06 08:44] wadamek65 commented on #1007
Hi @MDrooker

Yes it is possible to tell `AutoForm` to use your own custom component instead. You should be able to solve your problem by creating your own `AutoField` and overriding its behavior regarding `Date` types. Then you want to pass your custom `AutoField` to the `AutoForm`.

You can find an example in the documentation here: https://uniforms.tools/docs/examples-custom-fields#customautofi

[2021-09-06 08:45] #1007 closed

[2021-09-06 12:03] wadamek65 commented on #1008
Hi @Floriferous , thanks for the issue report.

I've checked the behavior that you have described and it seems like there is a problem with logic in the bridge.

[JSON Schema bridge](https://github.com/vazco/uniforms/blob/master/packages/uniforms-bridge-json-schema/src/JSONSchemaBridge.ts#L205-L227) seems to return `defaultValue` right away and returns `undefined` as a fallback, [whereas in Simple

[2021-09-06 12:16] radekmie commented on #1008
@wadamek65 No, that's just an oversight. Feel free to take this one.

[2021-09-06 13:02] wadamek65 commented on #1006
Hi @mdesousa , thanks for the issue report.

`$ref` is supported in uniforms, but seems like there is a bug when resolving a `$ref` that is pointing to another `$ref`

Until this is fixed, as a workaround, you can skip the intermediate reference and reference the definition directly.

[2021-09-07 21:49] chiester opened #1014 "onChange converts to controlled component? (Question)"
When I add an `onChange` prop to my AutoField and then select an item (it's a select list), the selected item no longer stays selected. What's the preferred way for me to be able to use the selected value in React state somehow but still have it be visibly selected and usable by uniforms?

[2021-09-08 04:51] chiester opened #1015 "How to load default values into form [Question]"
My apologies for beginner questions in the issues.

How do I use Uniforms to preload the form with values? Like if I want to use it as an update form, I fetch data from the back end and then the user can update their saved values, but I still want all the advantages of validation, etc. ?

[2021-09-08 08:11] wadamek65 commented on #1015
Hi @chiester ,

You can do it in a few ways, two most commonly used are:
1. Pass a `model` prop with your values to the form that you are using. As long as the properties passed exist in the schema, the inputs will get this value prefilled.
2. Depending on the bridge you are using, you can also define default values in the schema. For example, simple schema has a `defaultValue` keyword that you ca

[2021-09-08 08:11] #1015 closed

[2021-09-08 08:18] wadamek65 commented on #1014
Hi @chiester ,

If you only need the fields value I think `useField` hook could help you with this. [You can find the documentation for this here](https://uniforms.tools/docs/api-context-data#accessing-context-data). This hook will give you access to all of the fields data and you won't need to pass a `value` and an `onChange` to it explicitly.

[2021-09-08 08:18] #1014 closed

[2021-09-10 13:04] macrozone commented on #1001
just to add some information: 3.5.2 also breaks in nextjs (tried actually with 3.5.5). 3.5.1 works though

[2021-09-10 17:41] kestarumper opened #1019 "createAutoField: Cannot use 'in' operator to search for 'options'"
## Problem description
When providing a schema like
[code]
the `createAutoField` throws errors (or rather `AutoField` created from it) when checking for `options` property with the following error:
[code]

## Background
I've tried migrating from a custom AutoField to the one created by `createAutoField` but we were using a _component map pattern_ and we were using the `uniforms.component` schema p

[2021-09-11 18:54] chiester opened #1020 "[Question] Async validation: what has to be returned?"
I'm looking at the documentation at https://uniforms.tools/docs/api-forms/#asynchronous-validation

It seems that `onValidate()` has to return errors in order for the errors to be rendered in the form. What is the correct way to modify the errors to return them?

I'm making a call to my API to do my async validation and if it fails, it's not clear to me how to pass that response back to the form.

[2021-09-13 14:37] radekmie commented on #1001
@kestarumper Could you post your status here? I know you've checked something already.

[2021-09-13 15:06] radekmie commented on #1020
Hi @chiester. As with all errors in uniforms, the format of the error is specified by the bridge you're using. So, if you're using JSON schema bridge (I assume so, based on the ajv in your message), you have to return a list of [`ErrorObject`](https://ajv.js.org/api.html#error-objects)-like objects. (I say `ErrorObject`-like, as we're not using all of the properties. You can always check the [`get

[2021-09-13 15:06] #1020 closed

[2021-09-13 15:27] radekmie commented on #1019
@kestarumper While I was working on a test for the PR, I realized that adding a check for `component` being an object will not work anyway. The point is, that we do call `createElement` on `component.Component` or `component` anyway, therefore `TEXTFIELD` won't work.

@wadamek65, @Monteth: Do you have any comments here? Because I think that we won't be able to make it work without significantly ch

[2021-09-13 20:46] mdesousa opened #1024 "Required property inside required property does not show error"
Let us know what is happening. Do provide us with:

Hi, we are seeing this issue with the following packages:
uniforms@3.5.5
uniforms-bridge-json-schema@3.5.5
uniforms-material@3.5.5

We have a json schema defined as shown at the bottom... for example: `{ myObject: { myString: 'x'} }`
In this scenario, both myObject and myString are required properties.
We have a form with an `<ErrorField name="my

[2021-09-13 20:53] radekmie commented on #1024
Hi @mdesousa. Could you provide us with a more detailed instruction on how to reproduce it? When I used your schema in a playground ([link](https://uniforms.tools/playground/#?N4IgDgTgpgzlAuIBcICCATd0YwAQAoApAZQHkA5YgYwAsoBbAQwEoQAacCAezBmVEYBXeFxiMAblGQAzRgBs4HISLGSAIlDmMAnsgCMABgMd0ASzEAjOVHQz5ikFoubk8CIKgcwWqlBpc5dCgIOwVPEGhGdFIAOzldJFkwjhhaBkZkEHx8ZlwAXgA-XGAAHRjcXCouGJh4XEYAK3F83BioAHdcVCb8YH

[2021-09-13 20:54] #982 closed

[2021-09-13 20:55] #1006 closed

[2021-09-13 20:56] #1008 closed

[2021-09-13 21:08] radekmie commented on #994
I think that the topic is already covered. If needed, feel free to comment and reopen.

[2021-09-13 21:08] #994 closed

[2021-09-13 21:09] radekmie commented on #996
It seems that the problem is already solved. I'll close it, but feel free to comment though.

[2021-09-13 21:09] #996 closed

[2021-09-14 01:50] mdesousa commented on #1024
Ah, sorry... it's a simplified version of what we are doing. I'll try to find a way to reproduce it... may take me a few days.
Thanks!

[2021-09-14 07:18] kestarumper commented on #1019
@radekmie for me the problem was that
[code]
first takes `props.component`, but in my case, I would like to use this keyword to determine the `component` based on the `componentDetector`. If we could detect if `props.component` is not a `React.ComponentType<unknown>` then we could do something with this (to be discussed I guess).

I see this is just a collision of _reserved_ fields. To be honest,

[2021-09-14 07:25] radekmie commented on #1019
The problem is that a string _is_ a valid component. But not every string. And it also differs between environments, as one can have a custom renderer or use WebComponents.

Unfortunately, I think we'd have to pass on this one. Changing it e.g., in a way that `componentDetector` is _always_ called would be a breaking change. But let's give it some time, maybe someone else will have another idea.

[2021-09-15 11:55] kestarumper commented on #1001
A few facts from my side.

# uniforms 3.5.5
## create-react-app
- works fine
- by default loads `uniforms/esm`
<details>
<summary>tsconfig</summary>

[code]
</details>

## gatsby
- works fine
- by default loads `uniforms/es5`

<details>
<summary>tsconfig</summary>

[code]
</details>

Right now I'm performing further tests on what might be the issue, and I'm trying to find a common solution.

[2021-09-18 07:44] niklasdahlheimer opened #1029 "custom field error after update: "useForm must be used within a form""
Hey guys,

After I updated my uniforms-packages my custom fields are no longer working and I get a console error:
[code]
This is strange, because of course I use my custom fields inside a form (AutoForm)

It looks like updating the **uniforms-semantic**-package from **3.5.0 to 3.5.1** breaks it.

Have a look at this striped down example:
https://codesandbox.io/s/uniforms-custom-field-useform-issue

[2021-09-20 10:39] nestarz opened #1030 "GraphQLBridge: Cannot init an AutoForm from the most basic code"
Code:
[code]

Error i get using this code:

[code]

Context:
[code]

[2021-09-21 09:29] wadamek65 commented on #1030
Hi @nestarz ,

It seems like there is a mistake in your code. `GraphQLBridge` is a class and you need to pass an instance of it to the `Autoform.schema` prop. Please change your code as follows and see if this resolves your problem:

[code]

[2021-09-21 17:49] bennycode opened #1031 "Update from 3.5.5 to 3.6.0 breaks API"
I just upgraded uniforms & uniforms-material from v3.5.5 to v3.6.0 in my TypeScript project and it looks like it introduced breaking changes.

It wants me to change my `onSubmit` handler from:

[code]

to:

[code]

Is this intentional and are there any more breaking changes?

Best,
Benny

[2021-09-22 07:24] wadamek65 commented on #1031
Hi @bennycode ,

Yes, this is intentional. In v3.6.0 we have added proper typings to all form components which may result in these errors. Please refer to the [documentation here](https://uniforms.tools/docs/faq#why-am-i-suddenly-getting-type-errors-in-my-form-components) for a workaround if you are unable to add the correct type.

If you notice any inconsistencies in the new types, please let us

[2021-09-27 15:42] Monteth commented on #998
I have added tests based on your reproduction [code](https://github.com/vazco/uniforms/commit/39cfac2fb13d1fc01562f94d5487b55b9cf852ee) onto #969 fix, but with no luck - the issue still occurs. I will check it directly.

[2021-09-28 12:11] niklasdahlheimer commented on #1029
any news on this? I couldn't find any breaking changes between 3.5.0 and 3.5.1
https://github.com/vazco/uniforms/compare/v3.5.0...v3.5.1

I'm not using TypeScript in my custom field but this should not cause the react error...

[2021-09-28 13:20] Monteth commented on #1029
Hello @niklasdahlheimer ,
At the very beginning, I wanted to thank you for preparing the reproduction environment  👏🏻
I confirm that updating only the `uniforms-semantic` version somehow breaks the app, but I didn't spot such a situation while updating them all together, which we strongly recommend. Is it possible to you to stick with one version for all uniforms packages?
I think the changelog is

[2021-09-28 13:41] niklasdahlheimer commented on #1029
Hey @Monteth ,

In 90% reproduction environments and reducing the issue to it's core solves the problem, so building the sandbox was driven by self-interest :D

Did you try to update them all together _in the sandbox_? Because I still get the error when updating all the uniforms-packages to 3.6.0 (latest) there
I just used different package-versions to delimit the issue, I do not need different pa

[2021-09-28 13:53] wadamek65 opened #1037 "Improve BaseForm's getNativeFormProps types"
https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/BaseForm.tsx#L169

Things we could improve:
1. Add proper types for `key` and `onSubmit` properties as these are always present.
2. Change `Record<string, any>` type to `Record<string, unknown>` as it will be overall more type-safe.

[2021-09-28 13:57] Monteth commented on #1029
Couldn't agree more :)

Yes, I did, and I am able to fix your reproduction app by changing the import source in `PopupColorField` from `uniforms/es6`
`uniforms;`.
This could be the main reason, but please confirm if you have similar cases in your real application.

[2021-09-28 18:16] niklasdahlheimer commented on #1029
that indeed fixed the issue! Thank you! I guess I have to learn more about typescript and how it compiles to understand why this fixed it.

[2021-09-28 18:16] #1029 closed

[2021-09-29 09:32] #1004 closed

[2021-09-29 09:34] radekmie commented on #1030
It looks like the issue is resolved. If there will be any further questions, feel free to ask them here.

[2021-09-29 09:34] #1030 closed

[2021-09-29 09:35] radekmie commented on #1031
As @wadamek65 said, it was an intentional change - previously there were basically no types at all. If there are other issues, do let us know!

[2021-09-29 09:35] #1031 closed

[2021-09-29 09:53] #1001 closed

[2021-09-29 10:00] radekmie commented on #1019
It turns out, there's no way to implement it without introducing a breaking change. The solution is to use a different name instead of `component` - this one remains "reserved" for the `AutoField`.

[2021-09-29 10:00] #1019 closed

[2021-09-29 10:28] radekmie commented on #806
We'll leave it for now, as there's no easy way of handling it.

[2021-10-02 17:36] flean opened #1038 "Material UI ThemeProvider"
I'm using the Material UI ThemeProvider that wraps my APP in React

import { ThemeProvider } from '@mui/material'

But when I import import { AutoForm } from 'uniforms-material' it messes up my theme.

How do I make uniforms-material use my theme?

I noticed that you use "@material-ui/core" and I'm using "@mui/material". I'm guessing this could be the issue, if so is there a workaround ? Thanks

[2021-10-03 10:02] radekmie commented on #1038
Hi @flean! As you've noticed, the `uniforms-material` package is based on `@material-ui/core`, not `@mui/material`. There's no "workaround" for that, other than creating a new theme, using the new package. You can follow our discussion about that in #1011.

[2021-10-03 10:02] #1038 closed

[2021-10-05 18:17] alihuber commented on #345
Cloud it be that this issue reappeared? This is happening to me with semantic and uniforms-bridge-simple-schema-2, v3.6.1:

<img width="1136" alt="Bildschirmfoto 2021-10-05 um 20 03 16" src="https://user-images.githubusercontent.com/1455187/136078252-7818152c-5834-404c-a472-88427f5bc8df.png">

<img width="959" alt="Bildschirmfoto 2021-10-05 um 20 02 56" src="https://user-images.githubusercontent.c

[2021-10-06 10:30] wadamek65 opened #1039 "uniforms-bridge-simple-schema-2 does not pass uniforms.type prop correctly"
[Link to playground reproduction](https://uniforms.tools/playground#?N4IgDgTgpgzlAuIBcIDqUA2BjA9gWygEIQAacCHMGZUAQwFd4cZaA3KZAM1ozjIaYt2AEUy0AnsgCMABhlkAJgEsWAIwxQFXHnxAZaqzMngR6UMmH1YoACxwYFUCNt7mQ0WgoDyAOwySkblcyGCwbKDxaZBAfKAB3AAIAZSU8SygksIjaACYAIQglBQBzKAAKAB0fBITYxJS0jUzwyLLgKpqasFoYGDicCAUkBOAE-HEwKGGkkyUfYpIE-h8lTgG8GGHR8cnhgHJu3v7BvYSAX3OO84BKKuvSEBg7OIBJPzmoAFEICmdAnTcPXEPiwviS9FUeCUiH-w

[2021-10-06 10:31] wadamek65 commented on #345
Hi @alihuber ,

Thanks for your comment. It does indeed seem like the same problem is present in simple schema bridges. I've managed to write a test to reproduce this bug and filed an issue for it here: https://github.com/vazco/uniforms/issues/1039 If you have any other remarks please post them there.

[2021-10-08 12:14] radekmie commented on #998
It took us some time, but we're finally aware of all of the problems and options.

First of all, what the problem is? In some cases, `value` returned from `useField` (and `connectField`) is a new instance of an array or object. It's the case only for optional fields, as the required ones will be initialized in the `model` ([that's how the `initialValue` flag works](https://github.com/vazco/uniform

[2021-10-09 13:42] nestarz commented on #1030
It worked ! Thank you

[2021-10-13 10:36] radekmie opened #1048 "Consider removing `props` from `Bridge.getInitialValue`"
As described in https://github.com/vazco/uniforms/issues/998#issuecomment-938594418, passing `props` to `Bridge.getInitialValue` was not well-thought:

As this is the only usage of it within the core themes and we haven't seen any "in the wild", we decided to deprecate this feature and remove it in v4. This issue is a place to raise concerns, questions, or alternative proposals.

[2021-10-15 20:38] #1039 closed

[2021-10-15 20:41] radekmie commented on #1024
I'm closing this for now, but feel free to comment as soon as you'll have a reproduction. Thanks!

[2021-10-15 20:41] #1024 closed

[2021-10-20 14:54] guyathomas opened #1054 "Material UI 5 Adapter"
Material UI 5 is finally out of Alpha and it would be great to leverage it.

https://mui.com/getting-started/usage/

[2021-10-22 07:07] radekmie opened #1057 "Consider replacing `randomIds` with `useId`"
Last year, React introduced a new hook: `useOpaqueIdentifier` (https://github.com/facebook/react/pull/17322). I wasn't _that_ eager to implement it, but things have changed, as it gets some lifting and will be replaced by `useId` (https://github.com/reactwg/react-18/discussions/111). This could be used to replace `randomIds` entirely, but has a drawback - we'd have to increase the minimum React ve

[2021-10-26 09:15] drazik opened #1060 "Synchronous submit"
I installed uniforms on a project and built a custom theme. It's neat and works fine. The vast majority of the forms in my app are asynchronous. When the user submits it, I send and asynchronous request to the server using `fetch`. But now I have a new case in which I want to submit a form in a synchronous way (ie. don't prevent the `submit` event when the users submits the form).

I looked at the

[2021-10-27 07:57] #1060 closed, assigned to radekmie

[2021-10-31 14:05] salaimuniselvam-s commented on #219
I also have the same issue .. how do i fix it...

[2021-11-02 15:51] macrozone commented on #980
I was a bit surprised by this.

Wouldn't it be more logical that all Forms declare this provider with the default AutoField? And if you would pass `autoField` as prop, it would just pass a custom one to the provider?

That's in my opinion a far less surprising api than the new approach with forcing to wrap all forms with a context-provider.

[2021-11-02 15:52] macrozone opened #1064 "componentDetectorContext throws error if null is returned as a component"
I am about to add conditional rendering, but that has to be schema driven.

So i need to alter the Autofield to check for a `condition` property.

Here, you probably would return `null` as a component like this:

[code]

but that throws an error. Solution is to return a `Noop`-component:

[code]

[2021-11-03 08:53] wadamek65 commented on #1064
Hi @macrozone ,

This is the correct behavior. The context expects you to return a function that a quick form can then call to render appropriate components. What kind of error exactly are you getting? Is it a runtime error or a TS error? If the latter then there is probably an inconsistency in the typings.

[2021-11-03 09:14] macrozone commented on #1064
there is a invariant error, no type error, and yes , that is intentional, not sure if its a good api though. I think its legitimate to decide to render no field on props.

Workaround is easy to do, but not obvious, its kind of a "principle of least surprise"-violation.

[2021-11-03 09:21] wadamek65 commented on #1064
@macrozone Thanks for the clarification. I understand your point of view, but at the same time, I think the API is simple enough and there should also be TS types to help. Also, due to how the current component logic (usage of `createElement`) is written a change in API like this may not be trivial so we probably will not implement this currently. @radekmie @Monteth @kestarumper any thoughts?

[2021-11-03 09:35] macrozone commented on #1064
@wadamek65 i mean there is another way to go:

i used this approach by beeing able to hide fields by defining custom properties on the schema
(see this example in the [docs of my library "react-page"]( https://react-page.github.io/docs/#/custom-cell-plugins?id=passing-props-to-fields) with the `showIf`-property),  I heared this [complaint](https://github.com/react-page/react-page/discussions/1091)

[2021-11-03 11:48] #981 closed

[2021-11-03 11:58] radekmie commented on #980
The point of this change is to have exactly one API for doing so. We have to implement it _somehow_, so the context is here to stay. That means the `autoField` prop is redundant.

That'd mean we _always_ have to render the provider and that's not the case now. It probably wouldn't be as much of a problem, but it's always better not to render something if it's not needed.

You're not _forced_ to us

[2021-11-05 17:02] Floriferous opened #1066 "Optional defaultValue does not populate form model, but field only"
As you can see in this reproduction: https://codesandbox.io/s/jolly-perlman-ntuxi

Both fields in the form are filled with their defaultValue, yet only str1 is set in the form model. This causes weird bugs as we rely on the model being exactly what is shown on screen.

This is the schema in question:

[code]

[2021-11-09 12:16] wadamek65 commented on #1066
Hi @Floriferous , thanks for the issue report and the reproduction 🙏

It does indeed look like the behavior is inconsistent and should be adjusted. It seems like [this part of code](https://github.com/vazco/uniforms/blob/619d2620a50adaae53d2b9b5078cc0486bac7157/packages/uniforms/src/useField.tsx#L100-L103) is preventing the model from being set properly. We'll have to investigate and see how we ca

[2021-11-09 12:53] radekmie commented on #1066
This is definitely not a bug, and I'm on a fence whether it's an inconsistency. [Since the first version of uniforms](https://github.com/vazco/uniforms/commit/a4161b5d4ef39d34255d93077e62e95e9575580f#diff-dd031d1e54f09c6a0a88bd009bd2b8e47aa4c90ae295ad5ec3fbcb320800618fR22-R29), we assumed that optional fields don't have to be populated in the model, as the schema will fill them in during cleaning/

[2021-11-09 16:00] Floriferous commented on #1066
Well to me there are really only 2 options:
* You set the default value in the field and in the model
* You don't set the default value, neither in the field, nor in the model

Right now it's a mix of both.

The problem for us is the following: Some of our fields depend on a field having a certain value (in the model). There is no other way for us to know the value of that field other than through

[2021-11-24 15:14] radekmie commented on #1066
Sorry for not answering for so long. We've had an internal discussion about that, and it's (most probably) going to be changed in v4. We do have a few more things to go through to make sure nothing will break. We'll keep this issue updated.

[2021-12-09 11:43] hickscorp opened #1072 "Simple `if/then` fails to render."
## Bug

Consider the following type:

[code]

The schema follows this type one for one:

[code]

When uniform tries to render this, everything works until the user selects the option that would require generating new fields.
Note that we have simplified the problem into a simple example - in reality we have much more complex conditions, involving severa variables in the `if/then` or `oneOf/allOf`

[2021-12-10 10:41] radekmie commented on #1072
Hi @hickscorp. The answer is short: in uniforms, the forms know about the possible fields from the bridges. And the bridges cannot depend on the current model (i.e., data). So overall, in the current architecture, it's simply not possible.

But! The option would be to implement a custom `AutoField` that would actually understand the `if/then` and any other properties (including your custom ones, i

[2021-12-10 10:46] radekmie commented on #1064
_(We've had a team discussion about this issue, and here are the notes.)_

What happens now, is that the component is required, therefore the code fails when `null` is returned (both on type level and in the runtime).

Possible options:
1. `null` remains not allowed.
2. `null` means "render nothing".
[code]
3. `null` means "fallback to default".
[code]
4. `null` means "render nothing", `undefined`

[2021-12-10 10:46] #1064 closed

[2021-12-10 10:46] radekmie commented on #1054
_(We've had a team discussion about this issue, and here are the notes.)_

* We'd like to have an MUI (a.k.a. Material UI 5) theme.
* @Monteth will post the initial draft of the time as soon as possible.
* @wadamek65 will probably overtake the integration.

[2021-12-10 10:49] radekmie commented on #963
_(We've had a team discussion about this issue, and here are the notes.)_

* Current behavior:
    * `joinName('a', 'b') === 'a.b'`.
    * `joinName('a', "'b") === "a.'b"`.
    * `joinName('a', '"b') === 'a."b'`.
    * `joinName('a', 'b.c') === 'a.b.c'`.
    * `joinName(null, 'a', 'b') === ['a', 'b']`.
    * `joinName(null, 'a', "'b") === ['a', "'b"]`.
    * `joinName(null, 'a', '"b') === ['a', '"

[2021-12-10 10:51] radekmie commented on #985
_(We've had a team discussion about this issue, and here are the notes.)_

* We won't provide any further API for the `childrenErrors`. If needed, one can use `bridge.getSubfields` + `bridge.getError`/`bridge.getErrorMessage`.
* We'll implement that for the built-in `SelectFields` (by rendering the first error).

[2021-12-10 10:52] radekmie commented on #862
_(We've had a team discussion about this issue, and here are the notes.)_

We've decided to implement it, but as the proposal is a breaking change, it'll happen in v4.
* Have a single function called `getOptionProps` (a better name is needed).
[code]
    It's entirely backward compatible if you're not using `disableItem` nor `transform`.
* Allow `allowedValue` to be a list of `OptionProps` instead

[2021-12-10 10:53] radekmie commented on #806
Instead of using `allowedValues` as defined in #862, we'll use `options` prop instead. And it won't be resolved on the bridge level, but on the field instead.

[2021-12-10 10:53] radekmie commented on #1066
_(We've had a team discussion about this issue, and here are the notes.)_

We've decided that in v4 all `defaultValue`s will be initialized in the `model` immediately.

[2021-12-10 10:54] radekmie commented on #980
_(We've had a team discussion about this issue, and here are the notes.)_

We've decided to remove it in v4.

[2021-12-10 10:54] radekmie commented on #1048
_(We've had a team discussion about this issue, and here are the notes.)_

We've decided to remove it in v4.

[2021-12-10 10:55] radekmie commented on #1057
_(We've had a team discussion about this issue, and here are the notes.)_

We've decided to use as soon as it'll be ready. It may not be in v4 as it may happen before React 18.

[2021-12-10 10:56] radekmie commented on #973
_(We've had a team discussion about this issue, and here are the notes.)_

We've decided to implement it in v4, including these breaking changes:
* We'll remove the `placeholder` fallback at all.
    * That also means we'll get rid of the `placeholder` property in the context.
* We'll look into removing the fallback of `label` as well. It just needs to be confirmed whether or not projects are actu

[2021-12-10 11:56] hickscorp commented on #1072
@radekmie thanks a lot for taking the time to support our question.
I'm looping in one of our frontend developers to evaluate the implications - we will surely let you know what is our thought process and decision in the end, in case it is helpful.

[2021-12-10 12:41] radekmie commented on #1072
Great! I'll close the issue for now, but feel free to comment here if you'll have anything.

[2021-12-10 12:41] #1072 closed

[2021-12-16 08:14] Floriferous commented on #1054
![meme](https://user-images.githubusercontent.com/10428082/146333169-20addcd0-90b4-4fb6-b1a3-c1ab7c0763f9.jpg)

(I know I should just write a PR myself, but that's how I feel right now ;) )

[2022-01-03 10:58] JanMP commented on #1001
With Meteor 2.5.2 and Uniforms 3.7.0 everything works fine in the browser, but I get the error with Cordova (output from ios, android does not work either).

[code]

[2022-01-10 10:28] radekmie commented on #1001
Hi @JanMP, sorry for the late response. As we're not using Codova ourselves anymore, we'd need a reproduction to confirm and fix that. Please do file a new issue with a reproduction.

[2022-01-10 12:17] afmfe-iul opened #1083 "Explicit form types introduced on v3.6.0"
Hey there!
On our project we use uniforms and TypeScript (v4.5.4) extensively and last week we upgraded `uniforms` / `uniforms-semantic` / `uniforms-bridge-json-schema` from v3.5.5 to version v3.7.0, which caused a couple of type errors. After going through the [changelog](https://github.com/vazco/uniforms/blob/master/CHANGELOG.md) we found out that very likely #1003 (from v3.6.0) is where the iss

[2022-01-11 11:14] JanMP opened #1084 "Cannot call a class constructor without new with local copy of uniforms-unstyled on meteor cordova"
Working with a copy of the sources of uniforms-unstyled (both in the meteor project itself and from a meteor-package) works fine in the browse now, but causes the old type error #1001 on cordova.

Tested with uniforms 3.7.0 and meteor 2.5.3.

[code]

See https://github.com/JanMP/uniforms-repro for a reproduction.

[2022-01-14 12:25] radekmie commented on #1083
Hi @afmfe-iul! You've found the correct suspect here - #1003. And yes, as a current workaround, casting the form to `any`.

Now, let's get to the errors step by step:
1. `className` should be inferred from the `HTMLFormElement` props, but it's not now. I see that as a proper improvement that we could do. However, it's possible to override the actually rendered component, so we should somehow carry

[2022-01-14 12:26] radekmie commented on #1084
Hi @JanMP, thanks for the reproduction! @kestarumper - can you look into it? You've done a great job with #1001 and this is somehow the same.

[2022-01-17 08:30] wadamek65 commented on #1083
Ad. 3: I'm also not sure, because even though a passed validation should ensure the model to be present there in most cases, there are situations where that is not true, for example in custom bridges. Maybe another approach would be to not try to type this at all and instead force the user to? Like make it an `unknown` type and make the `AutoForm` accept a generic type of the expected model? Or ke

[2022-01-19 14:49] radekmie commented on #1083
Small update: we'll keep it the way it is for a little more time and discuss it internally once again. Especially as we're already discussing v4.

If you have any ideas or points about this topic - do let us know here.

[2022-01-19 17:37] afmfe-iul commented on #1083
Hey @radekmie and @wadamek65 ! Thanks for the explanation on each point and for the update.

Unfortunately I don't have suggestions on how to solve these issues (my knowledge of your source code is not deep), however generics is something we use frequently on our project and are used to deal with with other packages, it would be an awesome first step away from the current fix.

For us types are es

[2022-01-27 11:25] JanMP commented on #1084
I've been working with a workaround (change uniforms-unstyled in a fork of the uniforms repo, build the whole thing and then npm import, wich really is not fun when you fiddle around with it). I just reverted the workaround and noticed that the code with the local copy of uniforms-unstyled is still running in the cordova app. Seems the bug is only happening when you actually build the cordova app

[2022-01-28 00:04] boertel commented on #1054
We did it here: https://github.com/comediadesign/uniforms-mui-5 mostly fixing imports and props but also remove the tests since we didn't bother migrating all of them 😬 I've been using it for 2 months, and we didn't have any issues with it (yet...)

[2022-01-28 08:37] radekmie commented on #1054
That's great @boertel! We have a meeting today and we'll check out your package. Would you be interested in maintaining it yourself, or maybe transfer it here?

[2022-01-28 13:31] kestarumper commented on #1084
Hi @JanMP , I tried to reproduce the build error on Cordova but I wasn't able to (yet it gave _weird_ output).
I did run `meteor run ios` which **successfully built** and run the emulator, however, it displays an empty app.
Could I ask you to give me the set of instructions you ran to receive the error?

[2022-01-28 15:15] JanMP commented on #1084
That's (probably) exactly the error.
While running meteor run ios you can also look at the app on your browser (preferably Safari) on localhost:3000
I just added a toggle button to the repro. So now you should at least see that button when you run one of the broken imports. And that toggle also keeps Meteor from rejecting the hot-code push of broken versions once you have tried the working import

[2022-01-28 15:40] kestarumper commented on #1084
The app (from `meteor run ios`) was served on `localhost:3000` and working fine. It's just the emulator that did not show anything - but I also suspect that maybe my computer was overloaded. I'll try running it on an actual device.

Btw, thanks for an update. I'll continue the investigation.

[2022-01-28 16:49] boertel commented on #1054
I'm a contractor working on a project so I don't see myself maintaining it but I'm happy to transfer it!

[2022-02-04 11:16] radekmie commented on #1054
We'll try the [codemod](https://mui.com/guides/migration-v4/) first and if it'll take too much time, we'll ask you for help.

Separately, we'll contact you about the package name on npm later.

[2022-02-11 18:04] wadamek65 commented on #1054
@Floriferous @guyathomas @boertel  Just FYI: We have started working on implementing MUI v5 theme in uniforms. So far the codemod has worked really well and a large portion of work is already done. We will be posting updates on our progress as we go.

[2022-02-12 14:12] #963 closed

[2022-02-12 14:15] radekmie commented on #1084
A small update: we're having a hard time finding the culprit of this issue. We'll still continue, but with a slightly lower priority, as it seems not to have any impact on other platforms.

In any case, if anyone would like to help with this one, go ahead!

[2022-02-14 10:39] yudao opened #1088 "[V3.8] - Package uniforms-bridge-json-schema regex problem on safari"
Affected Package: ```uniforms-bridge-json-schema```
Affected version: ```3.8```
Error after run npm run dev: ```SyntaxError: Invalid regular expression: invalid group specifier name```
Affected OS: ```Safari```

Regex problem uniquely on Safari (This is because Safari browser does not support regular expression zero assertion in two// formats:<= , ?<!).

Chrome is OK.

I have tested all my package

[2022-02-14 10:59] JanMP commented on #1088
Same problem here. Works with 3.7.0 but breaks on 3.8.

[2022-02-14 11:40] wadamek65 opened #1089 "Uniforms playground crashes"
Issue created for visibility and acknowledgment.

https://uniforms.tools/playground/ crashes with the following error.

![image](https://user-images.githubusercontent.com/36732892/153857830-3853da36-2cf8-42f7-97b4-a6943772ca2d.png)

[2022-02-14 12:43] wadamek65 commented on #1088
Hi,

Thanks for reporting the problem. The issue was most likely introduced in: https://github.com/vazco/uniforms/commit/331f717fca768b0f82315023522b6b8054284ebb and is probably related to [this RegEx](https://github.com/vazco/uniforms/commit/331f717fca768b0f82315023522b6b8054284ebb#diff-194906e60835baf3cb7b0bd5e698f97e9115694e5fe00dd34d1753ae3a62dd5cR37).

[2022-02-15 11:31] #1088 closed

[2022-02-15 11:42] JanMP commented on #1084
I'm back on the workaround. What I do: I got a fork of the uniforms repo and copy my version of uniforms-unstyled  into uniforms-unstyled/src and build the repo.  Then I commit the changes to just the uniforms-unstyled repo (https://github.com/JanMP/uniforms-custom). I can then use ```npm i github:janmp/uniforms-custom```  and then imports from 'uniforms-custom' work fine.

I thought the problem m

[2022-02-15 13:20] radekmie commented on #1089
I've fixed that in b1ba95d - configuring Browserslist was enough.

[2022-02-15 13:20] #1089 closed

[2022-02-15 13:21] radekmie commented on #1084
@JanMP Can you maybe try to configure Browserslist for Cordova? I'm not sure whether it's possible, but it solved a similar problem in https://github.com/vazco/uniforms/issues/1089.

[2022-02-28 09:34] radekmie opened #1094 "Forwarding of `disabled` prop with `useField`"
### Discussed in https://github.com/vazco/uniforms/discussions/1093

<div type='discussions-op-text'>

<sup>Originally posted by **simplecommerce** February 24, 2022</sup>
Hi,<br>
I have a Checkbox field that I built using `useField(props.name, props, { absoluteName: true });`.
When I set `disabled` on the `AutoForm` component, it passes the `disabled` state correctly to my Checkbox.<br>
In my cur

[2022-02-28 10:49] simplecommerce commented on #1094
@radekmie

I don't know if its a bug though.

In my "custom" field, I am doing this:

`<CustomFIeld disabled={get(props,"disabled")} />`

If `disabled` is `true` it would disable it, but if the prop doesn't exist, it would be `undefined`.

I think in your logic, you would have to clean the `undefined` attributes so that they don't overwrite the default ones.
But should this be part of your logic,

[2022-02-28 12:34] radekmie commented on #1094
I partially think it is a bug - we recommend the users to specify this prop and it's marked as optional (e.g., `disabled?: boolean`). However, we may want to enable [`--exactOptionalPropertyTypes`](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-4.html#exact-optional-property-types---exactoptionalpropertytypes) and call it a day (i.e., it's _optional_, not _optional or `und

[2022-02-28 14:44] radekmie commented on #985
Here's a proof of concept of the error extraction:

[code]

However, it requires an additional `useField` in the field component, that I don't really like. It is a start, though.

[2022-03-09 08:59] kestarumper opened #1095 "Algolia search bar not returning results"
## Problem
When I enter the current [uniforms.tools](https://uniforms.tools/) page and try searching through documentation using Algolia search **it returns no results**.

<details>
<summary>See screenshot</summary>

![image](https://user-images.githubusercontent.com/13087338/157406998-19c441d0-c08c-4391-87f2-d6ac56fd9a0d.png)
</details>

## Steps to reproduce
 - go to [uniforms.tools](https://uni

[2022-03-10 12:03] JanMP commented on #1084
I finally got around to open an issue about this in meteor https://github.com/meteor/meteor/issues/11969

[2022-03-10 12:19] radekmie commented on #1084
Great that you've finally found it! Looking forward to some feedback from the Meteor side.

[2022-03-14 16:11] #1095 closed

[2022-03-17 14:12] bennycode opened #1097 "Explicit typings for keys allowed in schema for JSONSchemaBridge"
I am using the `JSONSchemaBridge` and it allows to pass in a `schema` of type `Record<string, any>` which allows any key name. Is it possible to provide a stricter typing here so developers get to know that there are specific properties such as `title`, `type`, `properties` and `required` (as listed here: https://uniforms.tools/docs/api-bridges/#jsonschemabridge)?

[2022-03-18 12:32] radekmie commented on #1097
Hi there @bennycode! I fully understand where is this coming from, but there's the thing: a schema itself can look completely different. For example, it may use a `$ref` and `definitions` pair to define the schema instead of `properties` directly. Ideally, we would use something like [`JSONSchemaType<T>`](https://github.com/ajv-validator/ajv/blob/95b15b683dfb60f63c5129b0426629b968d53af8/lib/types/

[2022-03-18 12:42] bennycode commented on #1097
Thanks for your fast response. Your explanation makes sense to me. Can you point me to demo code where you have applied [JSONSchemaType<T>](https://github.com/ajv-validator/ajv/blob/95b15b683dfb60f63c5129b0426629b968d53af8/lib/types/json-schema.ts#L143-L146)?

[2022-03-18 12:46] radekmie commented on #1097
It's in a project I cannot share, but the idea is very simple:
[code]

[2022-03-18 12:49] bennycode commented on #1097
Thank you! I will give it a try. 😀

[2022-03-18 12:49] #1097 closed

[2022-03-21 11:22] kestarumper commented on #1095
Thanks guys! you're the best!

[2022-03-31 04:21] vcardins opened #1099 "Add the option to select DateField type"
Currently, there is only the option to select a date and time on the DateField component.
https://github.com/vazco/uniforms/blob/master/packages/uniforms-material/src/DateField.tsx#L61

Maybe the `type` prop could be variable even if its default value is "datetime-local"

[2022-03-31 11:21] wadamek65 commented on #1099
Hi @vcardins , thanks for the issue report.

I agree with you and I think it would make sense to be able to handle the `date` type. Other types probably cannot be supported as they would break the functionality of the field if they were used.

Just to make sure - is `date` indeed the type that you would like to pass or do you have a different use case?

[2022-03-31 11:25] wadamek65 commented on #1057
React 18 has shipped and along with it the [`useId`](https://reactjs.org/docs/hooks-reference.html#useid). If we upgrade to React 18 in v4, we should try to use it.

[2022-03-31 11:56] wadamek65 commented on #1094
@radekmie I don't quite understand how `[--exactOptionalPropertyTypes](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-4.html#exact-optional-property-types---exactoptionalpropertytypes)` would help in this case as it would not enforce this on the consumer of the API and people could still pass explicit `undefined` as a prop? Or would it help in some other way?

Also, perhap

[2022-03-31 12:16] radekmie commented on #1094
@wadamek65 It's not going to _fix_ it, but with that enabled we'll be safe from falling into this problem ourselves. About this task, we'd have to say in the docs explicitly, that it's _optional_, not "`undefined`-able".

[2022-03-31 13:02] simplecommerce commented on #1094
I think merge or mergeWith would work. I tested the following and it doesn't replace the disabled option when undefined.

[code]

Your order could be kept without changing it.
Also if there are any other states that can be overwritten by the schemaProps or props, this would help too in those cases.

You would have to check if going this routes could impact or break anything in your overall logic a

[2022-03-31 13:06] radekmie commented on #1094
Right, we'd have to test it... I will let you know about that.

Sorry for it taking so long though.

[2022-03-31 13:06] vcardins commented on #1099
@wadamek65 Thanks for the quick reply. Initially, the date is the only use case that I need at the moment, but whichever types are possible would make it more flexible.
Thank you!

[2022-03-31 13:20] simplecommerce commented on #1094
No worries, I didn't think it was a bug in the first place and only stumbled upon it because of a specific scenario.

Not related to the current issue, but have you guys ever thought about having a method similar to `modelTransform` that would allow the user to change the `schemaProps` on the fly, like in this case, to disable a field without having to create a custom component?

Example, in this

[2022-03-31 13:35] radekmie commented on #1094
We actually use custom `AutoField` for that, as it can access the props, context, and any hooks you need. Give it a try and let us know.

[2022-03-31 13:44] simplecommerce commented on #1094
I think it wouldn't work in my case, in my usage, I created custom components using `useField` inside all of them and I place them in a custom layout without relying on AutoField and underlying themes.

So in order to pass disabled to a component based on context and model, I created a `DisableIf` component that I wrap around my custom component (if needed).

[2022-03-31 13:45] radekmie commented on #1094
Sure, a `DisabledIf` is also totally fine. If you have something particular in mind, let's create a separate discussion for that.

[2022-03-31 14:57] radekmie commented on #1094
I've run some tests:
* We can't use `_.merge`/`_.mergeWith`, as it's deep copying the objects and it causes problems with props like `children`. (It's also a performance hit.)
* A handmade version of `_.merge` that does the exact same thing but shallowly works for most cases, but breaks a few tests, as passing `value={undefined}` in props no longer works ([test](https://github.com/vazco/uniforms/b

[2022-03-31 15:07] simplecommerce commented on #1094
maybe you can only merge the props that are part of state and exclude children and also useMemo to compare for any changes so it doesn't always call the merge?

[2022-03-31 15:50] vcardins commented on #1099
I see. Could it then cover just datetime-local and date types? I believe that in the majority of the use cases only date is needed. Thanks!!

[2022-04-01 12:04] radekmie commented on #1094
Special handling of these props would make the implementation even harder. I think that the only reasonable solution **for now** is to leave the code as it is and add a point about that in the docs (+ maybe in JSDoc?). We can get back to it in v4.

[2022-04-01 12:07] radekmie commented on #1099
We've discussed it internally and we're willing to add support for `type="date"` as well, but there's no high priority for that. If you'd like to give it a shot, feel free to do so!

Things to do:
* Handle `value` formatting differently, based on `type`.
    * I think that something like `type === 'date' ? type : 'datetime-local'` would be fine; `type` alone is a uniforms prop (e.g., `Date`) so we

[2022-04-01 12:12] radekmie commented on #1084
The problem got solved in https://github.com/meteor/meteor/issues/11969.

[2022-04-01 12:12] #1084 closed

[2022-04-01 13:21] #1094 closed

[2022-04-01 16:50] vcardins commented on #1099
Thanks, @radekmie. I'll work on that!

[2022-04-01 18:13] vcardins commented on #1099
@radekmie Please, I'd appreciate your review on the PR https://github.com/vazco/uniforms/pull/1103

[2022-04-01 21:11] vcardins commented on #682
@radekmie I might be doing something wrong then, I tried your suggestion, just to log in to the console but it doesn't update the form values. Please, have a look: https://codesandbox.io/s/chained-dropdown-j0g2hc

[2022-04-01 22:16] vcardins opened #1104 "Custom Field - Chained dropdown not working"
Trying to create a custom field but it's failing to render.

`ProductsField`

[code]

`schema`

[code]

Error

![image](https://user-images.githubusercontent.com/2383329/161348242-b0985fbd-4829-4f22-93ac-71852c224c55.png)

[2022-04-04 10:32] radekmie commented on #1104
Hi @vcardins. Could you show the usage of `ProductField` as well? I guess you use it with `name="productType"` (either directly or indirectly, through `AutoForm`), is this correct?

If so, the problem is simple: `connectField` adds the `name` prop to the name chain ([docs](https://uniforms.tools/docs/api-context-data/#name)) and then renders `AutoField` that adds another name. The solution is also

[2022-04-04 10:42] radekmie commented on #682
@vcardins You were not passing the `model` to your `useUniform` hook.

[2022-04-04 18:09] vcardins commented on #1104
@radekmie Unfortunately your suggestions didn't work,
1. if I remove `connectField` and leave ```javascript
<AutoField
			name="productType"
			variant="standard"
			// @ts-ignore
			options={options}
		/>
[code]
<SelectField
	name="productType"
	variant="standard"
	// @ts-ignore
	options={options}
/>
[code]

[2022-04-05 07:31] radekmie commented on #1104
OK, then I guess you're using it as a component defined in your schema. In this case, both options will indeed loop. It's because there's no other way of knowing what to render if you've already said to render this component.

I understand this may look suboptimal, but using the exact component you want (here: `SelectField`) is the easiest way of doing so.

[2022-04-05 07:49] wadamek65 commented on #1054
@vcardins You can track the exact progress on the draft PR submitted here: https://github.com/vazco/uniforms/pull/1091. The core of the theme is done but we're still working on polishing the theme before releasing it. I _hope_ we will be done with everything in the upcoming few weeks but only time will tell.

[2022-04-15 04:35] BudgieInWA commented on #973
I found this issue because I was surprised that adding `placeholder` to the schema had effect on its own, without adding `placeholder` to the `AutoForm` or `AutoField`. I am sharing my thoughts here in case it informs your design of the new placeholder API.

In my usecase, I want to use placeholders to show the format of the expected value, or to show the default value, not as a label. So a "Mobil

[2022-04-20 08:22] radekmie commented on #973
It does make sense in some cases, but I think the default value's meaning is "different enough" to not use it as a placeholder in general.

That's a very good point!

[2022-04-21 11:38] afmfe-iul opened #1107 "How to clear a form model"
Hey there again! This issue is a feature/documentation/advice request given a use case we just faced.

Here's our use case: we have an `Autoform` to handle filters for a list. Those filters are saved to the url because we want users to be able to bookmark them, so we set the `Autoform` initial model to what was defined in the URL, so far so good! However we would like to have a button/link to clea

[2022-04-21 14:16] wadamek65 commented on #1107
Hi @afmfe-iul ,

While there is no built-in option to achieve what you would like, you can extend the form functionality yourself. You can simply create a subclass of the form you are trying to use and add additional method which would then call appropriate `setState` with any model you would like. [Here you can find some documentation on how to extend forms](https://uniforms.tools/docs/examples-c

[2022-04-21 17:20] afmfe-iul commented on #1107
Thanks a lot for the quick reply @wadamek65 both tips are very helpful, I actually missed the callback pattern on `setState`! Will try to extend  `BaseForm` which likely solves the type issue also. Thanks ;)

[2022-04-22 14:14] #1099 closed

[2022-04-22 14:19] radekmie commented on #1107
On top of extending the form, you can always change the `model` prop from the outside - as long as it's not `_.isEqual` with the previous one, it'll override it ([source](https://github.com/vazco/uniforms/blob/8cbb12516490c88d0ab0a71e2a7d467f92f4ae2f/packages/uniforms/src/AutoForm.tsx#L46-L48)).

[2022-04-22 14:19] #1107 closed

[2022-04-25 21:41] mariusrak opened #1109 "React 18 compatibility"
Hello, the project doesn't work with newest react 18

[code]

Please upgrade dependencies, thanks

[2022-04-26 07:21] radekmie commented on #1109
Hi @mariusrak! Have you checked whether it works by any chance? I have no idea whether or not the changes introduced in v18 will affect us.

When it comes to properly supporting it, the only downside I see is the fact that the majority of our tests is written in Enzyme and it doesn't work with v18... It's on radar though.

[2022-04-29 08:22] wight554 opened #1112 "Incorrect initial values for objects with array fields"
When using array field (even with default value) I'm getting this:
[code]
Compiled module code:
[code]

Easiest workaround would be not to use it, here you can find possible replacements:
https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/eslint-plugin/docs/rules/no-non-null-assertion.md

For example:
[code]

[2022-04-29 09:21] radekmie commented on #1112
Hi @wight554. We're aware of how the non-null assertion work, and it's being used deliberately in there. And while we could change this code, it should never be the case, that your `ListAddField` has a parent without a value. Could you show us, what does trigger this error?

[2022-04-29 09:45] wight554 commented on #1112
Sure, schema is:
[code]

Easy to check, it breaks playground as well:
`TypeError: m.value is undefined`

[2022-04-29 10:36] radekmie commented on #1112
Thank you! I've stripped it down a little and here's a minimal reproduction:
[code]

[2022-04-29 17:41] mariusrak commented on #1109
I didn't notice any issues with react 18

[2022-05-04 11:02] wight554 commented on #1112
seems like this schema might also break `SelectField` with `multiple` (at least with mui5):
[code]

[2022-05-07 13:45] radekmie commented on #1112
I've dug into it, and the problem is more complicated than I thought. First of all, the default (initial) value of `x.y` _is_ `[]`, so this one is fine. However, the order in which they're set is not.

Using the schema I posted in https://github.com/vazco/uniforms/issues/1112#issuecomment-1113157932, we see these `onChange` calls:
[code]

(The `x.y` one is doubled, as one comes from the `NestField

[2022-05-16 19:15] macrozone opened #1114 "AutoField.componentDetectorContext is bypassed if schema specify a component"
in ReactPage a lot of users asked for having conditional fields in the schema, so by default we support an additional prop `showIf` that can be used in the schema to control whether a field should be shown based on other props. The implementation was fairly easy:

[code]

unfortunalty a user noticed that this does not work when you specify a custom component in the schema using uniforms.component

[2022-05-16 19:26] macrozone commented on #1114
changing that is probably a breaking change, maybe there is a way to opt-in that the componentDetector is always called? Some flag?

[2022-05-16 19:54] macrozone commented on #1114
maybe that could be a property of the bridge?

`componentDetectorMode: "ifNotSet" | "always"`

ifNotSet: calls the dector only if field does not specify `component` (default behavior like now)
always: always calls the detector, detector has to include handling of specifying a component

[2022-05-17 15:09] minhna commented on #1054
@wadamek65 How is it going?

[2022-05-18 07:53] wadamek65 commented on #1054
@wadamek65 The PR is finished and awaiting reviews and testing. Feel free to review it yourself if you'd like to participate and help us out!

[2022-05-19 06:24] minhna commented on #1054
@wadamek65 Thank you for your update.
I tried to clone the repository then installed the `uniforms-mui` package from the directory but then when I tried to start the app, it said
[code]
I check the node_modules/uniforms-mui` directory, `cjs` and `esm` dir are missing. Do I need to run some build commands before of

[2022-05-19 08:22] minhna commented on #1054
@wadamek65 I've got it. I need to run `npm install` in the root directory first then it will run the `tsc --build --incremental tsconfig.build.json` command.

[2022-05-19 08:49] minhna commented on #1054
then I had this error:
[code]
I works well with the `uniforms-material` package

[2022-05-19 09:26] wadamek65 commented on #1054
@minhna Sounds like it might be an issue with a duplicate version of the package installed. Please try cleaning all `node_modules` and reinstalling them.

[2022-05-19 09:47] minhna commented on #1054
@wadamek65 I tried but it didn't solve the problem.
The error only occurred with the fields I defined with `connnectField` function.
for example:

[code]
and defind the schema

[code]

[2022-05-20 11:25] radekmie commented on #1054
@minhna Installing uniforms locally from the repo may be a problem, just as you saw. Until we update the documentation on that, you can try simply copy-pasting the theme's source into your project (assuming it's capable of working with TypeScript).

[2022-05-20 11:33] radekmie commented on #1114
Hey @macrozone. Indeed, making `AutoField` always call the `componentDetector` sounds like a good idea. However, it is a breaking change, so we'll probably have to postpone it to v4. It's easily solvable and it won't break anything, so maybe... I have to think about it.

[2022-05-30 03:41] minhna commented on #1054
Hi @radekmie Do you know when the pull request got merged? Thank you.

[2022-05-30 07:52] radekmie commented on #1054
@minhna Definitely today, most likely in the next few hours. _(I wanted to do it on Friday, but something came up.)_

[2022-05-30 08:09] minhna commented on #1054
@radekmie OMG. It's the best news today.

[2022-05-30 08:24] #1054 closed

[2022-05-30 10:39] wight554 opened #1118 "DisplayIf (useForm) doesn't work with mui 5 theme"
**Version**:
[code]
When using [DisplayIf](https://uniforms.tools/docs/examples-custom-fields/#displayif) field from docs (or any other custom field that uses `useForm`) , app crashes with following error:
[code]

[2022-05-30 10:41] radekmie commented on #1118
Hi @wight554. Make sure you have exactly one `uniforms` package in your dependencies. The best would be to update `uniforms-bridge-json-schema` and then check the `package-lock.json`.

[2022-05-30 10:47] wight554 commented on #1118
re-checked, same with:
[code]

[2022-05-30 10:54] radekmie commented on #1118
@wadamek65 Could you take a look at that?

[2022-05-30 11:08] wight554 commented on #1118
NVM it worked after `package-lock.json` regen with `node_modules` removal. But not too great migration-wise

[2022-05-30 11:14] radekmie commented on #1118
If that helped, then you most likely had duplicated `uniforms` package. It happens because we update the packages as well as their dependencies at the same time. For the future, just make sure that while updating the packages, there are no duplicates added.

[2022-05-30 11:14] #1118 closed

[2022-05-30 11:34] wight554 opened #1119 "[MUI5] Extra props passed to DOM"
**Version**:
[code]
Errors I've managed to catch (more to be added):

**SelectField**:
[code]
[code]

[2022-05-30 12:02] wight554 commented on #1119
Unsure about this one. Trying to replicate it in smaller form. It only happens on submit when num field is in form:
[code]

[2022-05-31 09:30] wadamek65 commented on #1119
@wight554 Thanks for the issue report. Did you by any chance check if the same behavior exists for the `uniforms-material` theme too?

[2022-05-31 09:52] wight554 commented on #1119
99% sure it does. I've used unofficial MUI5 theme which was based on material-ui + codemod and it had same issues

[2022-05-31 10:25] wadamek65 opened #1120 "Simplify label prop to a string type"
Initially discussed [here](https://github.com/vazco/uniforms/pull/1091#discussion_r856300340).

Currently, we allow for `label` passed onto fields to be a `ReactNode`. This causes problems because `transform` for example expects it to be a `string` so passing a `transform` with a `label` that is a `ReactNode` may produce undefined behavior. This also breaks typings in a few places.

It may be best

[2022-06-01 13:05] wadamek65 opened #1121 "Fix SimpleSchema types"
Currently, whenever we use `SimpleSchema` we assert the schema type to `any` because otherwise, it will result in a type error saying that property `uniforms` should not be present.

A possible solution is noted in [this comment](https://github.com/vazco/uniforms/pull/1091#discussion_r861807416).

Example occurrence of such assertion: https://github.com/vazco/uniforms/blob/1112a282da87770aead7d8a6

[2022-06-03 02:28] tkuan opened #1122 "Warning: Received `true` for a non-boolean attribute `decimal` when HiddenField is used"
I got a warning when HiddenField is used in 3.9.1 and 3.10.0rc on node.js 17.9.0. Here is detail of the warning.
[code]

[2022-06-07 01:02] levi-art-rules opened #1126 "Consider support absolute path render with <AutoField>"
## Motivation why you'd like to see this in uniforms.
We have a use case where we want to display a field down to its sister field. Rn, because `uniforms` only supports rendering children fields within a specific field, it is not possible. In general, I think it's also beneficial to enable rendering a field given an absolute path. `uniforms` already provides `useField` with `options` to accept thi

[2022-06-08 18:49] rrjanbiah opened #1127 "Handling permission / authorization"
Either a documentation or a quick PoC to work with permissions or authorization or an example to integrate with authorization libraries such as CASL.

[2022-06-08 18:52] rrjanbiah opened #1128 "CSRF / form signing"
Documentation or an example for the form security handling

[2022-06-09 02:17] idmadj commented on #1109
Hey @radekmie, it would most probably be fine to add 18.1.0 to peer deps and continue using 17 with Enzyme until there is bandwidth to migrate that too. Uniforms doesn't use any of the client rendering APIs that broke: https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html

Let me know if I can help

[2022-06-10 11:42] radekmie commented on #1109
That's something we already considered but decided to postpone it a little. But as there's not much traction in updating the tests, I think we should do just fine with a note in the docs.

[2022-06-10 12:10] radekmie commented on #1126
Hi @levi-art-rules and thanks for the idea! I definitely see it as something we'd like to have going forward, but introducing any sort of prop _(with a sane name)_ to `AutoField` may break a lot of projects. It's doable in v4, though.

In the meantime, I'm thinking whether or not we could add something like `experimental_nameIsAbsolute` flag or even `experimental_absoluteName` as an alternative to

[2022-06-10 12:19] radekmie commented on #1128
Hi @rrjanbiah. uniforms are mostly used for forms handled with JavaScript, not the `action` parameter; if you'd like to do it, it's possible as well (see https://github.com/vazco/uniforms/issues/1060). However, it's up to you to implement any security measures required for your use case. For example, if you have a CSRF token generated by your server, you can use `HiddenField` to render a hidden in

[2022-06-10 12:20] radekmie commented on #1127
Hi @rrjanbiah. uniforms are client-only library and have no concept of authorization. It's outside of the scope of this package to decide what form and with which fields the user is presented.

Do let us know if you have any further questions.

[2022-06-10 12:37] radekmie opened #1130 "Migrate tests from Enzyme to React Testing Library"
As Enzyme is no longer supported and we already rely on a community-made workaround for React v17 and there's nothing sure for v18 we should push for getting rid of it entirely.

Support for v18 was requested in #1109 and added in #1129.

[2022-06-10 12:40] #1121 closed

[2022-06-10 12:40] #1112 closed

[2022-06-10 12:51] kestarumper opened #1131 "Fields with dots in their names not receiving errors"
## Problem description
The issue happens with
- `"uniforms": "3.8.1",`
- `"uniforms-bridge-json-schema": "3.8.1"`

Individual field errors are not passed to the fields. This causes them to not display the inline error message nor highlight it [(in some cases it even displays the field as "green" indicating that everything is OK)](https://user-images.githubusercontent.com/13087338/173058145-8fece2c

[2022-06-10 13:05] #1109 closed

[2022-06-10 19:34] rrjanbiah commented on #1127
@radekmie Thanks for your reply. By authorization as in CASL, I mean client side conditional hide/show based on user role. Do you still think it is not possible or out of scope? Thanks again

[2022-06-10 19:36] rrjanbiah commented on #1128
@radekmie That makes sense. Thanks for sharing the insight. Will check that. Thanks again

[2022-06-10 23:04] mariusrak opened #1132 "Unclear documentation on custom fields"
Hi,
I'm not sure how to understand `CustomAutoField` here: https://uniforms.tools/docs/examples-custom-fields/#customautofield

There are mentioned two ways. I understand, that using the AutoField.componentDetectorContext is one of them. But what is second one? is it the deprecated version `<AutoForm {...props} autoField={CustomAutoField} />;` ?
Because docs says that there are two standard ways,

[2022-06-10 23:14] mariusrak commented on #1127
@rrjanbiah Just render specified fields conditionally using <AutoFields fields={[...]} />(https://uniforms.tools/docs/api-fields/#autofields) and conditions should be handled in the rendering component.
Another wy sould be to provide correct scheme which doesn't include fields that are not accessible by user. For example simplschema offers `.pick()` and `.omit()` methods.

This for sure is out of

[2022-06-10 23:28] mariusrak opened #1133 "AutoField API Proposal"
Hi,
I like the idea of changing fields components by context. Could we push it little further and do this?

[code]

[code]

And `AutoForm` and `AutoFields` would then check the `AutoForm.AutoFieldsContext` to see which AutoField should be rendered.

Also `AiutoFields` is currently tied to styled package. But it is not neccessary since it is basically only a loop. Or whatever it is, it is not style

[2022-06-11 05:57] rrjanbiah commented on #1127
@mariusrak Thanks for your comments

[2022-06-11 12:46] mariusrak opened #1134 "Missing FileField in uniforms-unstyled"
Hi, is there any reason why FileField is missing in uniforms-unstyled?
If no, can we add it, please?

[2022-06-14 17:26] levi-art-rules commented on #1126
Feature flag sounds good to me. Thank you for your reply. I wonder what the timeline for pushing it will look like?

[2022-06-15 14:31] wadamek65 commented on #1126
@radekmie I think adding it as an experimental feature flag sounds good.

As a side note, maybe we could make it easier for us to introduce such changes in the future by adding a mention to the docs like any props prefixed with "uniformsExperimental_" are reserved? I don't think it's a common practice or how useful that will actually be but just a random thought.

[2022-06-15 14:50] wadamek65 commented on #1120
@radekmie I did some digging and this is what I managed to figure out:

The `transform` prop was not present in the initial version of the material theme package. It seems to have been introduced [here](https://github.com/vazco/uniforms/commit/ab12392055bb200098c860d01c278ca241b01663#diff-f2776e6f23fbc0b5a4e1dac77af47ea2d91d268a81f3e6a4a1d6a107a1fd33dfR28). And this change probably comes from the

[2022-06-22 13:17] simplecommerce commented on #821
@radekmie I know this is a very old topic but I wanted to get your feedback on this.

I currently am facing the same issues again and decided to test the following:

For the getField method I did this

[code]

So I basically added a condition to check if the name is JSON (since that is my scalar type name) and I simply return the same type as the parent for any nested field.

It seems to work but

[2022-06-22 15:55] mbseid opened #1138 "Date Field not updating visually"
When a field is configured to be a date only field (not date and time) the field value gets updated but the form field does not update. The form field continue to shows the placeholder. I tried to debug the issue but couldn't get to the core issue. It seems like the field temporarily shows the selected value then gets rerendered to show the placeholder.

Let us know what is happening. Do provide u

[2022-06-24 14:15] wadamek65 commented on #1138
Hey @mbseid,

Thanks for the issue report. I checked it out and there seems to be an inconsistency in the implementation of handling this date type across some of the themes. I've already started working on the fix.

[2022-06-27 13:03] #1128 closed

[2022-06-27 13:11] radekmie commented on #1127
@rrjanbiah I still think it should be out of the scope of this package. As @mariusrak said, you can handle conditional logic in your components.

I do agree we could make it a little easier. [Custom `AutoField` is _almost_ there](https://uniforms.tools/docs/uth-autofield-algorithm/#overriding-autofield), except for when the component is set in schema. It's going to be changed in v4, though: #1114.

[2022-06-27 13:11] #1127 closed

[2022-06-27 13:24] radekmie commented on #1126
@levi-art-rules We can't give you a timeline, sorry!

@wadamek65 Do you think that we should add `uniforms` prefix too? I never seen _a lot_ of `experimental_` props anyway, especially on UI components. In any case, we should add it to FAQ, that we _may_ use them for pre-releases of some features.

[2022-06-27 13:24] radekmie commented on #1126
(That also means this issue is up for grabs; if you want, do send us a PR!)

[2022-06-27 13:25] radekmie commented on #1120
@wadamek65 Then let's remove it. In the meantime, please do mark it as deprecated.

[2022-06-27 13:40] radekmie commented on #1132
Hi @mariusrak. I do agree, that the deprecated way should not be considered a standard one. We'll update the documentation accordingly.

[2022-06-27 13:45] radekmie commented on #1133
Hi @mariusrak. Moving `AutoField` out of the theme packages is generally a good idea (and actually one I already had written down, yet not on GitHub). Doing the same with `AutoFields` is slightly different, as right now, [it always renders an additional `div`](https://github.com/vazco/uniforms/blob/c6c2e3c7d8c4844998365235ec0ed05e657815ee/packages/uniforms-unstyled/src/AutoFields.tsx#L15). I guess

[2022-06-27 14:02] radekmie commented on #1134
Hi @mariusrak. How would you like it to work? The only solution for a cross-theme one with no backend involved would be to use [a `type="file"` input](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file), which I honestly rarely did directly. The other problem is that the "value" of such input is the [`FileList`](https://developer.mozilla.org/en-US/docs/Web/API/FileList) object, w

[2022-06-28 08:23] wadamek65 commented on #1126
@radekmie Just `experimental_` also sounds good to me.

[2022-07-01 10:12] radekmie commented on #1130
Maybe we could try https://github.com/enzymejs/enzyme/issues/2524#issuecomment-1117039658 to buy us more time?

[2022-07-01 12:42] ErnestTeluk commented on #1130
unfortunately it did not work (tested on react 17), when it comes to react 18 there is one more blocker which is https://github.com/facebook/docusaurus/issues/7264

[2022-07-11 18:24] th0rgall opened #1144 "CodeSandbox example in docs has dependency issues"
The suggested CodeSandbox examples don't work on load due to dependency issues. These are affected:

- https://codesandbox.io/s/github/vazco/uniforms/tree/master/reproductions
- and the one linked on top here: https://uniforms.tools/docs/tutorials-basic-uniforms-usage/

![Screenshot 2022-07-11 at 20 11 28](https://user-images.githubusercontent.com/11543641/178331964-c408e528-1a32-4dfa-9343-7c38497

[2022-07-11 18:39] th0rgall opened #1145 "Schema manipulation docs don't mention required non-default AJV configuration"
## Problem
A guide in the docs suggests manipulating the schema with an `options` property to specify possible options for a SelectField (and auto-generate it): https://uniforms.tools/docs/tutorials-using-predefined-fields/#2-manipulating-the-schema)

However, AJV does not accept this when you pass it such a schema, since it is not valid JSON Schema. It hence breaks the example with this error:

[

[2022-07-12 10:48] th0rgall commented on #1145
Thank for your response! I see. I wasn't familiar with AJV before (working with uniforms is the first time I've used it), I also noticed the AJV "keywords" option only later in the [JSONSSchema Playground](https://uniforms.tools/playground/#?N4IgDgTgpgzlAuIBcICCATd0YwAQAoApAZQHkA5YgYwAsoBbAQwEoQAacCAezBmVEYBXeFxiMAblGQAzRgBs4HISLGSAIlDmMAnsgCMABgMd0ASzEAjOVHQz5ikFoubk8CIKgcwWqlBpc5dCgIOwVPEGhGdFIA

[2022-07-14 09:55] #1144 closed

[2022-07-15 12:21] radekmie commented on #1134
As there's no answer, I'm closing this one. Feel free to comment further, though.

[2022-07-15 12:21] #1134 closed

[2022-07-17 15:09] niklasdahlheimer opened #1148 "Add readonly class to SelectField"
I need to add custom text styling to readonly fields. For TextFields this works flawlessly with a selector like
[code]
because the readonly attribute is forwarded directly to the `<input>`element. However, for SelectFields the inner HTML element is `<select>`. You probably did not forward it here because, according to [the specification](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes

[2022-07-20 20:23] bard opened #1149 "Chakra UI support?"
I've played with Uniforms and other schema-to-form libraries, and I've found Uniforms well over the competition in terms of architecture and ergonomics. Would love to use it in actual projects, but most projects I work on nowadays use Chakra UI (which is similarly well designed and developer-friendly, and whose popularity is steadily increasing).

Unfortunately, in the time that I could devote to

[2022-07-21 13:37] radekmie commented on #1148
Hey @niklasdahlheimer and thanks for the suggestion! Actually, `SelectField` is not the only one that doesn't have that - the same goes for all sorts of checkboxes and radio inputs. I'd rather add a `readonly` attribute rather than a class, but I think it's enough for your use case (and this case in general).

[2022-07-21 13:41] radekmie commented on #1148
Update: it looks like some themes (e.g., Bootstrap) have custom styles for `readonly` `<select>`s, so it actually affects more themes. Pull requests welcome, as usual!

[2022-07-21 13:46] radekmie commented on #1149
Hey @bard. We have a somehow standard policy when it comes to additional themes:
1. Create a theme yourself.
2. Use it directly in your project.
3. (Optional) Publish it on npm.
4. If it gains enough traction, we'll happily merge it in the main repo (i.e., this one).

There are a few community themes (I have to update docs on that, sorry!) and we're here to help if you have problems with creating

[2022-07-21 17:25] bard commented on #1149
That makes complete sense!

It's been a while, but from what I remember, I tried to mimic the Material-UI theme, and got lost figuring what was there due to being needed by Material-UI, and what due to being needed by Uniforms. Having more time and cross-comparing with other themes would have helped (or maybe I didn't pick the theme that was the easiest starting point to begin with). It wasn't any

[2022-07-22 02:17] mbseid opened #1150 "Any Custom Field Breaks with Meteor.js - `Uncaught Invariant Violation: useForm must be used within a form`."
While using Meteor.js, any custom field breaks with the error: `Uncaught Invariant Violation: useForm must be used within a form.`. There are a few bug reports around it, mostly related to two things:
1. Ensuring package are the same ✅
2. Builds during packaging ❓

I'm guessing somewhere in the Meteor process it breaks.

Attached a branch of the error code, working sandbox, and stack trace.

Broke

[2022-07-22 10:34] #1131 closed

[2022-07-22 10:36] radekmie commented on #1149
I think it'll be easier to start with `uniforms-antd` or even `uniforms-unstyled`, as both Material-UI and MUI themes are more complex due to typing. In any case, I'll close this issue for now, but feel free to ping us once you have something to show or will face some problems.

[2022-07-22 10:36] #1149 closed

[2022-07-22 10:38] radekmie commented on #1150
Hi @mbseid. We successfully use uniforms in Meteor projects, so I'm sure it's not a problem with Meteor itself. I wanted to check your repo but the link says it doesn't exist - maybe it's private?

[2022-07-27 05:51] itaifish commented on #962
@radekmie You were right, I had the same error message and it was solved by removing the extra uniforms references in the yarn lock file.

[2022-07-28 01:50] mbseid commented on #1150
Hey, I just switched the repo to public. Sorry and appreciate y'all looking into it.

[2022-07-28 14:54] Floriferous commented on #1066
Bumping, this change is really important for us and how we use these forms :)

[2022-07-28 20:05] chrisngobanh opened #1152 "Check `mounted` state before using setState in onSubmit"
- Version: Latest

https://github.com/vazco/uniforms/blob/a103efdd8724e9f9794ff3ecab776bb9559f728d/packages/uniforms/src/BaseForm.tsx#L261-L278

In BaseForm's onSubmit method, there may be instances where calling `props.onSubmit` would cause the component to be unmounted (e.g. if an API call is successful, navigate to a different page; On failure, error boundary catches it and shows an error page)

[2022-08-09 07:24] radekmie commented on #1066
@Floriferous We've planned a meeting about uniforms v4 in the following weeks, but no ETA for any of the features yet, sorry.

[2022-08-09 07:42] radekmie commented on #1152
Hey @chrisngobanh, and thanks for the report! Agreed, we should add a check for the component being mounted there (we already have it, so it's going to be easy). Maybe you'd like to file a PR for that?

Also, heads up: https://github.com/facebook/react/pull/22114.

[2022-08-09 07:58] radekmie commented on #1150
The problem is, that your `uniforms-mui` has its own copy of `uniforms` ([source](https://github.com/mbseid/success/blob/brokenCustomField/package-lock.json#L1550-L1560)). Running `meteor npm dedupe` solves the issue and the app works. Let me know if that's all.

[2022-08-13 11:39] radekmie commented on #1150
I’ll close this one, but feel free to comment further!

[2022-08-13 11:39] #1150 closed

[2022-08-22 20:18] mariusrak opened #1157 "SubmitField with value"
With classic html forms, you can have multiple submit buttons and then differentiate action based on which button was clicked to submit the form. I think this is not possible with uniforms. Could we somehow get value of a `SubmitField` clicked?

[2022-08-25 12:59] kestarumper opened #1158 "`JSONSchemaBridge` validator return type"
**Affected versions** `3.10.0`

## Description
In [`JSONSchemaBridge(schema, validator)`](https://github.com/vazco/uniforms/blob/569b8ff119ff6fa926d23821f9e6570a1dc5f03f/packages/uniforms-bridge-json-schema/src/JSONSchemaBridge.ts#L86) the `validator` function return type is `any` but the `Bridge` [specifies more concrete type (`null | Error | Promise<null | Error>`)](https://github.com/vazco/unif

[2022-08-26 12:03] kestarumper commented on #806
We've discussed this, and there will be changes on the bridge level, as @radekmie [mentioned above](https://github.com/vazco/uniforms/issues/806#issuecomment-990865222).

## Breaking changes
We'll be removing `allowedValues` and `transform` properties. Fields will only use `options` property.

## The common API
Bridges will use
[code]
(similar as described in [#862](https://github.com/vazco/unifor

[2022-08-26 12:08] kestarumper commented on #862
As described in [#806](https://github.com/vazco/uniforms/issues/806#issuecomment-1228406143) and [how @radekmie wrote about it](https://github.com/vazco/uniforms/issues/862#issuecomment-990863975), we'll be changing the type of options which will expect you to provide the `key` explicitly when constructing `options` array. The `allowedValues` and `transform` will be removed.

[2022-08-26 12:19] kestarumper commented on #1120
- We've decided to retain `label: React.ReactNode` wherever possible as this is desired behavior.
- We're removing `transform` in #806 so the problem disappears

[2022-08-27 22:54] radekmie commented on #1157
Hi @mariusrak. We don't expose such API and don't plan to, but you could do one of these two things:
1. Implement custom buttons that'd call `formRef.submit()` directly. Because you assign them to the buttons, you already know which one is which.
2. Use the `event` argument of `onSubmit` event handler on `BaseForm` by extending it. It won't guarantee its presence, though, as it may be called progr

[2022-08-27 22:54] #1157 closed

[2022-08-27 23:38] radekmie opened #1159 "Implement a `zod` bridge"
While being focused on type inference, [`zod`](https://github.com/colinhacks/zod) makes a decent general schema library. By looking at the code of the [`deepPartialify`](https://github.com/colinhacks/zod/blob/59768246aa57133184b2cf3f7c2a1ba5c3ab08c3/src/types.ts#L1614-L1639) function, it looks like it'll be fairly easy to create a bridge for it. We won't use the typing part (for now...), but it'd

[2022-08-27 23:52] radekmie opened #1160 "Implement a hook-based, all-in-one `Form` component"
During our recent meeting regarding v4, I presented an idea of a general `Form` component, replacing all of the existing `*Form` components. The main differences would be:
1. It'd no longer be a class component but a hook-based functional one.
2. It'd include all of the functionalities in one (with one exception) to make the API surface even smaller and easier to work with.

What could it look lik

[2022-08-31 19:14] mariusrak opened #1162 "Unstyled date field does not suport type date"
When using DateField from uniforms-unstyled and you want only date without time, it is impossible to set value.

You can check within the playground by changing `date field in schema to
[code]

Seems like it's setting value incorrectly to e.g. `2022-09-08T00:00`, while it should probably contain only date and no time information.

[2022-09-01 08:45] wadamek65 commented on #1162
Hey there @mariusrak ,

I believe this is a duplicate of #1138 and will most likely be resolved once #1140 is merged. @kestarumper could you confirm if that is true?

[2022-09-02 12:15] Monteth commented on #973
We had a planning session for uniforms@4, and we extended the plan from [this comment](https://github.com/vazco/uniforms/issues/973#issuecomment-990868781).

To sum it up, we decided to:
- Remove the `placeholder` property from the form and context.
  - You can still specify it explicitly in field props.
- Remove the `label` from the form and context.
  - You can still specify it explicitly in fie

[2022-09-02 12:35] Monteth commented on #1066
And here we are with fresh updates on `defaultValue` in uniforms@4;
- We will always set the default value for all - required and non-required fields (if provided).
- We will add a `getInitialModel` to detach the model state from the render function.

@Floriferous We still don't have ETA, but I think this ticket should be somewhere on the top of the list. We will keep posting updates here.

[2022-09-02 12:39] Monteth commented on #1114
A summary from the v4 planning session for this ticket is we want to move the `props.component` to the `defaultComponentDetector`.

[2022-09-08 11:42] wadamek65 commented on #1133
We've revisited this issue and came to the conclusion that hoisting `AutoField` to the core package will not be very practical so we've decided against it. Each theme will define its own one as it currently is.

We will however change the behavior of the `AutoField` to no longer render a wrapper and instead, a `React.Fragment`.

[2022-09-08 11:45] wadamek65 commented on #1057
Since using `useId` will force us to declare a peer dependency of `^18` for React we've decided the benefits of using it are not worth it for now. We will postpone this change for another major version in the future (initially v5).

[2022-09-08 13:21] mariusrak commented on #1133
Why wouldn't it be practical? I think it's more than practical - it's logical, as it is not related to style in any way.
But, anyways, my original proposal is not about `AutoField` but more about more simple way to override `AutoField`

[2022-09-08 13:55] wadamek65 commented on #1133
@mariusrak In terms of overriding `AutoField` through a context like you suggested is already possible via the [`componentDetectorContext`](https://uniforms.tools/docs/uth-autofield-algorithm/#overriding-autofield).

As for hoisting the `AutoField` - while we agree from a logical standpoint it makes sense as it by itself is in theory theme-agnostic, the fields it renders aren't. We haven't found a

[2022-09-16 11:49] ErnestTeluk opened #1165 "Add support for the props that the native <form /> takes"
Currently, `<BaseForm />` does not support the types that the native form can accept e.g. name. If we add name prop to `<ValidateForm />` we get this error:

[code]

[2022-09-25 17:07] kestarumper commented on #1162
Hi @mariusrak,

It's setting the date in the model (in the form state), but it's not rendered correctly (it's not displaying the date).

Looking at the code, the value is always normalized to the [`ISO 8601`](https://en.wikipedia.org/wiki/ISO_8601) standard whenever the field value (`Date`) changes. It uses the `toISOString` under the hood.

E.g.
[code]

I also checked it on the #1140, and it seem

[2022-10-07 12:39] #1138 closed

[2022-10-07 12:39] #1162 closed

[2022-10-07 13:13] radekmie opened #1171 "Change the way `getInitialValue` works with `undefined`s"
As I mentioned in https://github.com/vazco/uniforms/pull/1164#discussion_r987349481 and implemented already in #1169, I think we should slightly change the way `getInitialValue` works for arrays and objects. Right now, both will _mostly_ use `undefined` as a valid nested value, producing rather unexpected models. [Here's an example](https://uniforms.tools/playground/#?N4IgDgTgpgzlAuIBcIDqUA2BjA9gW

[2022-10-07 13:17] #1152 closed

[2022-10-07 13:23] radekmie commented on #1165
As discussed, this should be a part of the requirements for #1160 instead.

[2022-10-07 13:23] #1165 closed

[2022-10-15 17:39] petercinibulk opened #1177 "How to add props such as autoComplete to the form?"
I could not find any documention or issues relating to this so hopefully someone can answer this. BTW this library is amazing :)

I want to be able to do something like this with uniforms:
[code]
Such as:
[code]
Is there a way to access the internal form tag?

Thanks!

[2022-10-15 18:38] petercinibulk opened #1178 "How do you remove nested object label?"
I want to remove the label above the fields for a nested object in the schema as shown here:
![Capture](https://user-images.githubusercontent.com/29611892/196002794-0e4cc446-bc9b-4c0d-93df-d4c175d8739a.PNG)

The schema is:
[code]

Would you have to override the nestedfield? or is there a simpler way?

[2022-10-18 19:22] #1159 closed

[2022-10-18 19:29] #1133 closed

[2022-10-18 19:31] #1145 closed, assigned to kestarumper

[2022-10-18 19:39] #1048 closed

[2022-10-18 19:42] #1114 closed

[2022-10-18 20:05] #980 closed

[2022-10-18 20:29] #1171 closed

[2022-10-18 20:38] radekmie commented on #1177
Hi @petercinibulk! These should be passed properly, even if the types say otherwise.
* If there's a problem with that, do let us know.
* Types will be fixed in #1160.

[2022-10-19 07:01] radekmie commented on #1178
Hi @petercinibulk! It's possible to change it with the `label` prop, which you can pass through the schema:
[code]

[2022-10-19 19:29] petercinibulk commented on #1177
Awesome thanks! I am using TS and ESLint so I had to configure it to allow this

[2022-10-19 19:29] #1177 closed

[2022-10-19 20:30] #1178 closed

[2022-10-22 08:07] javijupra commented on #1159
I'm getting a 404 at this address:
[https://registry.npmjs.org/uniforms-bridge-zod](https://registry.npmjs.org/uniforms-bridge-zod)

[2022-10-22 08:12] radekmie commented on #1159
@javijupra It's not published yet - it'll be available with the first alpha release of v4.

[2022-10-27 05:30] Akshaya-009 opened #1186 "Creation of Custom Date Field"
While we are creating custom date field, it is taking type as 'datetime-local' and we are giving type as 'date', form value is not getting updated after selecting the date.

[2022-10-27 07:56] kestarumper commented on #1186
Hi @Akshaya-009,

I believe this has been fixed by #1140 and #1103. Could you provide us with what version of uniforms you are using?

[2022-10-27 08:46] Akshaya-009 commented on #1186
We are using version 3.10.0. And in case of styles, it is uniforms-unstyled.

[2022-10-27 09:05] kestarumper commented on #1186
Try updating to `3.10.1` because the PR that I mentioned are included in that version. See [list of changes `v3.10.0...v3.10.1`](https://github.com/vazco/uniforms/compare/v3.10.0...v3.10.1).

[2022-11-02 07:58] radekmie commented on #1159
@javijupra It's released now: [`uniforms-bridge-zod`](http://npmjs.com/package/uniforms-bridge-zod).

[2022-11-02 08:23] radekmie opened #1187 "Fix GitHub Actions CI"
It looks like the recent release broke the CI for some reason ([example](https://github.com/vazco/uniforms/actions/runs/3375755191/jobs/5602996243)). While fixing that, we could also take care of the warnings ([see here](https://github.com/vazco/uniforms/actions/runs/3375755191)).

[2022-11-04 11:13] kestarumper commented on #1186
I'm closing this issue because no the author has not responded within a week. I'm assuming that version `3.10.1` fixes the issue, however, if it's not, then please let us know.

[2022-11-04 11:13] #1186 closed

[2022-11-06 11:49] JanMP opened #1189 "Support SimpleSchema v3"
SimpleSchema2Bridge does not entirely work with simple-schema v3. At first glance Forms still seem to work with v3 but at least SimpleSchema2Bridge.getSubfields does not seem to work anymore.

[2022-11-07 08:18] radekmie commented on #1189
Hi @JanMP! As far as I understand https://github.com/longshotlabs/simpl-schema/pull/465, which is the only changelog I found, the only breaking change that affects uniforms is the removal of `SimpleSchema._makeGeneric`. The suggested replacement is to use the `mongo-object` package directly, which is fine, as it's a dependency of `simpl-schema` anyway. Alternatively, we could normalize it ourselve

[2022-11-07 16:40] JanMP commented on #1189
That function isn't there in simple-schema 1.12.3 (wich works for me) either and patching it in in V3 doesn't seem to do any good (maybe I did not patch it in the right place...).
Then I tried calling `bridge.getSubfields(makeKeyGeneric(key))` wich did not fix the problem either, but then I took a closer look it and found this seems to be an edge case for key being an empty string (wich works fine

[2022-11-08 07:21] radekmie commented on #1189
What I meant was to do something like this:
[code]

And see if it works. Doing `bridge.getSubfields(makeKeyGeneric(key))` instead won't work, as `getSubfields` uses `SimpleSchema._makeGeneric` anyway.

[2022-11-08 10:14] JanMP commented on #1189
Ah ok. I took a look at the source of SimpleSchema2Bridge and figured that I need to do the patching of SimpleSchema in there. That works with my revised makeKeyGeneric but not with mongo-object.makeKeyGeneric. And my attempt with `bridge.getSubfields(makeKeyGeneric(key))` (in my own code) does work.  I don't get how it works either, but it does. And it also works with fields of type Object (tat's

[2022-11-08 14:44] #1187 closed

[2022-11-17 20:11] radekmie commented on #1189
I tested it quickly and this workaround works:
[code]

I suggest you try it out for now as updating the packages to make them work with v3 will take more time due to an overhaul of their typings.

[2022-11-18 08:31] JanMP commented on #1189
Where do you apply that workaround? I could not make the other workaround work from my own application code but had to apply it inside SimpleSchema2Bridge.

[2022-11-18 08:33] radekmie commented on #1189
Do that in your app's code, before uniforms are used.