[2016-05-12 15:26] zeroasterisk opened #3 "Pass in an existing document to update, passing model breaks validatation"
How do you pass in an existing document to update?

When I try to pass it in as a `model` - values update in the form *but* validation no longer throws errors (I assume because it's not validating the new data??)

[2016-05-12 15:28] zeroasterisk opened #4 "How do I access validation errors for a specific field (not a form)"
I prefer to put validation errors with the field, not a list at the top of the form.

I can not seem to get any custom fields access to the `error` & `schema`
see: https://github.com/zeroasterisk/uniforms for a bootstrap4 UI, where I'm trying to update display

[2016-05-13 07:29] radekmie commented on #3
[Actually it is validating new model.](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/forms/ValidatedForm.js#L25-L32) Could you share a not working example?

[2016-05-13 07:40] radekmie commented on #4
You mean something like [semantic-ui labels](http://semantic-ui.com/elements/label.html#pointing) (`semantic`) or text nearby field (`unstyled`)?

[2016-05-13 10:37] achtan opened #5 "Bootstrap forms"
add support for bootstrap forms

[2016-05-13 12:39] radekmie commented on #5
[It's currently in progress.](https://github.com/vazco/uniforms/pull/2)

[2016-05-17 10:25] dstuit opened #7 "Error messages translation"
How can I translate validation error messages?

[2016-05-17 13:25] radekmie commented on #7
Error messages are taken from schemas, so you have to [configure your SimpleSchema](https://github.com/aldeed/meteor-simple-schema#customizing-validation-messages).

[2016-05-17 13:25] #7 closed

[2016-05-20 05:17] zeroasterisk opened #8 "Feature: Access another field's value, from a custom component"
I can not seem to access another field's value/props from within a custom component (created via `connectField()`)

In my specific use case, I want a date range picker, where the `start` date becomes the `minimum` allowable value for the `stop` date... to do this, each input is it's own field/input... but they need to be able to access each other's values (and perhaps `field` and `error` too?)

[2016-05-20 17:41] radekmie commented on #8
I've added `findError(name)`, `findField(name)` and `findValue(name)` in `1.0.0-rc.3`.

[2016-05-20 17:41] #8 closed

[2016-05-23 14:44] zeroasterisk commented on #5
@achtan you're more than welcome to assist if you like

[2016-05-24 20:21] radekmie commented on #5
There's already `bootstrap4` integration in `1.0.0-rc.4` and `bootstrap3` is planned within close future (thanks @zeroasterisk).

[2016-05-24 20:21] #5 closed

[2016-05-25 03:40] zeroasterisk commented on #5
1.0.0-rc.5 is released for bootstrap4 and bootstrap3
https://www.npmjs.com/package/uniforms-bootstrap3/
https://www.npmjs.com/package/uniforms-bootstrap4/

[2016-05-25 17:27] radekmie commented on #4
I've added an `errorMessage` prop in `1.0.0-rc.6` - it's field's scoped error message.

[2016-05-25 17:27] #4 closed

[2016-05-27 13:17] radekmie commented on #3
I'll close it for now. If problem persist, please let me know.

[2016-05-27 15:26] serkandurusoy opened #11 "[Question] Save (autosubmit) the form on field changes"
What would be the canonical way to automatically submit the form on any change on any field?

Basically, I want to achieve a "buttonless" form where all user changes automatically get validated and persisted.

[2016-05-27 17:10] radekmie commented on #11
That's an idea for new functionality. I'll do it asap.

[2016-05-27 17:26] serkandurusoy commented on #11
Wow!!!

I was just tinkering with the idea (in my head tbh) for the past few days and thinking around extending the form and using the onchange event and the state changes within the lifecycle methods.

But it would just be plain awesome if you were to implement it natively.

---

*On a not directly related, but somewhat accompanying note:*

While at it, it would also be great if you could introdu

[2016-05-27 17:41] radekmie commented on #11
I've also released `1.0.0-rc.7` on npm.

---

As to the send note - I don't really get you idea of that `pristine` state, but your example sounds like `validate="onChangeAfterSubmit"` of `ValidatedForm` (and descendants), doesn't it?

[2016-05-27 17:41] serkandurusoy commented on #11
@radekmie this was quick! thank you very much.

should I open another issue to further discuss the pristine topic?

[2016-05-27 17:43] radekmie commented on #11
Go ahead.

[2016-05-27 17:49] serkandurusoy opened #12 "[Discussion] Fine tuning validation"
Autoform (aldeed) provides [options to fine tune](https://github.com/aldeed/meteor-autoform#fine-tuning-validation) the validation lifecycle.

It allows for setting *when* validation should occur. For example, after a keyup, or blur, or submit, or combinations like submitThenBlur and submitThenKeyup (default) which makes for a very configurable UX.

Furthermore, some form libraries (like formsy an

[2016-05-27 17:51] serkandurusoy commented on #12
@radekmie you mentioned validate=onChangeAfterSubmit

is this a part of the current api? I could not see a reference to that, so I'm curious. Or is this something you are thinking of implementing?

[2016-05-27 17:54] radekmie commented on #12
@serkandurusoy yes, it is. I've just discovered it's not described in README. More informations are available in [`packages/uniforms/src/components/forms/ValidatedForm.js`](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/forms/ValidatedForm.js#L23-L27). I'll update README later.

[2016-05-27 17:56] serkandurusoy commented on #12
Wow this is great news!

What about getting the state of the form and/or individual inputs in terms of their values have been changed or not? I think their error status is already available but I think we don't have a very straightforward way of knowing if values have been edited, right?

[2016-05-27 17:59] radekmie commented on #12
Again, it's an idea for functionality. I'll think about it and later make a draft of API.

[2016-05-27 18:00] serkandurusoy commented on #12
Hmm I think we can provide an onChange(key, value) function and listed to that to set some state, but yeah, it is not directly in the api.

thanks for giving it consideration!

[2016-05-27 18:17] serkandurusoy opened #13 "[Component] Single error field"
I see that there is a component, ErrorsField, for displaying all error messages but I could not spot a component to display a single error message for a given field.

Trying to achieve aldeed:autoform's [`affieldmessage` helper](https://github.com/aldeed/meteor-autoform#affieldmessage), would this work? And if it did, could we add it to the standard packaging?

[code]

[2016-05-27 19:09] radekmie commented on #12
Okay, I think it could be like this - every field will receive a `changed` prop (`PropTypes.bool.isRequired`) - that should be enough (for fields). Also, every form could have `changed` field in it's state (same type), that could be a part of `context.uniforms.state`. Does it makes sense?

[2016-05-27 19:15] radekmie commented on #13
Yes, that's neat. Also, your implementation is almost perfect - `<section>` shouldn't receive `onChange`. I'll add it soon.

[2016-05-27 21:45] #13 closed

[2016-05-28 13:36] serkandurusoy commented on #13
Wow, thanks! And thank you also for pointing out my oversight. It helps me think about how I design new components, which I will probably do over the coming weeks.

[2016-05-28 13:38] serkandurusoy commented on #12
Yep, a `changed` prop on fields and `changed` on `context.state` for form is quite sufficient.

[2016-05-28 18:36] radekmie commented on #12
For the following model:

[code]

We've got there the following cases:

0. When `a.b` has changed, then both `a` and `a.b` are marked as changed.
0. When `a.c.0` has changed, then all `a`, `a.c` and `a.c.0` are marked as changed.
0. When `a.c.1` appears, then both `a` and `a.c` are marked, but what with `a.c.1` - has it *changed*?
0. When `a.c.0` is removed, then added again, is it changed?

[2016-05-28 19:28] serkandurusoy commented on #12
1 and 2 makes sense.

3, I think yes a.c.1 has changed because previously, a.c[1] was `undefined` and now not! so I would expect it to be reported as changed

4, yes it has changed. because if you remove a.c[0] it has changed at that point. readding it does not guarantee equality because it would be a new empty value initially.

Whatabout reording arrays? It would be best if you would be able to k

[2016-05-28 19:38] radekmie commented on #12
Reordering is also _change_, becouse model's field **x** is now **x'** and field **y** is now **y'** (I think). There's another problem - what about reordering equal values?

[2016-05-28 19:43] serkandurusoy commented on #12
I would say that also constitutes a change.

Perhaps the thinking would be, if user has interacted with the form, whatever the event target has been, and bubbling up the parent up to the form itself, has been changed.

[2016-05-28 19:45] serkandurusoy commented on #12
At that point, I think it should be up the developer to keep track of those changes and decide accordingly.

Even react itself has a shouldComponentUpdate directive becuase deep equality checking is expensive so we should not be caring to compare before and after states in deep structures.

[2016-05-28 19:53] radekmie commented on #12
Let's summarize: if field has changed (adding or removing array item is a change too), it's marked as `changed`. That status bubbles up to the form component.

[2016-05-28 19:54] serkandurusoy commented on #12
Yep, I think that's it.

[2016-05-28 19:55] radekmie commented on #12
Okay, I'll implement and document it later. Thanks for idea and discussion.

[2016-05-28 19:58] serkandurusoy commented on #12
Sure thing! Thank *you* for the package and being so awesome with feature requests!

[2016-05-29 13:37] serkandurusoy opened #14 "[Feature request] Rendering an initial count of arrays (listfields)"
TL:DR;
add an "initialCount" property for listfields

---

Autoform has a great feature with handling array structures where

* if there are `minCount` and `maxCount` defined on the schema
 * autoform displays minimum of minCount children ready to be filled and no [-] button
 * allows maximum of maxCount children and does not display [+] button after the last child
* if there is an `initialCount`

[2016-05-29 18:09] #12 closed

[2016-05-29 18:10] radekmie commented on #12
I've wrote few tests, *but* it would be better to test it within exact use case *(or write more tests)*.

[2016-05-30 13:33] serkandurusoy commented on #12
Sure thing! I am going to be using this in a project in the following days
and I'll definitely report back my findings if I see anything out of place.
Thanks!

On Sun, May 29, 2016 at 9:10 PM, Radosław Miernik <notifications@github.com>
wrote:

[2016-05-30 13:33] serkandurusoy commented on #14
Thank you!

[2016-05-30 14:01] serkandurusoy commented on #14
@radekmie could you push a release to npm?

[2016-05-30 14:39] radekmie commented on #14
I've published `1.0.0-rc.8`.

[2016-05-30 17:46] #11 closed

[2016-05-30 17:46] #14 closed

[2016-05-30 17:47] radekmie commented on #11
It's fixed in `1.0.0-rc.9`.

[2016-05-30 17:47] radekmie commented on #14
It's fixed in `1.0.0-rc.9`.

[2016-05-30 17:48] serkandurusoy commented on #14
Thanks!

[2016-05-30 17:48] serkandurusoy commented on #11
Thanks a lot!

[2016-05-30 19:13] guciek27 opened #15 "Form validates automatically when component is mounted"
When using autosave={true} on `AutoForm`, the form is instantly validated when component mounts.

[2016-05-30 20:36] #15 closed

[2016-05-30 20:39] radekmie commented on #15
It's fixed in `1.0.0-rc.10`.

[2016-05-30 20:58] guciek27 commented on #15
Thanks!

[2016-05-31 12:35] guciek27 opened #16 "Issue with adding new list items"
I have an issue with adding new list items when using autosave={true} on the form. It is fine that the form is validated when new item is attached but at the moment the item does not attach on the first click.

Please have a look at the attached gif below that should explain the issue. Keep in mind that I'm clicking twice on the + icon before new items appear:
![kb2fp827mt](https://cloud.githubuse

[2016-05-31 13:19] radekmie commented on #16
Thanks for pointing it out. I'll look at it later.

[2016-05-31 14:09] radekmie commented on #16
I've tried, but I can't reproduce it. Could you show the code?

[2016-05-31 16:05] guciek27 commented on #16
This is the simplified version of the code.
[code]

[2016-05-31 16:18] serkandurusoy commented on #16
Hmm, this may be related to the fact that `contactEmails` is possibly optional with no initial value defined (so its internal expected initial count is 0) but we explicitly provide an initialCount property that is higher

so to summarize, I think this may be an apparent issue with

* array is optional and we have initial count
* array min count is less than intial count

[2016-05-31 18:43] radekmie commented on #16
Hah! It's not that, @serkandurusoy. It's not even a *bug*. If you look carefully, you'll see, that not the *badge* has an `onClick` event, but only the `icon`. It should work in `1.0.0-rc.11`.

[2016-05-31 18:45] serkandurusoy commented on #16
ooh! wow, good catch!

[2016-05-31 19:28] serkandurusoy commented on #16
@radekmie  that might not have been it afterall.

If you watch the gif carefully, the first click registers and fires off validation! so it is not a click target problem. the second click then creates the new input

furthermore, this is not a bootstrap-3/4 input but based on the unstyled and your commit changes bootstrap versions, but the unstyled does not seem to have that wrong placement of clic

[2016-05-31 19:45] radekmie commented on #16
I don't think, that `validate` is being called - those fields, that @guciek27 posted, have *constant* errors. All in all - if this issue is still a problem, please, comment, and I'll reopen this issue.

[2016-05-31 19:58] serkandurusoy commented on #16
I tested this. It does not matter about the error being there all along. I can introduce a new error and still reproduce the issue.

1. make sure there is an error, you can create it by clearing a required field
2. click on + for a list (nothing happens)
3. click again and an input is added

it is even more evident when you start with an empty form that has required fields that are empty to begin

[2016-05-31 20:42] radekmie commented on #16
Okay, I'll dig into it tomorrow.

[2016-06-01 14:41] #16 closed

[2016-06-01 14:42] radekmie commented on #16
Problem was in `ListAddField`, not `ListField` - its `initialCount` was undefined, but it should be passed from `ListField`. Fixed in `1.0.0-rc.12` (I hope).

[2016-06-02 06:04] serkandurusoy commented on #16
Thank you @radekmie I'll test this as soon as I can and let you know.

Sent from my iPhone

On Jun 1, 2016, at 17:42, "Radosław Miernik" <notifications@github.com>
wrote:

Problem was in ListAddField, not ListField - its initialCount was
undefined, but it should be passed from ListField. Fixed in 1.0.0-rc.12 (I
hope).

—
You are receiving this because you were mentioned.
Reply to this email direct

[2016-06-02 08:01] serkandurusoy commented on #16
this works now! thank you.

[2016-06-04 22:02] serkandurusoy opened #17 "[Feature Request] Expose validation context to onSubmit() for manually adding async errors"
Simple schema runs validations synchronously, but some validations require server roundtrips or other async calls.

For example, I may want to check a given input if it conforms to some security related constraints or uniqueness constraints etc. And the only way to do that may be to use a server side method. And if it does not, I would like to show an error message to the user.

For such cases, si

[2016-06-04 22:04] serkandurusoy opened #18 "[Question] How to use existing document for update"
Currently, I am using the `model` attribute

    <AutoForm model={currentDocument} schema={formSchema} onSubmit=(/**/)>

to provide initial values to the form fields so that I can use the form as an *update form*.

Is this the correct approach?

[2016-06-04 23:14] radekmie commented on #17
For such a validation you can pass an `error` prop to form. Provided error should be compatible with your schema (`ValidationError` for `SimpleSchema`). Also, `onSubmit` is a final action.

[2016-06-04 23:17] radekmie commented on #18
Yes, kind of - it's not *initial value* but *value*. If the `model` prop will change, it will override current `AutoForm` state. Look [here](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/forms/AutoForm.js#L26-L28).

[2016-06-04 23:17] #18 closed

[2016-06-05 00:14] serkandurusoy commented on #18
Hmm, so that means, if we reactively set model (eg from a collection) than it overrides the complete state of the form, right?

So, to summarize, is this the way you suggest designin update forms or is there something else we need to use?

Basically, I want to update an existing document.

[2016-06-05 00:29] serkandurusoy commented on #17
Hmm, do you mean something like:

[code]

Does this override the form errors or does it get combined with existing errors?

And what do you mean by onSubmit being a final action? In that case, how do you propose we do asynchronous type checks and validatinons?

I can't give you an answer right now about why I might need the form context, but obviously, aldeed:autoform provides necessary mechanisms

[2016-06-05 00:32] serkandurusoy commented on #17
Edit:

I think a way to access the form's instance or at least the "simple schema validation context" it creates, is very important. That way, we can even define async validations within the schema itself!

[2016-06-05 08:00] radekmie commented on #18
Setting model reactively is not a problem, but if the model will change, it will *reset* the form state to the *database state*. The best option to use `AutoForm` as an update form is to pass non-reactive model.

[2016-06-05 08:09] radekmie commented on #17
Your example is 100% correct (okay, there's one thing - `AutoForm` by default calls `.clean()` automatically). [Current error is either the one from props or the one from validation.](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/forms/ValidatedForm.js#L47-L49) By the *final action*, I meant `onSubmit` to have no callback for the user - form calls `onSubmit` and th

[2016-06-05 09:34] serkandurusoy commented on #17
Ok, so I have two follow up questions:

1. are you sure        autoform calls .clean() automatically? Because in the forms I design now, the doc passed by onSubmit is never cleaned, for example, autorun's are not run. That's why I got the habit of cleaning the doc before submit. Maybe you are cleaning before validating but you are not passing the cleaned version to submit.

2. Is there a way to ob

[2016-06-05 09:35] serkandurusoy commented on #18
How do you propose we do that? The only two ways I know it would work properly are getting the model from

* either a non-reactive query (so it is not observed)
* or a method call (so it is not subscribed)

Do you know any other way?

[2016-06-05 09:53] radekmie commented on #17
1. My fault - [it calls .clean() on the validated model](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/bridges/SimpleSchemaBridge.js), not the submitted one.
2. That makes sense. I'll think about it.

[2016-06-05 09:58] radekmie commented on #18
Both seem okay. The first one is in my opinion more intuitive:

[code]

[2016-06-05 10:12] serkandurusoy commented on #18
Yep! That would be my preference as well. Thank you.

As a final feedback, I had to look at the source code to figure out that "model" was the property that I needed to pass on some first form data. Autoform for example uses the "doc" property which is more intuitive. Model gets confused with the "schema" in terms of meaning.

[2016-06-05 10:14] serkandurusoy commented on #17
1. Do you plan on implementing clean on the onSubmit callback as well?
2. Great! It would really make uniforms all more powerful!

[2016-06-05 10:31] radekmie commented on #18
I've chosen `model`, because this package is not only Meteor but also database independent.

[2016-06-05 10:33] radekmie commented on #17
1. Probably not, because all schemas are currently *bridged* and I don't want (at least, currently) to over-complicate it.

[2016-06-05 11:16] serkandurusoy commented on #17
Ok, fair enough. I'll continue manually cleaning after my onSubmit then.

I'm also looking forward to your take on item 2.

[2016-06-05 11:17] serkandurusoy commented on #18
But it is the same. A model refers to the "shape/constraints" of a database, not the data it contains. Whereas a doc (nosql) or record (sql) refers to the actual data.

[2016-06-05 12:56] serkandurusoy opened #20 "How to contribute?"
The project requires a contribution guide that describes how to

* set up necessary environment
* development dependencies and how to install them (lerna and stuff)

And then we should describe

* hot contribution workflow should be
* base coding style guidelines
* things to watch out for
* things to do etc

[2016-06-05 13:14] radekmie commented on #20
I think I will create a [`CONTRIBUTING.md`](https://github.com/blog/1184-contributing-guidelines) - it's a clean way to do it.

[2016-06-05 14:03] #20 closed

[2016-06-05 14:08] serkandurusoy commented on #17
It looks awesome! Thank you!

[2016-06-05 14:11] serkandurusoy commented on #17
Quick question, as far as I understand, if we provide an error to the callback, then the provided error replaces any existing errors, right? It does not "merge" the errors?

So for example, if the schema validation has error on fieldA and myapi provides error for fielfB and if I pass the error from fieldB to the callback, the form only displays the error for fieldB and it "ignores" the other error

[2016-06-05 14:12] serkandurusoy commented on #20
Thank you

[2016-06-05 14:15] radekmie commented on #17
You have to merge it by yourself - uniforms API don't know, what exactly the error is - you can easily create a `Bridge` with a numeric error.

[2016-06-05 14:19] serkandurusoy commented on #17
Yep, this is what I thought and in fact, putting some more thought into it, I like this better due to its flexibility. It is up to the developer to decide what to do with multiple error sources.

[2016-06-05 14:20] radekmie commented on #17
Exactly.

[2016-06-05 14:28] serkandurusoy opened #21 "[Idea] Better docs, examples and playground"
I would like to keep contributing to uniforms because I think it fills an important gap for meteor developers who transition from blaze to react. The seamless integration with simple schema makes this package the single most important gap-filler that was the lack of an autoform counterpart in react. There are other very powerful form libraries and they can be extended into working with simple sche

[2016-06-05 14:38] radekmie commented on #21
Wow, that very kind of you, @serkandurusoy! Yes, you've got me... There *is* already small repo with few examples - I had to test it somewhere, right? - but it's not ready at all... I've planned to make it public but I don't have that much time. For now, I'll add you @serkandurusoy, then we can make it public.

[2016-06-05 14:41] serkandurusoy commented on #21
Great! Thank you, I'm very excited about this. I'll take a look at the
examples this week and see what I can contribute.

In the meantime, I'll set up a server and give you access.

Would a clean ubuntu 16.04 64-bit image suffice?

You should email me your public key.

Would you like to use mup to deploy the examples or set up CI?

On Sun, Jun 5, 2016 at 5:38 PM, Radosław Miernik <notifications@gi

[2016-06-05 14:43] radekmie commented on #21
Hooray! Let's first make something, then host it, okay?

[2016-06-05 14:44] serkandurusoy commented on #21
Sure!

I have a few things in mind, I'll note them down and post them over at the
examples repo!

On Sun, Jun 5, 2016 at 5:43 PM, Radosław Miernik <notifications@github.com>
wrote:

[2016-06-07 14:57] serkandurusoy commented on #17
@radekmie I think this has created a regression. Now the validation is constantly running and interestingly logging warnings in the console and moving the text cursor to the end of the input!

For example try entering text into the middle of an existing input that does not pass validation

![image](https://cloud.githubusercontent.com/assets/4649948/15862725/354f4390-2cd9-11e6-8092-5f407d5c81c9.png

[2016-06-07 15:51] serkandurusoy commented on #17
@radekmie I confirm that this is a regression. Reverting back to 12 fixes the problem.

[2016-06-07 16:27] radekmie commented on #17
Okay, I'll try to investigate it, but I think it's not exactly that commit, but some of the others between 12 and 13. You could try to do `git bisect` or something if you want.

[2016-06-07 17:39] serkandurusoy commented on #17
I tried to do git bisect but I don't have a testing workflow.

I tried to set up a new meteor project, clone uniforms to an external folder and cd into packages/uniforms and tried to run `npm pack` so that I can use a local npm package for testing but npm throws me all kinds of errors and nothing useful.

I wonder how you are running your local test setup.

This is in fact quite important because

[2016-06-07 19:11] radekmie commented on #17
In a quite hacky way - I have a meteor project with `package.json` with an absolute path to these packages on my disk (also, you can try `npm link`).

[2016-06-07 19:15] radekmie commented on #17
I'll move it to a new issue.

[2016-06-07 19:15] #17 closed

[2016-06-07 19:16] radekmie opened #22 "Regression in `1.0.0-rc.13`"
Moved from #17:

[2016-06-07 20:46] radekmie commented on #22
@serkandurusoy, I've tried to reproduce this behaviour, but I couldn't. Also, I've checked the whole repository and there's no single warning (even no `console` outside the README). Could you post an example?

[2016-06-07 23:23] serkandurusoy commented on #22
@radekmie here's a minimal reproduction repo

https://github.com/serkandurusoy/uniforms-issue22-reproduction

[2016-06-08 04:32] radekmie commented on #22
Great! I'll take care of this.

[2016-06-08 08:50] radekmie commented on #22
This looks like an React bug itself - [I've created an issue for that](https://github.com/facebook/react/issues/6992).

[2016-06-08 09:14] serkandurusoy commented on #22
@radekmie what about the normal text types?

they, too have the cursor moving to the end problem!

The strange thing is, the problem goes away when I revert to rc.12 what do you think about that?

[2016-06-08 09:21] radekmie commented on #22
I've made `git bisect` and #19 is the problem. The main change is *dynamic* `type`.

[2016-06-08 09:22] serkandurusoy commented on #22
Yeah I'm actually looking at it right now and trying something, I'll let you know in a minute

[2016-06-08 09:34] serkandurusoy commented on #22
@radekmie I just pushed an update to my repo and included two custom components (text and email) that does not have dynamic type definition, but it still behaves the same,

* validation gets logged
* the cursor jumps

so it may not be related to #19 but a combination of the other changes with #19

the cursor jumping might be a clue here about where we set the state of the value/error of the compon

[2016-06-08 09:38] serkandurusoy commented on #22
Please give me a minute and I'll try something even better, I'll base a custom component on rc.12!

[2016-06-08 09:46] serkandurusoy commented on #22
@radekmie please take a look at https://github.com/serkandurusoy/uniforms-issue22-reproduction/tree/rc12-with-dynamic-type

this is basically rc.12 + #19 combined and excluding #17 changes

dynamic type is not a problem

[2016-06-08 09:49] serkandurusoy commented on #22
Hmm, why did you remove this line:

https://github.com/vazco/uniforms/commit/4a56596f8a2e296f891316430cdba104cd21f8e6#diff-5d9d3a42e5c2e10ea4135efba1608dc4L82

[2016-06-08 09:55] serkandurusoy commented on #22
I now tried rc.14 but did not make a difference in terms of this problem.

[2016-06-08 10:53] radekmie commented on #22
I've removed it, because now `setState` is called either in callback of `onValidate` or [directly few lines later](https://github.com/vazco/uniforms/commit/4a56596f8a2e296f891316430cdba104cd21f8e6#diff-5d9d3a42e5c2e10ea4135efba1608dc4R89).

[2016-06-08 10:55] serkandurusoy commented on #22
Yeah, that's what I thought but just wanted to make sure.

This is now becoming a mystery!

[2016-06-09 14:57] #22 closed

[2016-06-09 15:17] serkandurusoy commented on #22
@radekmie I do confirm that this now solves this problem. thanks!

[2016-06-09 16:11] zeroasterisk commented on #21
:+1:

[2016-06-09 16:17] zeroasterisk opened #23 "Better automatic (passed through) options for a select, radio, checkboxes"
For example, here's a standard Enum based "select" field with `allowedValues` & `autoform.options`

[code]

I have this functionality somewhere -- I'll see if I can dig it up...

[2016-06-09 16:37] radekmie commented on #23
Currently, props can be declared in SimpleSchema ([it's covered here](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/bridges/SimpleSchemaBridge.js#L122-L137)) within `uniforms` key.

Idea:

[code]

_Yes, I've just changed `autoform` to `uniforms`._

But to keep compatibility with existing `SelectField` components, it will be interpreted as:

[code]

So it will be easier to tra

[2016-06-09 16:45] zeroasterisk commented on #23
I think that sounds fine...

For ease of use, for people migrating from `aldeed:autoforms` to `uniforms` I think supporting [whatever they support](https://github.com/aldeed/meteor-autoform#what-are-the-various-ways-i-can-specify-options-for-a-select-radio-group-or-checkbox-group) would be ideal, but limited scope is reasonable.  _(omitting helpers support)_

I also think it (and all ported config

[2016-06-09 16:49] radekmie commented on #23
I thought about allowing `autoforms` key in schema (with some warnings), but it should be discussed. If you really need it - create another issue and let's discuss it.

[2016-06-09 17:07] serkandurusoy commented on #23
I think naming consistency is important. If we are using the component as `<AutoForm ..../>` then the corresponding key on the schema should be the same. If we use uniforms on the schema, then we should probably name the component <UniForms   ... />

[2016-06-09 17:13] radekmie commented on #23
@serkandurusoy: `<UniForm />`?

Ha, I thought the same at the beginning! But if you are _new_ and want to know, what each form is doing... What `<UniForm ... />` or `<Uniform ... />` is doing, while there are `<BaseForm ... />`, `<QuickForm ... />` and other, _well named_ ones?

[2016-06-09 17:18] serkandurusoy commented on #23
I don't see an example that uses anything other than AutoForm, so why not call it Uniform:

[code]

I believe quickform is just redundant and should not be used. Baseform is a "developer" friendly component that should be used to creat custom top level form components. and UniForm should be our official top level component "implementation" and not be named autoform

[2016-06-09 17:27] radekmie commented on #23
Yes, that would make sense if `uniforms` would be Meteor-only packages, but they're not. I'm a fan of semantic naming, so every form component is named after his role.

Yes, those _intermediate_ forms are mostly unused, but in my first draft were only `Base`, `Quick` and `Validated` forms - `Auto` is just a _helper_, that is the easiest to use _(that's why others are described only on inheritance

[2016-06-09 17:33] serkandurusoy commented on #23
Ok, then the question is, what's your suggested best practice? Do you
suggest that we use quickform, validatedform etc?

Using helper/shorthand names is not always a great thing due to the
abstraction it creates.

But if the separate components don't offer much value out of the context of
Meteor, than perhaps we should document this and the usecases.

(Now that I'm thinking about the docs site and

[2016-06-09 17:39] radekmie commented on #23
Use whether you need, really.

About other forms... In short _(I want to write more about it in the documentation, or maybe in some Medium post...)_ - every `*Form` (without `BaseForm`) exposes a static method called `*` (`Quick` for `QuickForm`, etc.). It can be used to _extend_ functionality of given component [_(look at `ValidatedQuickForm` source!)_](https://github.com/vazco/uniforms/blob/mast

[2016-06-09 21:12] #23 closed

[2016-06-10 12:57] zeroasterisk commented on #23
Thanks @radekmie -- so to use this, it should be a simple as changing `autoform.options` to `uniforms.options` in my schema, right?

[2016-06-10 13:04] radekmie commented on #23
Yes.

[2016-06-11 15:28] radekmie commented on #21
I've started to work on documentation. The documentation itself is already implemented (markdown FTW!), but it has to be written (or at least taken from `README.md`). Examples are coming.

[2016-06-14 12:59] macrozone opened #24 "Radio-Field should use transform-property to display the value"
Hi there, awesome work so far, looks really promising and clean!

I found one oddity, though: In all RadioField-Variants, the value is displayed directly :

` <label>{item}</label>`

I think it should be: ` <label>{transform(item)}</label>` with `transform` beeing a prop passed to the field.

I would do a PR, but i wanted to ask, if I understand this right?

[2016-06-14 13:02] serkandurusoy opened #25 "Suppress HTML5 form validation"
Currently, uniforms begins validation only with the initial submit.

But, HTML5 form validation (for fields like number, email, date etc) supersedes the form submit handling in such a way that it is called before the first submit gets fired.

This results in native browser validation messages appearing.

After the first submit, uniforms takes over the validation, no longer displaying native browse

[2016-06-14 13:11] serkandurusoy commented on #24
That indeed looks like an overside.

You can take cue from the select component as a proper example and
implement a PR that also covers the styled components.

Thanks!

Sent from my iPhone

On Jun 14, 2016, at 15:59, Marco Wettstein <notifications@github.com> wrote:

Hi there, awesome work so far, looks really promising and clean!

I found one oddity, though: In all RadioField-Variants, the value

[2016-06-14 14:19] radekmie commented on #25
I don't think it should be mandatory - default prop: `novalidate: true` should suffice.

[2016-06-14 14:53] radekmie commented on #24
Yes, that's a good idea, @serkandurusoy. Looking forward your PR, @macrozone!

[2016-06-14 17:08] #25 closed

[2016-06-15 10:05] macrozone commented on #24
Ok here we go.

I noticed that the published version does not include the transform-mechanism at all. Are there other tasks to do before the next release?

[2016-06-15 10:19] radekmie commented on #24
No, but currently releases are quite random - sorry.

[2016-06-15 10:22] #24 closed

[2016-06-15 10:53] radekmie commented on #24
I've just released `1.0.0-rc.16`.

[2016-06-15 11:40] macrozone commented on #24
awesome, thx guys!

[2016-06-15 15:16] macrozone opened #28 "Enable setting of submit-button-label in AutoForm"
Currently you can't define the label for the submit-button in a AutoForm or QuickForm unless you implement your own QuickForm.

E.g. like this:

[code]

Now I can use `<AutoForm submitLabel="Send" schema={...} />`

In my code i have a slightly different SubmitField-component with a button instead of a <input type="button" />, because <button> supports children. So in my code i have:

[code]

where

[2016-06-15 17:13] radekmie commented on #28
Separate prop for submit button label seem to be an overkill, but `Auto`/`Errors`/`SubmitField` configurable by props (eg. `<QuickForm autoField={() => <p>Example</p>}`) is quite neat option. Does it makes sense for you?

---

*Side note:* You can inherit `AutoForm`, not `QuickForm` to override `getSubmitField`.

[2016-06-15 19:42] zeroasterisk opened #29 "feature request: throttle setting for autosave"
When typing in a value, I don't want to autosave every character (when typing fast).

I'd like to wrap the autosave `onSubmit` with something like `_.throttle(onSubmit, 2000)`

[2016-06-15 19:47] serkandurusoy commented on #29
onSubmit is just a function call and you can do your throttling within that
function itself. in fact you can throttle, debounce, mix and match as you
like.

On Wed, Jun 15, 2016 at 10:42 PM, alan blount <notifications@github.com>
wrote:

[2016-06-15 20:45] radekmie commented on #29
I agree with @serkandurusoy - you can do it by yourself, but I'll consider an `autosaveDelay` prop - that might be handy and more user-friendly. I'll close it for now and maybe reopen it in the future.

[2016-06-15 21:59] serkandurusoy opened #30 "Regression with rc.16"
On rc.15

    <TextField type="password" name="password">

renders a password field, but on rc.16 this renders a normal input field.

It seems like the changes introduced by [commit 6b0ed46](https://github.com/vazco/uniforms/commit/6b0ed462fcac27737a709caf8afe892bc645401c) where we set

    type={typeof props.type === 'function' ? 'text' : props.type}

instead of

    type={props.type || 'text'}

[2016-06-16 07:21] radekmie commented on #30
Yes, I've made this, because every field already receives a `type` prop - it's the type from schema (SimpleSchema at least).

[code]

should do the job.

[2016-06-16 07:24] #30 closed

[2016-06-16 07:32] radekmie commented on #30
Fixed in `1.0.0-rc.17`.

[2016-06-16 08:06] macrozone commented on #28
Hi @radekmie, looks like a good option that does not need much code. I like that.

I also like the other approach with something like afquickfields. I will open a new issue for that.

[2016-06-16 08:20] macrozone opened #31 "Add a component that renders a list of fields"
I think it would be nice to have a `<AutoFieldList />`-component that renders a list of fields automatically
similar to aldeed:autoform's https://github.com/aldeed/meteor-autoform#afquickfields:

[code]

This allows us to easly change the style or behavior of the submit button or to add more elements inside the form without loosing the "auto-form-magic".

you could also omit fields:

[code]

or in

[2016-06-16 08:34] macrozone commented on #30
Isn't the type from the schema usually something like `String, Number, Object, Array`, etc?

I think we should distinguish between both "types" better. E.g. name one "htmlType" and the other "schemaType" or so.

If you would want to force a type in the schema you would probably want to do one of the following:

[code]

or

[code]

If `htmlType` is not set, you would "guess" it from the schemaType:

[2016-06-16 09:48] radekmie commented on #30
I thought about renaming schema `type` to `fieldType`, because only `AutoField` uses it.

[2016-06-16 09:51] radekmie commented on #31
Great idea, @macrozone!

How about `AutoFields`? `AutoFieldList` might be confused with `ListField` (and it's _family_). In spite of all, that's a great idea! I'll do it later today.

[2016-06-16 11:00] macrozone commented on #31
Also thought about `AutoFields`, but it may be get confused with `AutoField` ;-)

[2016-06-16 13:21] serkandurusoy commented on #30
`type` is *the* correct prop for html input elements within the context of JSX therefore instead of renaming it, we should make it so that this is context aware.

Such that;

perhaps the `type` from the `schema` gets translated into an internal `schemaFieldType` property and `type` from the `prop` or `uniforms` key gets translated into an internal `htmlInputFieldType`

[2016-06-16 13:24] serkandurusoy commented on #30
@radekmie it seems rc.16 has not been published to npm yet

[2016-06-16 13:41] radekmie commented on #30
No, `1.0.0-rc17` is already published, but there were no changes in `uniforms` itself, so it stays in `1.0.0-rc.16`.

[2016-06-16 14:12] #28 closed

[2016-06-16 15:05] radekmie commented on #31
Check it out. I'll publish new version later. Let  me know, if there are some errors.

[2016-06-16 15:39] radekmie opened #32 "Field type"
As in comments of #30: there is some misleading with the `type` prop. Now every field receives its type from schema, but `<TextField />` also uses this prop to determine HTML input type. I renamed `type` from schema to `fieldType` to keep `<TextField />` compatible with normal `<input />`.

_This is only an informative issue._
_It will be closed immediately, but if any related issues will occur, p

[2016-06-16 15:39] #32 closed

[2016-06-17 10:40] serkandurusoy commented on #29
@radekmie @zeroasterisk I think we should revisit this issue.

We just hit a probem where, autosave combined with a debounce handler that wraps the forms submit handler creates a unique problem!

When we have an array of strings or objects and "add" a new record on an "update" form where we provide a `model` prop that contains the live document from the collection (reactive), the debounce can caus

[2016-06-17 11:14] radekmie commented on #29
That's interesting, @serkandurusoy. I know it won't be doable within minutes, but could you create a repository (or at least a gist) with reproduction? That one for #22 was very useful.

In spite of all - I'll try to come up with something.

[2016-06-17 11:26] serkandurusoy commented on #29
@radekmie I'll try to do that and if I can't I'll ask @guciek27 for help on that.

In the meanatime, as an additional note to my solution suggestion:

I think we can track "new array inputs";

* using explicit state which gets set by the "plus" button itself.
* instead of trying to implicitly detect it in the change event (because tracking deeply nested arrays might be slow)

[2016-06-17 13:58] jakobloekke commented on #20
How do I include the local, forked version in my main project?
I tried the usual `npm link` in uniforms and uniforms-semantic, but I can't get it to work. I have no experience with Lerna-projects – what steps are necessary to prepare the project for use?

Here's the error I get:
[code]

It feels like some cross-referencing is not set up properly.

[2016-06-17 15:46] zeroasterisk opened #33 "Recommendation for multi-checkbox inputs?"
What is your recommendation for multi-checkbox inputs?
Ideally I want to return an array of values, for all checked checkboxes, and specify them as `uniforms.options`

[2016-06-17 15:47] zeroasterisk opened #34 "What's your recommendation for multi-selects"
I'm considering wrapping http://alsoscotland.github.io/react-super-select/react-super-select-examples.html#multiselect but my first attmpts have failed.

Again, this should return an array of values...

How do you setup a schema for this?  `type: [Number]` and `uniform.options` ?

[2016-06-17 15:51] zeroasterisk opened #35 "bug: checkbox label doubled & needs spacing between checkbox and label"
We need to be able to control the checkbox field better.

* We should default to no label on the left (in the FormGroup)
* We should allow a schema defined custom label on the left (?prop: `labelLeft` ?)
* We should add a `&nbsp;` after the input and before the label on the right.

![ss](http://puu.sh/pw6uh/000ff35e05.png)

[2016-06-17 16:35] radekmie commented on #20
@jakobloekke
Unluckily, there's no _easy way_. You can use [relative path in `package.json`](https://github.com/vazco/uniforms/blob/master/docs/package.json#L9-L13), and then _refresh_ it with:

[code]

[2016-06-17 16:51] radekmie commented on #35
Okay, so:

0. _We should default to no label on the left (in the FormGroup)_
I'll comment #36.

0. _We should allow a schema defined custom label on the left (?prop: labelLeft ?)_
It's already done because we have `uniforms` key in SimpleSchema and it will be merged with props. In my opinion `labelLeft` is not adequate, because sometimes it is above the field. How about `labelBefore`?

0. _We shou

[2016-06-17 16:54] radekmie commented on #34
Yes, `type: [something]` and `uniforms.options` is a good way to do it, but you can also use `uniforms.transform` (or `transform` prop directly). Eventually, you'll need to create a wrapper to map values from that select to your desired values.

[2016-06-17 17:12] radekmie commented on #33
It should be easy but on the second thought... It's doable in a hacky way but it's not what we want. It seems like there is a need for a new component - same as `<SelectField />` but with checkboxes instead.

[2016-06-18 11:00] radekmie commented on #33
I've got another idea - how about a `checkbox` (or `checkboxes`) prop on `<SelectField />`? It will be easier to switch between them - it's only an additional prop in schema or form. What do you think?

[2016-06-18 13:55] zeroasterisk commented on #33
I agree, that is how I've seen it done with other form systems. Then the
schema type needs to support an array, and we are all set.

On Sat, Jun 18, 2016, 7:00 AM Radosław Miernik <notifications@github.com>
wrote:

[2016-06-18 13:56] radekmie commented on #33
I'll take care of this now.

[2016-06-18 16:35] #33 closed

[2016-06-18 16:47] radekmie commented on #34
**tl;dr;**
To have a custom multi-select, you have to create your custom wrapper. If you'll face any problems, comment here, ask me directly or create an issue.

**Longer version**
Multiple selects are a hard topic in general - even Bootstrap and Semantic have no special CSS-only theming for it. Of course, they have alternatives (Semantic have it built-in and there are many community packages to d

[2016-06-18 16:47] #34 closed

[2016-06-21 12:28] macrozone commented on #33
It's the same for radio-buttons:

List of radiobuttons are equal to select with single value

List of checkboxes are equal to select with multivalue

[2016-06-22 15:27] radekmie commented on #29
Any progress?

[2016-06-22 16:13] vladejs opened #39 "how to add bootstrap classes to inputs and labels"
I am working on a bootstrap themed version of a site, so i want to specify classes to inputs like this:
[code]

Can I do thath from schema specification? Something like:
[code]

The issue is, I want to use bootstrap 3 structure, but with different classes

[2016-06-22 18:39] vladejs commented on #39
No I don't. I don't know if is possible either.
So there is no trivial solution to inject custom classes to submit buttons?

[2016-06-22 19:05] radekmie commented on #39
I think that `trivial` is a little bit too general world, but here it is:

[code]

_(it was implemented due to issue #28)_

[2016-06-22 19:20] vladejs commented on #39
And Boom goes the dynamite... I think this package just got **awesome**. Your solution is great.
From now on I am thinking in totally replace my *formsy-react* forms with uniforms in production.

[2016-06-22 19:39] vladejs opened #40 "SSR warning due to different checksums on client and server"
I am using Flow Router SSR, when using an `<AutoForm>` component I get this error on browser console:
[code]

Any ideas on how to tackle this?

[2016-06-22 19:42] radekmie commented on #40
Ha! It's because every field receives an `id` - given or random. I don't really know, what to do about it... Any ideas?

[2016-06-22 19:44] radekmie commented on #40
Here is [related React issue](https://github.com/facebook/react/issues/4000).

[2016-06-22 19:58] vladejs commented on #39
Well, let's hold the ovation for one sec... There's still one problem.
I just noticed your solution works with all inputs but submit ones. Your example sets the classes to the `section` element instead of the `input` itself:
[code]

Looking at the [submitField](https://github.com/vazco/uniforms/blob/master/packages/uniforms-bootstrap3/src/components/fields/SubmitField.js#L17) component you can see

[2016-06-22 20:05] radekmie commented on #39
Unfortunately, it is. If you have a free minute, submit a PR for it. If not - just let me know and I'll fix it. I think, that `inputClassName` should be good, isn't it?

[2016-06-22 20:12] vladejs commented on #39
`inputClassName` for the submit input looks perfect. Sorry, I can't `git clone` right now [poor internet connection :( ]

Please if you can comment when it's resolved I'll be grateful.

[2016-06-22 20:25] #39 closed

[2016-06-22 20:33] radekmie commented on #39
I've also published `1.0.0-rc.19`.

[2016-06-22 20:58] vladejs commented on #39
[code]

[2016-06-22 21:02] radekmie commented on #39
Maybe some npm cache - it's already listed [here](https://semver.npmjs.com/).

[2016-06-22 21:03] vladejs commented on #4
How can I implement this with `<AutoForm/>`? Is there some `inlineErrors={true}` prop?

[2016-06-22 21:06] radekmie commented on #4
It's only an available property - it's not built in in standard components - you can use it to design your own.

[2016-06-23 11:11] janslowik opened #42 "ErrorsField compatible with react@0.14.x"
I used uniforms with old version of react because of other project dependencies. Most of feature works well despite the uniforms need react@15. However I got error when tried to use `ErrorsField`.

Is it possible to provide functionality of uniforms with older version of react.

[2016-06-23 13:45] zeroasterisk commented on #4
it is on the bootstrap UI

[2016-06-23 13:48] radekmie commented on #4
I thought it is not... It's even better.

[2016-06-23 21:56] radekmie commented on #40
I've fixed in on `devel` branch. It would be great, if you could test it and let me know, if it works correctly.

[2016-06-23 21:57] radekmie commented on #42
I've fixed in on `devel` branch. It would be great, if you could test it and let me know, if it works correctly.

[2016-06-24 18:02] #40 closed

[2016-06-24 18:02] #42 closed

[2016-06-24 18:56] RSchwan opened #44 "Feature request: Support for Astronomy"
For my new project I use [astronomy](https://github.com/jagi/meteor-astronomy). I'm not sure how hard it is to add support for it or if it is even possible.
Next week I have some time available and would like to implement it.
The only thing is that I don't really know where to start. But I hope with some guidance it should be possible.

[2016-06-24 19:05] serkandurusoy commented on #44
You can start from https://github.com/rclai/meteor-astronomy-simple-schema

On Fri, Jun 24, 2016 at 9:56 PM, RSchwan <notifications@github.com> wrote:

[2016-06-24 20:02] mixcas opened #45 "Upload field error"
I'm trying to make an upload field for images.

This is my component:
[code]

And this is my form schema:
[code]

If I try to submit a form with all it's fields empty, the returned errors are:

How can I return a more sensible error? like.

Ideally:

[2016-06-24 20:48] radekmie commented on #44
To be honest, I've never been using astronomy personally, so I don't really know, what could be hard or problematic to implement.

I would also start with [meteor-astronomy-simple-schema](https://github.com/rclai/meteor-astronomy-simple-schema/blob/master/astronomy-simple-schema.js#L33-L67) _(you may take some notes from there)_.

Then those surely will be your reference: [`astronomy/fields`](http

[2016-06-24 21:41] radekmie commented on #45
Well, it's not a problem of uniforms, but SimpleSchema itself. Currently, I could imagine only one (easy) solution - pass an `onValidate` prop to you `<AutoForm />` (it's described [here](https://github.com/vazco/uniforms#asynchronous-validation)) and manually create correct [`ValidationError`](https://github.com/meteor/validation-error/) (SimpleSchema uses it internally).

Something like:

[code]

[2016-06-24 21:41] #45 closed

[2016-06-27 13:59] guciek27 opened #47 "Reseting the form on submit"
Hello,
Is there a way to reset the form on submit? and if not than what would be your suggestion on doing that?

[2016-06-27 14:24] radekmie commented on #47
No, there's no special API for that, but you can do it by setting your `model` prop to your desired _after reset state_ - [`AutoForm` will respect that](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/forms/AutoForm.js#L23-L29). If you have a good use case for exposing such API, leave a comment here and let's discuss it.

[2016-06-27 15:12] guciek27 commented on #47
The workaround with `model` prop does not work. When a form has more than one field in it the value of the second field gets removed when I start typing in the first one.

We need that for a invite forms where after clicking invite the form is cleared.

[2016-06-27 16:26] radekmie commented on #47
Okay, it might be a problem with absent initial values. Give me some time to think this up. Also, every idea is welcome.

[2016-06-27 16:35] serkandurusoy commented on #47
aldeed:autoform has this form reference and a reset() method attached to
it. it is very handy in managing the form lifecycle. we could use something
similar here.

On Mon, Jun 27, 2016 at 7:26 PM, Radosław Miernik <notifications@github.com>
wrote:

[2016-06-27 16:37] radekmie commented on #47
Yes, it's achievable to do it with `ref`, but I don't like them, really (I know, it's a trivial reason, but maybe I'll come up with a different approach).

[2016-06-27 21:14] #47 closed

[2016-06-27 21:15] radekmie commented on #47
Usage is covered in [`README.md`](https://github.com/vazco/uniforms#reset-form).

[2016-06-28 06:25] serkandurusoy commented on #47
Cool! Thanks!

On Tue, Jun 28, 2016 at 12:15 AM, Radosław Miernik <notifications@github.com

[2016-06-28 14:21] guciek27 commented on #47
@radekmie,
Let me know once the change is released :)
Thanks!

[2016-06-28 14:52] #35 closed

[2016-06-28 15:04] radekmie commented on #47
I've just released `1.0.0-rc.22`.

[2016-06-28 17:21] zeroasterisk opened #51 "Feature Request: onSubmit callback or onSubmitSuccess/onSubmitFailure events"
If I am submitting a form via a method call (for example) and it's `async` --- I would like the ability to pass down a callback and act on it's response.

The new API for `formRef.submit()` is great, but I can not see any way to act on results from that submit.

Here's my current use case:

1. Normal submit the form, saves a document and shows a success notification, doesn't navigate
2. Clicking o

[2016-06-28 17:53] radekmie commented on #51
Yep, that's a quite common use case. How about simply doing a `return` at the end of `onSubmit`? This could suffice your needs because your `doSubmit` could return a `Promise` or something similar.

---

I don't really get your idea with `onSubmitSuccess` / `onSubmitFailure` - could you describe it more precisely?

[2016-06-28 18:41] abuddenb opened #52 "AutoForm does not correctly validate fields with initial value"
Hello there,

I'm trying to pass data to hidden fields in an AutoForm by setting the value prop:

[code]

These fields fail validation until they're manually changed. What am I doing wrong?

[2016-06-28 18:51] radekmie commented on #52
Actually, it's not implemented right now to do so - [initial values are taken from your schema](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/helpers/connectField.js#L22-L29). It seems reasonable, to cover your case - given value (if present on first render) should be treated as initial. I'll do it later today.

[2016-06-28 19:10] radekmie commented on #52
Also, you've mentioned hidden fields... It would be great, to add dedicated component to achieve it. I'm curious, how you deal with those. Would you like to create another issue for that?

[2016-06-28 19:12] abuddenb commented on #52
I did this:

[code]

[2016-06-28 19:18] radekmie commented on #52
Okay. How about a _really_ hidden field? By _really_ I mean _invisible_ - `type="hidden"`. Also with an option to switch to `noDOM` mode. Would you like to create another issue? I can also do it by myself.

[2016-06-28 19:29] abuddenb opened #53 "Provide HiddenField component"
It would be useful in my application to provide support for `<input type="hidden"/>`

Example:

[code]

[2016-06-28 19:33] abuddenb commented on #52
Done: #53.

I'm new to React from Meteor. When you implement initial values, will it matter if the initial value comes from a reactive collection? Ex:

`<HiddenField name="graphics_id" value={this.context.graphic._id? this.context.graphic._id : ''}/>`

this.context.graphic._id will be an empty string when the page first loads.

[2016-06-28 19:37] radekmie commented on #52
Yes, it will matter - initial values are calling `onChange` **only** after their first render.

[2016-06-28 19:52] abuddenb commented on #52
So will `onChange` detect the updated initial value?

[2016-06-28 19:54] radekmie commented on #52
No. If it will change, it won't be initial value at that time. You have to either wait with render or (what you probably want), use upcoming `HiddenField`, that will automatically call `onChange`, when its value will change.

[2016-06-28 19:56] #52 closed

[2016-06-28 20:00] serkandurusoy commented on #53
You can provide `type="hidden"` to your `TextField` and it will become
hidden :)

On Tue, Jun 28, 2016 at 10:29 PM, Andrew Buddenberg <
notifications@github.com> wrote:

[2016-06-28 20:02] serkandurusoy commented on #52
changing the "visibility" of a field or its container using css causes some
browsers to completely ignore that field!

that's why there is a type=hidden in the html spec.

On Tue, Jun 28, 2016 at 10:56 PM, Radosław Miernik <notifications@github.com

[2016-06-28 20:20] abuddenb commented on #53
I did that, as well as setting label={false}. There are issues with setting an initial value as well.

[2016-06-28 20:27] todda00 commented on #3
I am also experiencing this issue, when I use `<AutoForm schema={userSchema} model={user} onSubmit={doc => console.log(doc)} >` I get no validation at all, but when I do not include a model: `<AutoForm schema={userSchema} onSubmit={doc => console.log(doc)} >` It validates the form against the schema.

[2016-06-28 20:31] serkandurusoy commented on #53
yes setting initial value is problematic.

but you can use the "model" attribute on the autoform for doing that.

[code]

sets the "name" field's initial value to "Serkan"

On Tue, Jun 28, 2016 at 11:20 PM, Andrew Buddenberg <
notifications@github.com> wrote:

[2016-06-28 21:05] abuddenb commented on #53
Just out of curiosity, how did you figure that out? It's not in the documentation. You had to search through the code, didn't you?

[2016-06-28 21:33] radekmie commented on #3
Could you share some more code, @todda00?

[2016-06-29 01:22] zeroasterisk commented on #53
[code]

[2016-06-29 06:29] radekmie commented on #53
@zeroasterisk, this won't work as intended, because that `onChange` event won't be called when `value` prop will change - you will have to change it directly in `model`.

[2016-06-29 07:22] #53 closed

[2016-06-29 13:34] MacRusher opened #54 "Feature Request: Displaying non-schema error"
There are use cases where displaying non-schema error could be useful, e.g. displaying error returned from a method.

Right now forms `error` prop must be simple-schema-compatible, and `Error`/`Meteor.Error` are not.

Example usage:
[code]

This kind of error could be displayed in `ErrorsField` component

[2016-06-29 13:37] MacRusher opened #55 "ErrorField is not styled in SemanticUI"
`<ErrorField name="someField" errorMessage="some message" />` is showing message as plan text, without any error markup

[2016-06-29 13:58] zeroasterisk opened #56 "Feature Request: Field level API to Form->getModel()"
I have a custom UI Input for date range picker, start & stop.

Until I can access both fields' values from a Field level component, I can't do a "number of days picked" calculation until the document saved in the database (or to component props).

Ideally, I want to, from a Field level component, have access to the parent form and all of it's API.
Then I could call the new _(and awesome)_ `getMode

[2016-06-29 14:01] zeroasterisk opened #57 "Feature Request: Form level API to getFieldValue()"
Similar to #56 it would be convenient to be able to lookup the value for any field.

Basically, it's something like: `_.pick(formRef.getModel(), 'myfield')`

That would work, but I suspect you could come up with something more elegant.

[2016-06-29 14:06] todda00 commented on #3
I was able to determine the issue is with a document which has collection helpers (https://github.com/dburles/meteor-collection-helpers) on it, providing prototype functions on the object.

The following is my user schema and collection helpers:
[code]
I am using Matra, here is my container:
[code]
The Register component has some common elements, but nothing to do with this issue, so I will just s

[2016-06-29 14:27] zeroasterisk commented on #3
HA! yes indeed - I also use `meteor-collection-helpers` and that was likely the cause of the problem for me too...

[2016-06-29 14:43] radekmie commented on #56
Doesn't [`findValue`](https://github.com/vazco/uniforms#field-props) cover your needs? I don't think, that access to the whole `model` is a good idea.

[2016-06-29 14:44] radekmie commented on #57
Doesn't [`findValue`](https://github.com/vazco/uniforms#field-props) cover your needs?

[2016-06-29 14:45] radekmie commented on #55
Unfortunately, not only in Semantic... Okay, I'll fix it.

[2016-06-29 14:46] radekmie commented on #54
It seems reasonable, to do so. I think, that treating `error.message` as a whole message will be sufficient.

[2016-06-29 14:53] radekmie commented on #3
It's interesting, but it seems that's a problem of SimpleSchema itself. I'll try to find out, what's going on.

[2016-06-29 15:13] radekmie commented on #3
Unfortunately _(is it?)_ it's a SimpleSchema problem. [It simply does nothing with non-plain objects.](https://github.com/aldeed/meteor-simple-schema/blob/master/simple-schema-validation.js#L245-L246) There's also [an issue](https://github.com/aldeed/meteor-simple-schema/issues/383) for that. It's almost one year old.

[2016-06-29 16:02] todda00 commented on #3
I was able to get this to work if I convert my object to a basic object using this (uses lodash's forOwn):
[code]
Then using basicObj as the model to validate, it works. Would this be a bad idea to incorporate into this project, stripping out any model's inherited properties, since SimpleSchema will ignore the whole object otherwise?

[2016-06-29 16:08] radekmie commented on #3
You can simplify it - `{...doc}` will suffice.

---

I think it's not necessary because it will cause additional overhead if you are not using prototype-based documents.

[2016-06-29 16:24] #54 closed

[2016-06-29 16:26] zeroasterisk commented on #3
I certainly think this is a *gotcha* worth a bit of code in package, to avoid users having to run into issues trying to use the package...  especially since, inside the package, it is basically only required when ingesting the initial model

[2016-06-29 16:28] radekmie commented on #54
I've added support for any error. It goes like this _(abstract)_:

[code]

[2016-06-29 17:01] radekmie commented on #3
[code]

This change in `SimpleSchemaBridge` should suffice - striping prototype is needed only during SimpleSchema validation.

[2016-06-29 17:18] #55 closed

[2016-06-29 17:22] zeroasterisk commented on #56
Not really, because input A needs to know the value of input B... in the case of a `DateRangePicker` the start and stop rely on each other's value, as a max/min and duration calculation...  I could do this at the form level, but I'd much rather do it at the field level, since I'm making a single widget for both input fields.

[2016-06-29 17:22] zeroasterisk commented on #57
I want access to a different field's value, not my own.

[2016-06-29 17:28] radekmie commented on #57
Have you read `findValue` description?

`findValue` | `func(name)` | Request another field value.

[2016-06-29 17:29] radekmie commented on #56
That's the point of `findValue`: `Request another field value`.

[2016-06-29 17:50] radekmie commented on #57
[Actually, it was implemented, because you've opened an issue.](https://github.com/vazco/uniforms/issues/8)

[2016-06-29 17:50] zeroasterisk commented on #55
my bad - @radekmie you could've assigned that to me

[2016-06-29 17:52] radekmie commented on #55
@zeroasterisk - no problem - if something is quite obvious, there's no problem to do it for me. If something is not as it should - let me know, or open an issue/PR.

[2016-06-30 11:45] MacRusher commented on #54
Thank you, this solution is great, exactly what I needed!

[2016-06-30 15:50] todda00 opened #58 "Number fields are defaulted to either min or max values from schema, even when optional"
When using a schema definition with either min, max, or both, the field is defaulted to either the min (if min is present), max (if only max is present). This is true for schema definitions where optional : true as well. This situation occurs for both TextField and NumField.

I would expect to see a blank field instead of defaulting to either min or max, especially for an optional field.

Example

[2016-06-30 16:07] radekmie commented on #29
Hey, @guciek27, @serkandurusoy - any progress? I've tried to reproduce it but I didn't find out anything.

[2016-06-30 16:08] radekmie commented on #44
Hey, @RSchwan. Any progress? Need some help?

[2016-06-30 16:10] #3 closed

[2016-06-30 16:15] radekmie commented on #58
It shouldn't happen with `optional` fields - that's a bug.

---

Yes, [current implementation of `SimpleSchemaBridge#getInitialValue`](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/bridges/SimpleSchemaBridge.js#L114-L140) gets into account `min` and `max`. If you think that's not a good idea, please leave a comment here.

[2016-06-30 16:40] todda00 commented on #58
Behavior definitely needs to be changed for optional fields, but I also think its strange to set an initial value even when required. In my opinion you want to force the user to input a value, not default to either the max or min.

If someone wants a default, they can set the model.

[2016-06-30 16:48] radekmie commented on #58
Yep, I've fixed behaviour of optional fields, but I'm still thinking about those `max` and `min`... You have a point there - everybody can provide a `default` value in the model, but is that "any initial value possible" _rule_ bad? It's hard to decide (at least for me), if a blank input is better than `min` or `max` (but the `min` seems to be more reasonable than the `max`).

[2016-06-30 18:05] RSchwan commented on #44
It's harder than I thought. For first level fields I have something working (not 100% satisfied). But I have problems with nested fields and arrays.
Also I switched from Astronomy to SimpleSchema. So I'm not sure if I'm going to work on it anymore.

[2016-06-30 19:08] radekmie commented on #44
How about sharing your code? You can create a PR, we mark it with *help wanted* - maybe someone will continue your work?

[2016-06-30 20:39] todda00 opened #60 "Feature Request: Add a prop to add classNames to a nested field's children"
I added a field which is an array of objects, and got the wonderful nested form, but I am unable to apply a class to the child fields. If a prop was exposed to add childrenClasses, I would be able to add grid classes (or any other classes needed) to child fields. I am using the bootstrap-4 package.

https://github.com/vazco/uniforms/blob/65088ca36ea8b1680c357bc03b4214cb6faaa0cc/packages/uniforms-b

[2016-07-01 04:53] radekmie commented on #60
That makes sense. It would be quite neat to have something like `itemProps` (or something similar), in every `ListField`.

[2016-07-05 18:57] RSchwan opened #62 "div in NestField leads to an infinite loop"
I have following form:
[code]
This code leads to an infinite loop and the browser freezes. If I replace
[code]
with
[code]
the browser doesn't freeze.

[2016-07-05 19:25] RSchwan commented on #62
The browser also freezes if there is an HiddenField in NestField

[2016-07-05 20:27] radekmie commented on #62
That's a really interesting bug. I'll try to investigate it.

[2016-07-05 20:48] radekmie commented on #62
What browser are you using? I've tried, but my browser has never frozen, but `Uncaught Error: Field not found in schema: 'min'` appeared. It's still a bug of course.

[2016-07-05 20:52] RSchwan commented on #62
Chrome on a mac

[2016-07-05 20:53] radekmie commented on #62
Which version?

[2016-07-05 20:53] RSchwan commented on #62
51

[2016-07-05 20:54] radekmie commented on #62
That's even more interesting - I'm on 53 and it's a completely different error. Okay, I'll try to fix it.

[2016-07-05 22:54] #62 closed

[2016-07-05 22:55] radekmie commented on #62
Okay, I've got rid of this _(at least in latest chrome)_. Please, check if it works for you.

[2016-07-05 22:59] #60 closed

[2016-07-06 07:41] RSchwan commented on #62
Perfect! Works 👍

[2016-07-06 07:55] RSchwan opened #63 "Maximum call stack size exceeded with HiddenField"
If I have following Form:
[code]
I get following error:
[code]

[2016-07-06 08:09] radekmie commented on #63
Okay, I'll try to do it even today.

[2016-07-06 12:40] RSchwan opened #64 "React "Unknown props" warnings"
I'm not sure if this is intended or not but I get a bunch of "Unknown props" errors.
Per example:
[code]

[2016-07-06 13:13] radekmie commented on #64
It's a new feature in `React@15.2.0` - it's on my roadmap, but it will take a long time to filter **all** props. I'll do it step by step, but every help is appreciated.

[2016-07-06 14:36] RSchwan commented on #64
I could help. I just need to know how so that everything is done the same way.

[2016-07-06 15:29] radekmie commented on #64
Okay - I'll do it in one of the packages.

[2016-07-06 18:26] #63 closed

[2016-07-06 18:27] radekmie commented on #63
It was easy - `HiddenField` was designed to _force_ (in some way) a field value, so it went nuts without one. Go ahead, test it - I'll publish new version today or tomorrow.

[2016-07-06 20:28] zeroasterisk commented on #57
thanks - I was able to get this to work, from the field level... using `findValue()`

[2016-07-06 20:28] #57 closed

[2016-07-06 20:30] zeroasterisk commented on #56
thanks - I was able to get this to work, from the field level... using `findValue()`

[2016-07-06 20:30] #56 closed

[2016-07-06 20:33] zeroasterisk commented on #51
_I typed in a great comment on this last week... but never submitted it and I don't feel like re-typing :/_

I think the idea of a `doSubmit` returning a `Promise` and resolving... but I honestly don't know how to do that...

Can you provide an example of: onSubmit, sets the button to disabled until submit handler resolves?

[2016-07-06 20:36] zeroasterisk commented on #29
update - I've passed a throttled handler function down from container --> page --> AutoForm until internally supported

[code]

though I still like the idea of it being internally throttled to some sane default, with a configuration option... just to simplify adoption.

[AutoForm has internal throttling](https://github.com/aldeed/meteor-autoform/search?utf8=%E2%9C%93&q=throttle)

[2016-07-06 21:07] radekmie commented on #51
### Introduction

Let's assume, that `BaseForm#onSubmit` returns `props.onSubmit(...)`. Then consider the following example:

[code]

This would work perfectly fine, **but**... `ValidatedForm#validate` calls `onSubmit` in a `setState` callback, so it's asynchronous (it would work in `BaseForm` and `QuickForm`).

### Solution

Simply - `Promise`. `BaseForm#submit` will return a `Promise` - it will

[2016-07-06 21:16] zeroasterisk commented on #51
Yup - this looks like it's a perfect fit... I'll try it out and let you know if I run into problems... This is very much worth including in docs/examples, as it's a very common use case...  **you rule!**

_Bonus points:_
Out of curiosity, is it possible to do this same pattern without using `ref={ref => form = ref}` and the button?  If I have a form without a submit button _(enter to submit, or au

[2016-07-06 21:19] radekmie commented on #51
I'll reopen this, because... There's no returned value from` form.submit` right now - it has to be implemented.

--

I don't clearly understand, what you mean - could you develop this idea a little?

[2016-07-06 23:03] serkandurusoy commented on #58
This has not been fixed for me with rc.23

[2016-07-06 23:05] serkandurusoy opened #65 "React 15.2.0 warning about unknown props"
Both form and field components cause warnings on the browser console

[code]

It seems this is new and the recommended approach is to distill the props passed on to the standard html component, and use a valid, stripped-down version of the props instead of `{...props}` spreading them all onto them.

https://fb.me/react-unknown-prop

[2016-07-07 01:23] zeroasterisk commented on #51
I think I'm trying to make your first example work... without setting the state of the `ref` to the `form`...  Trying to make the promise handling all abstract from the rendered form UI...

[code]

[2016-07-07 05:32] radekmie commented on #58
You mean `max` and `min`, @serkandurusoy? If so, yes - it's not implemented, because I don't know if this would be a _good change_ (as I said one comment above). If you meant `optional` fields, then, well - it should.

[2016-07-07 05:44] radekmie commented on #51
No, @zeroasterisk - you are not _setting state of the `ref` to the `form`_. That `ref` is required because we have to submit that form (because `form.submit()` will return a `Promise`). Basically, it's completely UI-agnostic to some extent - we have to know, which form we submit, so we can react on it. If you want to do so without this `ref`, there should be 2 more props - something like `onSubmit

[2016-07-07 05:46] radekmie commented on #51
Of course, we can do both - `Promise` will be returned from `BaseForm#submit`, but also both `onSubmitSuccess` and `onSubmitError` will be automatically used - `.then(props.onSubmitSuccess, props.onSubmitError)`.

[2016-07-07 06:54] radekmie commented on #65
It's already reported in #64.

[2016-07-07 06:54] #65 closed

[2016-07-07 08:38] serkandurusoy commented on #58
Yes, I have an optional: true field with a max value (no default, no min)
and it shows the max as an initial value when form is rendered.

[code]

Regarding providing default values whether or not the field is optional,
html does not have that behaviour, other form frameworks don't have it, it
is certainly unexpected for me to find out that the form framework is
providing default values for me whe

[2016-07-07 08:39] serkandurusoy commented on #65
Sorry just saw that, I've perhaps been away for too long :(

On Thu, Jul 7, 2016 at 9:54 AM, Radosław Miernik <notifications@github.com>
wrote:

[2016-07-07 12:19] serkandurusoy commented on #58
Yes, I have an optional: true field with a max value (no default, no min) and it shows the max as an initial value when form is rendered.

[code]

Regarding providing default values whether or not the field is optional, html does not have that behaviour, other form frameworks don't have it, it is certainly unexpected for me to find out that the form framework is providing default values for me whe

[2016-07-07 12:50] todda00 commented on #58
I just tried this with a field with optional: true in the schema and it is still populating with an initial value. Here are the props for an example field:

![localhost_3005_register_player_athletics](https://cloud.githubusercontent.com/assets/8363924/16653618/b14d37c4-441f-11e6-8c45-5ce3a96dd521.png)

and the corresponding schema:
[code]

[2016-07-07 12:51] todda00 commented on #58
And FWIW I agree that adding a initial value based off min / max is odd behavior. Like I said previously, if the developer wishes to set a default, they can do so with the model.

[2016-07-07 14:14] serkandurusoy commented on #22
@radekmie part of the problem (the log messages about invalid inputs seen in the screenshot) started appearing again after the recent updates rc.23 and react 15.2

[2016-07-07 16:47] #58 closed

[2016-07-07 18:54] serkandurusoy commented on #64
@radekmie this is the list of standard dom properties that are supported by react

https://github.com/facebook/react/blob/master/src/renderers/dom/shared/HTMLDOMPropertyConfig.js#L24

Do you think we can create a wrapper around this that shares a props object to two different objects, one with the allowed standard ones and other with the remaining, custom ones.

this way, we can pass on the second

[2016-07-07 19:05] serkandurusoy commented on #64
For reference, here's a proper `Array`:

[code]

And we should also whitelist and send down all props that begin with `data-` or `aria-`

[2016-07-07 19:14] serkandurusoy commented on #64
Apart from the unknown props, there other other erros:

[code]

[code]

[code]

[2016-07-07 20:14] radekmie commented on #64
I think it's unnecessary @serkandurusoy - I've done it manually in `uniforms-bootstrap3` - it wasn't that hard and long.

--

0. [It's already done.](https://github.com/vazco/uniforms/commit/99f2641fbab9d5ad0422e4d1152f97bad7be4db3)
0. [It's also already done.](https://github.com/vazco/uniforms/commit/9bf0b969eeb85c4570fc9374ac6fa2f55dfa1bed#diff-eb5a1e299fc5aabec661b7bb98bc11f9R170)
0. [And this

[2016-07-09 13:51] sabativi commented on #64
I am right saying that it is not working because of those errors with react 15.0.2 ?

I can't managed to have your simple example working...

[2016-07-09 15:55] radekmie commented on #64
These are just warnings introduced in react@15.2.0. More info [here](https://fb.me/react-unknown-prop). If you need some help, @sabativi, then go ahead and write me an email or create an issue if you've encountered a (possible) bug.

[2016-07-10 11:27] radekmie commented on #64
Okay, I think I've removed everything - comment here if you find something left.

[2016-07-10 13:12] serkandurusoy commented on #64
Seems like fixed, thanks!

[2016-07-11 16:18] MacRusher commented on #64
Missed one:
[code]
Happens only when you have a `regEx` key in the schema.

I guess that other custom [SimpleSchema extensions](https://github.com/aldeed/meteor-simple-schema#extending-the-schema-options) would also be passed down.

[2016-07-11 16:23] RSchwan commented on #64
You also missed the [`custom`](https://github.com/aldeed/meteor-simple-schema#custom) key:
[code]

[2016-07-11 16:40] radekmie commented on #64
Well, those are from SimpleSchema, so I don't really know, what to do - it won't be a good idea to intercept every schema props from every field... I guess, that we have to go along with something like @serkandurusoy have suggested. I'll try to come up with something, but ideas are welcome (as always).

[2016-07-11 16:50] MacRusher commented on #64
Maybe SimpleSchema related props could be handled on a bridge-level, maybe only limited whitelisted props could be passed down to components?

Other then that only solution I see is to filter out invalid values before passing them to elements.

[2016-07-11 17:01] serkandurusoy commented on #64
Simple schema options can be extended in which case whitelisting fields on
SS would cause custom options to cause problems.

for example, uniforms is a custom ss property!

On Mon, Jul 11, 2016 at 7:50 PM, Maciek Stasiełuk <notifications@github.com>
wrote:

[2016-07-11 17:26] serkandurusoy opened #66 "[Feature Request] Pass the modifier along with the document"
Form events such as `onSubmit` currently only passes `doc` but there are cases where a `modifier` is more suitable, especially for `update` forms

Consider a schema where all the fields are optional

[code]

and consider this document:

[code]
Now if you delete the value of foo and submit, this will throw error saying that after filtering out, modifier is empty.

This is expected because `collecti

[2016-07-11 17:31] radekmie commented on #64
I think that something like:

[code]

in core package will be sufficient. What do you think?

[2016-07-11 17:33] radekmie commented on #64
No @serkandurusoy, [`uniforms` key in SS won't be a problem](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/bridges/SimpleSchemaBridge.js#L139-L146).

[2016-07-11 17:38] serkandurusoy commented on #64
You will then need to maintain this and also anyone extending current components will also need to be aware of that.

So instead, I think you should go the other way around. Filter out react's "known props" (the list I provided in an earlier comment) and do a `return { standardProps, customProps }` instead of `return props`

[2016-07-11 17:50] MacRusher commented on #64
I was thinking more about something like:
[code]

Of course some testing and benchmarks would be nice to have.

[2016-07-11 17:53] radekmie commented on #64
Yes, @MacRusher - that would be quite good, but some benchmarking is needed (that standard props array is **big**!). It's interesting, that React doesn't offer such function out of box.

[2016-07-11 18:01] MacRusher commented on #64
If we could write this in a way that browsers could be able to inline cache then this wouldn't be much of a problem, but I'm not sure at the moment if this is possible.
I can only imagine that almost all React-based libraries face the same issue right now so someone must find an effective solution :)

[2016-07-11 18:17] serkandurusoy commented on #64
Perhaps we could use a memoizing function to ease the re-evaluation?

[2016-07-11 18:32] radekmie commented on #66
Finally!
I've waited so long to get a possibility to provide an example with extending `BaseForm`. Let's create a `ModifierForm` (okay, it will be `AutoValidatedQuickModifierForm`)!

[code]

From here, you can easily create an `UpdateForm` with direct collection support.

**Note:** This API will remain unchanged, but some _shortcuts_ are planned.

[2016-07-11 18:33] radekmie commented on #64
Memoization would help, if we will call it many times with same objects - we won't.

[2016-07-11 18:42] radekmie commented on #64
[Well, well, well.](https://twitter.com/dan_abramov/status/751066839359361024)

[2016-07-11 18:56] serkandurusoy commented on #64
it would at least help for apps that create the same components over and over again, would it not?

And wow! So we go back to square one :)

[2016-07-11 19:06] serkandurusoy commented on #66
Whoa! This is a precious gem! It never occured to me to extend from existing form components like this, wow!

[2016-07-11 20:51] todda00 commented on #60
Its not working as expected, here is my field:
[code]

Seems as if there are 2 issues, my testProp is getting to the Nest component, but not inside of it, and the className is not even getting that far, being overwritten by col-xs-11:

![localhost_3005_register_coach_athletics](https://cloud.githubusercontent.com/assets/8363924/16746297/b4a496e0-4787-11e6-957a-094c58a03e58.png)

[2016-07-11 21:02] radekmie commented on #60
Well: [1](https://github.com/vazco/uniforms/blob/master/packages/uniforms-bootstrap3/src/components/fields/ListField.js#L62) and [2](https://github.com/vazco/uniforms/blob/master/packages/uniforms-bootstrap3/src/components/fields/ListItemField.js#L24). I don't really know, why there's fixed className. @zeroasterisk, could you make a comment here?

Despite of all - if you think, that it should be c

[2016-07-12 17:34] serkandurusoy opened #68 "Question: How to focus on a specific field after submitting?"
I want to be able to focus on a specific field on a form after the form submit has been handled, but could not manage to get a reference to the input of a field component I want to target.

Tried to track down some API for that but could not find one, so what would be the canonical way to get a reference for an input?

[2016-07-12 18:56] #66 closed

[2016-07-12 19:01] radekmie commented on #68
Well, there's no such API, because there don't have to be any `input` - take the `HiddenField` (with `noDOM` prop) as an example. Or a custom field with 2 `input`s. What then?

[2016-07-12 20:32] #29 closed

[2016-07-12 20:36] radekmie commented on #29
@zeroasterisk
I've added an `autosaveDelay` property (with default `0`, which means _no delay at all_, so it remains synchronous). It works more like `_.debounce`, no `_.throttle` because there's no need to save meanwhile writing a long text in an input.

@serkandurusoy, @guciek27
Your use case is something that we could call a _live document_ and it's more complex. If you want, please create anot

[2016-07-12 20:44] serkandurusoy commented on #68
Well my main point is not about focusing, but it is about being able to get
a reference, though you are right that the reference would not mean
anything for non-standard componets.

I simply achieved this by creating a new input component that accepted a
prop that gets passed to the `input`'s `ref`

​

[2016-07-13 09:36] radekmie commented on #68
Okay, so some fields like `TextField` or `NumField` could pass own `ref` prop to proper `input`. That should be enough, isn't it?

[2016-07-13 10:50] serkandurusoy commented on #68
Sure, definitely. In fact, that's how I solved my immediate problem.

The only gotcha is you cannot name that property as `ref`because it is
reserved.

On Wed, Jul 13, 2016 at 12:36 PM, Radosław Miernik <notifications@github.com

[2016-07-14 10:13] RSchwan opened #69 "Feature request: Accordion as replacement for ListField"
I think the ListField component is a bit confusing. If you have a lot of items it's hard to navigate.
The advantage of an accordion is that you only see one open item at a time.
Per example for bootstrap it can be accomplished with panels. [See React-Bootstrap as example.](https://react-bootstrap.github.io/components.html#panels-accordion)
I think the user experience would be much better.
However

[2016-07-14 10:26] serkandurusoy commented on #69
I must admit that I don't like the idea of an accordeon in a form for
master / detail inputs since most usecases require user to be aware of the
other items in the list at a single glance.

That being said, I agree there may be unique cases where an accordeon can
be useful, but I don't see where in the context of a forms library.

That also being said - :) - it is so easy to take the existing list

[2016-07-14 13:19] mdorn opened #70 "Question: AutoForm performance?"
I'm using `AutoForm` with minimal configuration on a Simple Schema that contains about 10 fields (mostly text fields, but one is an object that populates about 12 select boxes).  I'm using `AutoField` for all of them.  I've noticed that when I type in one of the text boxes, there's a very noticeable lag, and the CPU usage on my computer spikes significantly.

As I've experimented, I've noticed tha

[2016-07-14 13:25] serkandurusoy commented on #70
cc @radekmie I've in fact experienced this issue as well. My solution was
to break the form down into smaller forms and handle the individual pieces
of data but my usecase did allow for that so it may not be generally
applicable.

[2016-07-14 14:40] macrozone opened #71 "pressing enter submits the wrong form when multiple forms are on the page"
I have two forms on the page. Pressing enter in the first, validates/submits the second form.

I do not know yet what's the reason, but I try to track this down. Anyone has an idea?

[2016-07-14 15:35] serkandurusoy commented on #71
Are you sure they are not nested inside another form or perhaps one is
inside the other?

I have a page with 5 different forms in it and have no such problem.

[2016-07-14 16:39] radekmie commented on #69
Well, I agree with @serkandurusoy - it's easy to create such field. Certainly, I'm against adding fields, that could be used only in few packages and not in all of them - it would be hard to implement _unstyled accordion_. If you need some help with custom fields, open another issue, comment here or write me directly.

[2016-07-14 16:39] #69 closed

[2016-07-14 16:39] radekmie commented on #71
Also check, if they don't have the same `id` - this might be a problem.

[2016-07-14 16:40] mdorn commented on #70
@serkandurusoy - even if you have a single form with a single array field, in my example once the `categories` array has more than a handful of values, you will experience the performance issue.

When you say "handle the individual pieces of data," do you mean that you stopped using `AutoForm` and/or `AutoField`?

[2016-07-14 16:46] radekmie commented on #70
To be honest, I was pretty sure, that I will release `v1.0.0` a while ago, then I wanted to focus on optimizations... There are few easy to achieve performance gains, so I'll work on it in the near future, but after `v1.0.0` it will be the main goal.

---

As of #31, there's `AutoFields` component.

[code]

[2016-07-14 16:59] mdorn commented on #70
Thanks @radekmie for the quick response.  I'm still getting up to speed with the library (which otherwise seems excellent by the way), so do you have any advice for a temporary workaround?  I don't need real-time validation, for example; validating onSubmit would be fine with me -- is there any way I can disable real-time validation and achieve better performance that way?

[2016-07-14 17:05] radekmie commented on #70
By default, `ValidatedForm` (and so `AutoForm`) validates `onChangeAfterSubmit`. If you want to validate only `onSubmit`, then use it like this:

[code]

_(okay, it's not well documented, but it's on [this](https://github.com/vazco/uniforms#forms-components) diagram)_

[2016-07-14 17:09] mdorn commented on #70
Thanks, I did try that earlier, but it didn't have the expected impact on performance.

[2016-07-14 17:14] radekmie commented on #70
Well, that means, that validation is not a problem.

[2016-07-14 18:50] serkandurusoy commented on #70
@mdorn I do use autoform as is but in all fairness, my usecase did not include array fields that would grow too big and it was mainly used as an update form, so I was able to split to big form into small forms which dealt with relevant parts of the docuement.

Something like, a form updates user's name and age, another form updates the address, another updates some other profile field, they are al

[2016-07-14 21:10] radekmie commented on #70
I've played a little with `react-addons-perf` and implemented quite complex `shouldComponentUpdate` in `BaseField`. It is a **huge** speed up - tests are 3~4 times faster. Also, currently `ListField` is the heaviest one, because of additional `ListAddField` and `ListDelField` - those can be optimized, but _(at least for me)_ current improved performance is enough.

@mdorn, @serkandurusoy
Please, t

[2016-07-14 21:11] radekmie commented on #68
Okay, any idea, how to call it? How about `inputRef`?

[2016-07-14 22:29] mdorn commented on #70
@radekmie - thanks for the quick turnaround on this.  Subjectively (without doing any real profiling, etc. -- I'm still pretty new to React and Meteor), it does seem a bit faster.

However in the conditions I describe (1 String field and 10+ text boxes on the screen as part of a single Array field), typing in one of the text boxes continues to feel quite sluggish.  If a fast typist (e.g. 90 words

[2016-07-15 06:28] radekmie commented on #70
Another optimization done.

@mdorn
Could you share your schema? It will be easier for me to test it.

[2016-07-15 14:34] serkandurusoy commented on #68
Yep that's a good name, indeed!

[2016-07-15 14:43] serkandurusoy opened #73 "[Discussion] Debounce on a live document update with autosave"
Continuing the discussion on from [#29](https://github.com/vazco/uniforms/issues/29#issuecomment-232172308)

cc: @guciek27

@radekmie I would love to hear your comments on this one!

[2016-07-15 15:08] serkandurusoy commented on #70
@radekmie here's a schema where we had problem with

Especially the arrays were problematic, for example contact emails!

In fact, even after separating the schema into smaller schemas in individual forms, the contact emails schema on its own, when used with autoform, becomes really slow after adding a few emails into the array
[code]

[2016-07-15 15:36] radekmie commented on #70
Okay, thanks - I'll play with it.

[2016-07-15 16:55] radekmie commented on #73
**Story**
We've also encountered a problem with _live document_ - a form which is a real-time view of a document from database. There are two problems -  concurrent edition and database latency. We couldn't do much about that second one, but we've found a solution to the first one.

**Solution? [`DualLink`](https://github.com/vazco/meteor-universe-utilities-react#duallinkmixin)**
Basically, it wor

[2016-07-15 17:30] #68 closed

[2016-07-18 13:46] vladejs commented on #40
Awesome, i haven't tested yet, but I indeed that's a react issue.
How did you fixed it?
Currently Iam seeing the same warning in my SSRed page and components which doesn't have forms.

[2016-07-18 14:42] vladejs opened #74 "Integration with ostrio:files (Meteor-files) packages?"
Seems like Meteor-files package is the de facto package to upload files right now. It will be awesome a seamless integration with that package. Include examples in the docs, etc.

[2016-07-18 16:01] zeroasterisk commented on #70
@radekmie nice work on optimizations - let us know how the hunt for performance increases goes

[2016-07-18 18:18] radekmie commented on #40
Well, basically it works like this - every form has it's [own id generator](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/helpers/randomIds.js) and share it to all it's fields, so every form and every field has guaranteed `id` (of course provided custom id is respected).

[2016-07-18 18:29] radekmie commented on #74
I'm not willing to do such integrations inside this package, because it's not really form-related - if it's easy, then it doesn't have to be part of it, if it's hard - it's an additional thing to maintain. But even so, I would like to hear, what kind of integration would you like to see. If this will cover one field, we can easily create it here and then add it to the README.

[2016-07-18 19:31] radekmie commented on #70
I've just released `1.0.0-rc.25`. It contains few bugfixes and enhancements, but the most important are optimizations. I've tried your schema, @serkandurusoy - it's immensely huge and it almost melted my computer while holding a single key in an input of generated form. Right now, after some work (and checking performance with `react-addons-perf`) it's okay. I've tried some heavy load (about 5 ite

[2016-07-18 19:31] #70 closed

[2016-07-18 21:31] zeroasterisk commented on #70
FTW!!!

On Mon, Jul 18, 2016, 3:32 PM Radosław Miernik <notifications@github.com>
wrote:

[2016-07-18 22:00] mdorn commented on #70
Thanks @radekmie -- **HUGE** improvement!  Large numbers of items rendered as  `ListAddField` will still slow things down some, but I do think this is "good enough" for now.

[2016-07-19 19:02] radekmie commented on #64
Closing time!

I've added new `filterDOMProps` helper to the core package. By default, it remove all unwated props and has an option to register new ones through `filterDOMProps.register(...props)` (bridges will do it surely). If any props are left, please let me know or create a PR for it.

[2016-07-19 19:02] #64 closed

[2016-07-19 19:15] radekmie commented on #64
And here is a little gem I've found during [benchmarks](https://albertxing.com/stool/#bb5cbc0441ad7ac47602694f6c7183b4).

| Browser         | no.  1 |  no.  2 |  no.  3 |
| --------------- | ------ | ------- | ------- |
| Chrome 53       | 49,532 | 101,640 | 108,928 |
| Epiphany 3.20   | 88,915 |  50,065 |  71,810 |
| Firefox 47      | 24,939 |  33,386 |  71,325 |
| Opera 38        | 49,394 |  96,

[2016-07-20 02:40] zeroasterisk opened #75 "invalid prop warning: grid"
[code]

I assume we need to allow... can I just add it here:
https://github.com/vazco/uniforms/blob/master/packages/uniforms-bootstrap4/src/components/forms/ValidatedQuickForm.js

How?

[2016-07-20 06:19] radekmie commented on #75
These propTypes are derived from [`Bootstrap4Form`](https://github.com/vazco/uniforms/blob/master/packages/uniforms-bootstrap4/src/components/forms/BaseForm.js#L13-L16). Could you show your `grid` prop?

[2016-07-20 15:04] macrozone opened #76 "updating labels in schema does not update labels in component"
I create a SimpleSchema-instance on the fly in a container, where i declare labels (with translations).

However, this will not update the labels of the form-fields.

I tried to debug this and i found out that it properly sets the new bridge/scheme for the child-context, but the children seem not to pickup this new context.

Any idea? React bug?

[2016-07-20 15:44] macrozone commented on #76
Ok, in BaseField `shouldComponentUpdate` is implemented, which does trigger on schema update, but it's implementation does not check whether the schema/bridge changed.

Can we shallow-compare the schemes? In my scenario, even a simple

[code]

would fix the issue. Will create a PR for that.

[2016-07-20 16:28] RSchwan opened #78 "Feature Request: Custom options for select field"
See http://autoform.meteorapp.com/select
This would allow dynamic select fields

[2016-07-20 17:06] macrozone commented on #78
You can pass allowedValues as property to the select-field and add a transform-function that returns a label for each value to achieve the same thing.

In my case i created custom form elements where i declare an options-property, which is an array of {key, value} like in autoform because that is much easier to implement than allowedValues and transform.

[2016-07-20 17:12] RSchwan commented on #78
I see your point. But wouldn't it be easier and more simple to bake it directly into the library?

[2016-07-20 18:49] #76 closed

[2016-07-20 18:55] radekmie commented on #78
It's already done. You can read more in #23, but the API is the same - you can pass `options` property (or pass it in `uniforms` object in your schema). It can be either an object or an array (or a function, that returns it). Basically it overrides `allowedValues` and `transform`. [Source](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/bridges/SimpleSchemaBridge.js#L183-L202).

[2016-07-20 18:55] #78 closed

[2016-07-20 18:59] radekmie commented on #75
It turned out, that an object in `grid` is one of desired values, but propTypes are lacking of it. I'll add it in a moment.

[2016-07-20 18:59] #75 closed

[2016-07-20 19:41] serkandurusoy opened #79 "Regression with rc26"
Somehow, default is not prevented any more on onSubmit and this causes a full page refresh.

[2016-07-20 19:47] serkandurusoy opened #80 "Regression with html5 inputs"
Here's the output on the console while I'm typing in some text into a text field which has type="email" prop on it.

![image](https://cloud.githubusercontent.com/assets/4649948/17000517/95a39e76-4ecb-11e6-84f0-5776a655f5be.png)

We had a similar problem before which we discussed [over at issue #22](https://github.com/vazco/uniforms/issues/22)

[2016-07-20 20:00] serkandurusoy commented on #73
@radekmie @MacRusher quite an efficient implementation, indeed. Luckily I'm concerned with up-to-date information on individual form fields and last-write-wins is more favorable, also concurrent writes is less of a concern due to use cases at hand.

But yeah, this is indeed a very valid concern and this would be basically what I would have implemented, but perhaps I would have used redux as an int

[2016-07-20 20:00] #73 closed

[2016-07-20 20:04] serkandurusoy commented on #74
I think this should be a separate package like most aldeed:autoform custom inputs and integrations are.

The implementation should not be too hard, it is basically a hidden input along with whatever upload markup/script is being used for ostrio:files and that input can be part of the schema.

`connectField` makes it very easy to wire up any standard input (input-like-component) with uniforms.

[2016-07-20 20:08] macrozone commented on #79
Can you describe the scenario?

Maybe its related to my PR? https://github.com/vazco/uniforms/pull/77

[2016-07-20 20:10] radekmie commented on #73
Well, we are not planning it, but if there is such need, I will consider it.

[2016-07-20 20:10] serkandurusoy commented on #51
I think we are getting closer every day to a point where we'll be needing form lifecycle hooks :)

[2016-07-20 20:11] radekmie commented on #80
So I'll investigate it one more time.

[2016-07-20 20:12] serkandurusoy commented on #73
I was just curious about it since react world is moving away from mixins in general.

[2016-07-20 20:12] radekmie commented on #51
To be honest, I've just finished it few minutes ago and wanted to push it, but new bugs appeard, so it will wait.

---

Probably yes, @serkandurusoy - kind of.

[2016-07-20 20:13] radekmie commented on #73
We know it, but we are now using `react-komposer` instead of our `AutorunMixin` and `SubscriptionMixin`.

[2016-07-20 20:13] serkandurusoy commented on #79
Well the scenario is simple, the previous behavior was that you'd get a doc passed to your onSubmit handler and that's it. But now there is actual form submission so the page is getting refreshed.

[2016-07-20 20:14] radekmie commented on #79
Just to be sure - it worked in rc.25?

[2016-07-20 20:14] serkandurusoy commented on #73
Right, I was actually just referring to dualLink :)

On Wed, Jul 20, 2016 at 11:13 PM, Radosław Miernik <notifications@github.com

[2016-07-20 20:15] radekmie commented on #73
I'll think about it.

[2016-07-20 20:15] serkandurusoy commented on #79
Oh, I think I had 24 and jumped to 26 just half an hour ago. I did not even notice 25!

[2016-07-20 20:17] serkandurusoy commented on #79
@macrozone I just looked at the changes from that PR and no that seems unrelated

[2016-07-20 20:18] radekmie commented on #79
Yes, it's definitely unrelated @macrozone.

[2016-07-20 20:22] serkandurusoy commented on #79
Haha he almost had a heart atack thinking his first small pr just broke the package, LOL :)

[2016-07-20 20:24] RSchwan commented on #78
The options property works great!
The only thing I wonder is if there is a way to set a default label. If the field is optional there should be an option for deselection the field.
I tried to add something like this to the options array: `{ label: 'None', value: undefined }` but for the validator there is still a empty string selected.

[2016-07-20 20:25] radekmie commented on #79
I've tested rc.26 @serkandurusoy and it worked. I don't know what is going on.

[2016-07-20 20:27] radekmie commented on #78
[Use `placeholder`](https://github.com/vazco/uniforms/blob/master/packages/uniforms-bootstrap3/src/components/fields/SelectField.js#L44-L48).

[2016-07-20 20:34] serkandurusoy commented on #79
Hmm, interesting, I'll look at other places in the app that may be causing such behavior. That's a login form so perhaps some reactive update on Meteor.loggingIn or something may actually be the culprit!

I'll close this issue for now and reopen if I can narrow it down to actually something related to uniforms.

Thanks!

[2016-07-20 20:34] #79 closed

[2016-07-20 20:35] RSchwan commented on #78
For the validator there is still a empty string and so my validation fails.
And the other thing is that you can't reselect the placeholder.
Autoform for example has a [`firstOption`](https://github.com/aldeed/meteor-autoform#affieldinput) property.

[2016-07-20 20:39] radekmie commented on #78
Well, I have to think about it. Also, it would be nice, @RSchwan, if you could describe your desired API (and behaviour) here.

[2016-07-20 20:44] serkandurusoy commented on #79
Yep that was it. It seems a Meteor.loggingIn check higher up in the dom tree caused the component get swapped out to something else and then back, which kind of looks like a page refresh in this app.

[2016-07-20 20:51] radekmie commented on #79
Well... Luckily, false alarm.

[2016-07-20 21:07] RSchwan commented on #78
Ok I figured out where my problem was. I didn't know that custom validations are fired although I you have optional set to true.

[2016-07-20 21:19] radekmie commented on #78
It's good to know it, thanks.

[2016-07-20 21:49] #51 closed

[2016-07-20 21:50] radekmie commented on #51
### Example:
[code]

### To summarize current _(new)_ API changes:
- (added) `onSubmitSuccess` property to `BaseForm`
- (added) `onSubmitFailure` property to `BaseForm`
- (changed) `onSubmit` _(and so `submit`)_ is now asynchronous
- (changed) `onValidate` _(and so `validate`)_ is now asynchronous
- (changed) `onValidateModel` _(and so `validateModel`)_ is now asynchronous

### How it worked:
- HT

[2016-07-21 08:57] macrozone commented on #79
@serkandurusoy haha 💯

Yeah, I spent roughly 2-3 hours tracking down this bug and was so suprised that the solution was that easy. That's why i had some trust issues ;-)

[2016-07-21 14:15] serkandurusoy commented on #51
@radekmie  Just so to make it clear, is this breaking change?

Do existing apps on rc26 need to change their existing onSubmit handlers moving forward?

[2016-07-21 14:29] radekmie commented on #51
Only, if you were programmatically calling `formRef.submit()`.

[2016-07-21 14:43] zeroasterisk opened #81 "Autosave + TextInput = trimming whitespace from end of string"
I've recently come across a situation where, when autosave is enabled, it is trimming whitespace from strings... which is a problem because it can make it impossible to type space separated words.

I have added `trim: false` to the schema definition for the field and it did not stop the trimming.

_Question:_ is this uniforms or simple schema?

_Workaround:_ I have increased the `autosaveDelay` to

[2016-07-21 15:04] serkandurusoy commented on #51
Hm, as much as I appreaciated the promise based API here, does this not introduce an incosistency to how submit event is getting handled?

[2016-07-21 15:06] serkandurusoy commented on #81
The trim is introduced by collection2 automatically and you can disable it, although it would result in untrimmed values getting inserted.

So, I'd suggest debouncing the save providing ample time for the user to finish typing before the submit event kicks in.

In fact, that's exactly what I do with autosave forms.

[2016-07-21 15:14] zeroasterisk commented on #81
yup - the `autosaveDelay` is a debouncer built into autosave...
I have debounced my own save (validated) method, but it was not delayed enough.
perhaps this is just _good enough as is_ --- but I wanted to bring it up.

[2016-07-21 15:22] serkandurusoy commented on #81
It is interesting, though that you are using an 8 second delay. I'm using something like 2 seconds.

What's your usecase? Is this an insert form with multiple fields?

I personally prefer autosave on updates only.

[2016-07-21 15:53] macrozone opened #82 "Prevent validation when schema has changed and form is not submitted"
validate=onChangeAfterSubmit or validate=onSubmit should prevent validation unless the user has submitted the form for the first time.

If you update the schema, this option is ignored and the form is validated.

Updating the schema is valid, e.g. if you have options from a collection that you define on the schema or if you translate the schema.

I'll check if I can do a PR.

[2016-07-21 15:56] macrozone commented on #82
I think in ValidatedForm.componentWillReceiveProps

the same logic as in onChange should apply:

[code]

but componentWillReceiveProps does also sets state.validated and i don't know why yet, can you guys help?

[2016-07-21 16:02] radekmie commented on #51
I don't get your point. Why?

[2016-07-21 16:05] radekmie commented on #82
Yes, you are completely right @macrozone - just wrap `this.onValidate` in correct `if` (that from `onChange`). Do you want to create a PR for that?

[2016-07-21 16:10] serkandurusoy commented on #51
Well, my train of thought is

onSubmit => handler passed the doc
ref.submit() => submit => promise => then => handler passed the doc

I would expect onSubmit and ref.submit produce the same output.

[2016-07-21 16:18] radekmie commented on #81
It would be great, to see any (not)working example, @zeroasterisk, because all I can say, is that you want `trimOnlyIfNotFocused` or `trimOnlyIfNotAutosavedDuringTyping` :smile:. Yes, `autosaveOnBlur` would be nice, but there are (and surely will come) components without possibility to blur, so I'll remain sceptical.

[2016-07-21 16:20] radekmie commented on #51
[Internally a `Promise` is created anyway](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/forms/BaseForm.js#L237-L254) (so `onSubmitSuccess` and `onSubmitFailure` could work as intended).

[2016-07-21 16:27] serkandurusoy commented on #51
Hm I don't quite understand if `onSubmitSuccess` is resolved with the model/doc as its argument so we can act on it.

It it does, in that case, onSubmit becomes redundant, if it does not, I would very much say deprecating onSubmit would then be a better idea for sake of future opportunities.

[2016-07-21 16:40] radekmie commented on #51
No, `onSubmitSuccess` is resolved with result of `onSubmit`. I wouldn't say so. It goes like this: "I'll do a save in `onSubmit` and care about it in `onSubmitSuccess`/`onSubmitFailure`".

[2016-07-21 16:52] serkandurusoy commented on #51
Oh, so if the `onSubmit` prop does not anything, it is fine, but if it does, it should return a promise that would be resolved to or rejected to either one of `onSubmitSuccess` or `onSubmitFailure`, right?

So in essence, `ref.submit()` still fires off the handler for `onSubmit` but what this new feature brings in is the ability tap into the result of the handler from outside of the handler functi

[2016-07-21 17:02] radekmie commented on #51
Yes, indeed.

[2016-07-22 02:09] zeroasterisk commented on #51
I'm impressed - i think this is a very elegant solution...

[2016-07-22 20:02] radekmie commented on #80
I've spend some time to track this down and this turned out to be a React regression. Here are my results:

[code]

_(`1x` - one warning, `3x` - three warnings, `OK` - no warnings)_

It's clearly a regression in `15.2.0-rc.1`, so I've tried to see a diff between `15.1.0` and `15.2.0-rc.1`. Then I learned, that React is not tagging their release candidates, so I've tried to diff `15.1.0` with `15.2

[2016-07-22 21:34] #82 closed

[2016-07-22 22:46] serkandurusoy commented on #80
Wow, nice work!

And I think these two are somewhat relevant to our case, the latter probably solving our case inadvertantly

https://github.com/facebook/react/issues/6441
https://github.com/facebook/react/pull/7333

[2016-07-22 23:08] radekmie commented on #80
Yes, kind of - I've even referred to them in my issue facebook/react#6992. Hope it will help (and get merged asap).

I'll close it for now, as it's not uniforms issue.

[2016-07-22 23:08] #80 closed

[2016-07-23 00:00] radekmie commented on #80
I've added a note in README about it.

[2016-07-23 16:42] sabativi commented on #74
I would rather say that this can be related to forms, there are tons of forms on internet where you need to upload a photo like an avatar.
I think this could be a good functionnality to add here

[2016-07-23 16:48] radekmie commented on #74
I understand, that it would be nice to have an all-in-one package, but I would rather go for a separate package. Even though, I want to know, what kind of integration would @vladejs like to have here.

[2016-07-25 07:40] serkandurusoy opened #83 "Custom errors are not displayed"
Using the following schema:

[code]

The custom errors are not displayed when the `dueDate` is left empty while there is a `startDate`, but the browser console shows the following error:

![image](https://cloud.githubusercontent.com/assets/4649948/17093817/26ac1df4-5254-11e6-9113-8b498828cded.png)

[2016-07-25 07:47] radekmie commented on #83
How do you display those errors (I don't really know, how are they not displayed)?

---

Yes, this is known error - I've added it to the [troubleshooting section in the README](https://github.com/vazco/uniforms#troubleshooting).

[2016-07-25 07:53] serkandurusoy commented on #83
OMG right, I'm not displaying the errors in that particular component, duh!

Thanks for the pointer to the readme. Is that something that the library can mitigate behind the scenes?

[2016-07-25 07:54] radekmie commented on #83
I've tried, but chrome seems to be overprotective (again - #80).

[2016-07-25 07:56] serkandurusoy commented on #83
oh...

[2016-07-25 08:00] radekmie commented on #83
I thought about some "internal handling" but I don't have that much time right now (it's not a bug, but just an annoying thing) - if you want (anybody?) - I'll surely accept a PR for it.

[2016-07-25 08:20] serkandurusoy commented on #83
Just to clarify it, since this is an event handler on the window, can we
not just have it on the baseform?

register the handler within componentDidMount and then dismiss it with
componentWillUnmount?

https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/forms/BaseForm.js#L12

On Mon, Jul 25, 2016 at 11:00 AM, Radosław Miernik <notifications@github.com

[2016-07-25 08:21] radekmie commented on #83
Yes, we can do it, but it will hide all other `Uncaught ...` errors.

[2016-07-25 08:33] serkandurusoy commented on #83
Hm, that means the readme is basically misleading people to hide all such
errors! I thinki the first thing we need to do is explain that on the
readme.

Moving on, do you think
https://developer.mozilla.org/en-US/docs/Web/API/PromiseRejectionEvent/promise
would help us identify the root cause of the error as belonging to uniforms?

On Mon, Jul 25, 2016 at 11:21 AM, Radosław Miernik <notifications@

[2016-07-25 08:37] radekmie commented on #83
If only we could "mark" these promises... I'll get to it later - meanwhile, any suggestions (and PR for clarify in README) are welcome.

[2016-07-25 08:50] serkandurusoy commented on #83
Hm, I could not find anything in the promise object that could identify it as belonging to uniforms.

Marking would be a good idea, but that would require us to change the returned error... Hmm...

Can we change [this](https://github.com/vazco/uniforms/blob/22e50917e12fdb9b8d33c70b6d0458727f615687/packages/uniforms/src/components/forms/ValidatedForm.js#L138)

from

[code]

to

[code]

and then on

[2016-07-25 08:57] radekmie commented on #83
It would work, but... [Error don't have to be an object](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/forms/BaseForm.js#L47). It may sound weird, but it's an serious usecase.

[2016-07-25 08:57] radekmie commented on #83
Also, spread operator strips prototype.

[2016-07-25 09:03] serkandurusoy commented on #83
Oh yeah spread, ok that's easy. What about the error, do you know a case
where it won't be an error? and if it is not, what can it be? We could sure
check for the type and act accordingly!

On Mon, Jul 25, 2016 at 11:57 AM, Radosław Miernik <notifications@github.com

[2016-07-25 09:05] radekmie commented on #83
We have such situation - error is simply an error code (a `Number`). Even so, it wouldn't be hard to change it.

[2016-07-25 23:08] mixcas commented on #74
@vladejs I working on an upload field that uses [Slingshot](https://github.com/CulturalMe/meteor-slingshot). You might find it useful.
[https://github.com/interglobalvision/applaya/blob/master/app/imports/components/fields/UploadField.jsx](url)

I'm thinking i might do a separate package for it in the future.

[2016-07-27 14:21] macrozone commented on #82
YOU - ARE - AWESOME!

many thanks @radekmie ! Works like a charm *_*

Btw. I created i18n_service for mantra that wraps meteor-universe-i18n and provides some convenience functions for mantra-apps. It's still rough, but works perferctly so far and i like to share:

https://gist.github.com/macrozone/f1ab1bf6f205f5bfb7518bac0d2854d5

It's meant to be initalized in the context in mantra app.

It has

[2016-07-27 14:56] macrozone opened #85 "Idea: Flexible component mapping"
You can currently implement your own AutoField and do whatever you want there, which is nice. You can also define a property universe.component to pass a react-component directly.

However, if you want to share schemas between server and client, you usually put the schemas in a shared location. But importing components there looks like the wrong place (it's also not possible if your componets resi

[2016-07-27 15:01] macrozone commented on #74
I also suggest to focus on a clean api that allows to implement custom fields.

Uniforms is already really good at this. We have know 2 projects where we rolled our own sets of components (non-bootstrap or whatever) and unforms did a great job.

We also implemented a slingshot-field (can't share yet), which is easy to do. I try to share if i have some spare time.

[2016-07-27 16:46] radekmie commented on #85
I don't know, if this suits your needs, but [there's `autoField` prop on `QuickForm`](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/forms/QuickForm.js#L46) (and so `AutoForm`) - you can use it like this:

[code]

[2016-07-27 17:38] #83 closed

[2016-07-27 18:12] radekmie commented on #82
Wow, just wow!
I haven't played a lot with mantra yet, but translating form during filling is a great feature!

And as to i18n - if you like, go ahead, create an PR - we'll see, if it makes sense to create a separate package. Looking forward your progress!

[2016-07-28 13:10] macrozone commented on #85
Yes, this also looks good.

Maybe we put that pattern in the readme?

[2016-07-28 13:12] radekmie commented on #85
Yes, README is still _under heavy development_. I don't have much spare time right now - either create a PR or give me some time.

[2016-07-29 19:17] #85 closed

[2016-07-29 19:18] radekmie commented on #85
[Custom `AutoField`](https://github.com/vazco/uniforms#custom-autofield)
Would you be my reviewer, @macrozone?

[2016-07-29 19:37] radekmie opened #86 "Idea: Internal immutability?"
As I worked on optimizations recently, I thought about rewrite everything to [`immutable`](https://github.com/facebook/immutable-js/) (or something similar). It would simplify few _hard-to-keep-immutability_ places (like [this](https://github.com/vazco/uniforms/blob/master/packages/uniforms-unstyled/src/components/fields/ListDelField.js#L17-L20)) and get rid of [lodash](https://github.com/lodash/l

[2016-07-30 08:08] RSchwan opened #87 "`showInlineError` for whole form"
I just have seen this pull request #84 and I think this is a really useful feature.
The only problem I see with it is that you have to add the `showInlineError` property to all fields manually. I think it would be great if you could set this prop on per example the  `AutoForm` component so that automatically all fields show a inline error.
Of course it would be possible to override it manually on

[2016-07-30 08:15] radekmie commented on #87
Yes, I've even started working on this (locally). At first, I thought about renaming it to `inlineErrors`, then ensure it is implemented in every package (I'm not sure, how to display it in `uniforms-unstyled`) and then allow `BaseForm` to pass this prop down (same as `disabled`).

[2016-07-30 09:05] serkandurusoy commented on #86
what about mobx? it seems very efficient!

Sent from my iPhone

On Jul 29, 2016, at 22:39, "Radosław Miernik" <notifications@github.com>
wrote:

As I worked on optimizations recently, I thought about rewrite everything
to immutable <https://github.com/facebook/immutable-js/> (or something
similar). It would simplify few *hard-to-keep-immutability* places (like
this
<https://github.com/vazco/unifor

[2016-07-31 14:54] radekmie commented on #86
I'm not sure - I haven't played with mobx that much - but I think it would require a complete rewrite - current flow seems to be not compatible with _mobx way_ (again, it's just my opinion - correct me, if I'm wrong).

[2016-07-31 16:49] serkandurusoy commented on #86
I'm not experienced with it either, but I'm currently evaluating it as an
evolution to redux stores and I think it makes sense in the way that it is
reactive and meteor is reactive and that it can be a very good bridge
as reactive  intercomponent comunication.

It aiso claims to be extremely efficient with figuring out updates to its
internal state and it utilizes shouldComponentUpdate very effect

[2016-07-31 16:50] serkandurusoy commented on #86
Also take a look at this interesting article:

https://blog.risingstack.com/handling-react-forms-with-mobx-observables/

On Sun, Jul 31, 2016 at 7:49 PM, Serkan Durusoy <serkan.durusoy@dna-tr.com>
wrote:

[2016-07-31 16:52] radekmie commented on #86
I've read it some time ago. OK, so right now, I'll leave it as is - I **really** want to release `v1.0.0` (I have to focus - I'm doing too much sidework).

Maybe in the future? :question:

[2016-07-31 16:57] serkandurusoy commented on #86
That's definitely fair! :)

On Sun, Jul 31, 2016 at 7:52 PM, Radosław Miernik <notifications@github.com>
wrote:

[2016-08-01 17:16] macrozone commented on #86
Performance last ;-)

I think 1.0.0 is soon ready. I'll try to do a blogpost in the next weeks about it. Maybe we should also advertise it a bit (more) on the meteor-forum! Having AutoForm on react might help some people switch from blaze to react ;-)

[2016-08-01 19:01] radekmie commented on #86
@macrozone - you got it. I'm planning 1.0.0 in this very week. Right now I want to give it few more days, so if any bug will come out - it could be fixed before that main release.

[2016-08-02 13:42] macrozone commented on #86
cool, using it in two projects heavily right know, will report any bug ;-)

[2016-08-03 07:23] mstanuch opened #88 "Boolean AutoField returns empty string"
Using schema:
[code]

I've created full form by `AutoForm`:
[code]
I haven't checked a checkbox, after submit I've got `{boolValue: ''}` (empty string).

[2016-08-03 07:35] radekmie commented on #88
It mean, that nobody is using fully automatic `AutoForm` :D

Okay, I'll take care of this.

[2016-08-03 11:43] #88 closed

[2016-08-03 13:48] serkandurusoy commented on #88
Hmm, do you think maybe we should consider this a sign to "unpromote" this
feature for the 1.0 release, making it an undocumented private api that can
be deprecated in the future?

This way, if there really is not much use for it, we can make uniforms even
leaner, concentrating our efforts on what matters the most.

And imho, anyone dealing with forms would either eventually want to fine
tune what

[2016-08-03 16:43] radekmie commented on #88
To be honest - no. I've also encountered this before, but since then I always provided an initial model.

I thought about it at the beginning, but there are some cases when it's a lot simpler. For example - your schema is generated (by a GUI editor or from simple textual definition) - then you have either to use _full_ `AutoForm` or to extend your GUI editor to handle it.

I don't think, that any

[2016-08-04 21:23] zeroasterisk opened #90 "changing an uncontrolled input of type text to be controlled"
Have you seen this?

I'm using this from a child component, setting state up to the parent:

[code]

so on first render `this.props.query = {}`

then I type into a field, submit moves it into the parent's state, passes it back down via props, and it results in `this.props.query = { name: 'foo' }`

that seems normal to me, but react seems to be complaining...

[2016-08-04 21:31] zeroasterisk commented on #90
As expected, when I default the model with empty strings for these fields, it works fine, no complaints.

Is that a requirement?

What about non-string values, like a select number `1-10`... if I don't have a value, I don't really want to default to `0`since `0` is not allowed... ??

[2016-08-05 07:11] radekmie commented on #90
This should be done by `initialValue` (and this small [_hack_](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/fields/BaseField.js#L191-L195)). Two questions:

0. Which version?
0. Is this field required in your schema?

[2016-08-05 20:56] radekmie commented on #81
I've thought about it and I think, I found a solution It might sound complex, but I couldn't find something simpler. There could be something like `onChangeTrigger` and then field could specify _`onChangeOrigin`_ - for example `onBlur`, `onSelect`, `onTimeout` (weird example - select that might choose default value after some time from opening) or leave it empty (default?). It might be an overkill

[2016-08-06 00:04] zeroasterisk commented on #81
That does sound complex. Might work. Might just need to figure out initial
value defaulting or something.... Not sure.

On Fri, Aug 5, 2016, 3:56 PM Radosław Miernik <notifications@github.com>
wrote:

--
thank you,
Alan Blount
alan@zeroasterisk.com
502-744-4942
G+ zeroasterisk@gmail.com

[2016-08-08 09:25] GoaGit commented on #66
You provide an excellent explanation @radekmie about how to construct a modifier form. What is the proper way to actually use the modifier form you created in the example, given a schema, model and function? My first idea is  would be:

import UpdateForm from '/path/to/updateform.js'
...
<UpdateForm
  schema={SomeImportedSchema}
  model={SomeProvidedModel}
  onSubmit={SomeProvidedFunction}
/>

Thi

[2016-08-08 10:41] radekmie commented on #66
No, @GoaGit, it's my fault - I wrote it as a concept and haven't tested it. Now I've done and I've just updated that implementation.

[2016-08-08 16:38] zeroasterisk commented on #90
1. v 1.0.0-rc.29
[code]
2. no - this is an optional field, not in the initial document/model... then type to "set" it and we get this ugly warning.

[2016-08-08 16:46] radekmie commented on #90
Okay, I try to investigate it but could you try it in `1.0.0-rc.28`?

[2016-08-08 20:10] GoaGit commented on #66
That's really awesome @radekmie. You've created a very elegant solution. Looking forward to be able to use it.

[2016-08-09 00:24] mixcas opened #91 "Explicit ListField inside ListField"
I'm using `uniforms@1.0.0-rc.29` and `uniforms-unstyled@1.0.0-rc.29`
This is my schema:

[code]

And my form:
[code]

I'm getting this error: `Invariant Violation: Field not found in schema: "artists.0.work.artists.0.0"`

Using `<AutoField name="work" />` works fine tho.

[2016-08-09 08:11] radekmie commented on #91
I've looked into the component tree rendered by `AutoField` that renders `ListField` and it seems to be the same. I'll try to fix it later today.

[2016-08-09 18:10] #90 closed

[2016-08-09 18:10] radekmie commented on #90
It was a regression in `1.0.0-rc.29` - fixed now.

[2016-08-09 19:21] #91 closed

[2016-08-09 19:24] radekmie commented on #91
There was a problem with nesting `NestField` - now everything works fine. I'll also release next version _(`1.0.0-rc.30`)_ later.

[2016-08-09 19:27] #86 closed

[2016-08-09 22:44] radekmie opened #92 "New documentation"
I'm starting to work on the new documentation. Here's a planned documentation summary. If you have any suggestions about what else should be included in here - please comment.

New documentation will be developed [here](https://github.com/vazco/uniforms/blob/master/README2.md) - every suggestion and PR is welcome!

Playground is coming soon, don't worry.

* [x] Description
* [x] Installation
    *

[2016-08-09 22:44] radekmie commented on #21
Closing in favor of #92 (more about playground is coming).

[2016-08-09 22:44] #21 closed

[2016-08-10 07:37] serkandurusoy commented on #92
It would be awesome if the contributing section described

* setting up a local development environment
* how to use a local, unpublished development version of uniforms in a test
project

The last time I tried setting it up and trying to see if my changes fix a
known problem was a terrible experience, I could not get it to run so I was
not able to test if my PR fixed the problem or not.

On Wed,

[2016-08-10 07:43] radekmie commented on #92
Great idea @serkandurusoy. I'll surely add it to the playground README, but probably also here - it might be useful.

[2016-08-10 07:51] serkandurusoy commented on #92
Thanks! I believe it would also help encourage contributions.

On Wed, Aug 10, 2016 at 10:43 AM, Radosław Miernik <notifications@github.com

[2016-08-10 18:44] vladejs commented on #92
It will be awesome to cover this use cases:
1. Conditionally show form fields based on another's field value, for instance, when user chooses 'Book' in category list, the form shows an ISBN field.
2. How to manage a list of custom fields, for example, I created an upload image custom component and don't know how to tell the schema to render a list of those components. Moreover, if I just tell it t

[2016-08-10 19:11] radekmie commented on #92
Thanks @vladejs!
All of those have been discussed more in-depth in their issues and surely should be included into documentation.

[2016-08-11 18:31] vladejs commented on #92
Is there an issue for usecase #1? I haven't find an thread about it

[2016-08-11 19:03] radekmie commented on #92
To be honest I can't remember... Maybe we talked about it internally? Despite of all - I'm currently writing this _chapter_, and it will be ready soon.

[2016-08-11 20:21] radekmie commented on #92
Okay @vladejs - it would be nice to hear, if everything is clear and you could add something more.

[2016-08-11 22:16] vladejs commented on #92
is there a way to tell AutoForm component to render an horizontal form? Like [this one](http://cubanote.mod.bz/postStuff)

[2016-08-12 08:06] radekmie commented on #92
If you are using bootstrap themes, then `form-inline` class should do the work (at least, I think it should - I'm not a bootstrap expert). Maybe `grid` would suffice? It is already implemented.

If you are using semantic or unstyled theme, then no, there's no builtin way to do this - you can either create custom components to handle this or extend current ones and then make a PR. How to do that? I

[2016-08-12 19:33] vladejs commented on #92
The way I have it on my form is applying a `col-md-4` class to labels and a `col-md-8` class to inputs. So the question would be, how to apply custom classes to all form labels and inputs right from AutoForm component, something like:
[code]
Or apply them field by field (this is how I do it in AutoForm with Blaze):
[code]
I don't know if this have been already discussed though

[2016-08-12 19:48] radekmie commented on #92
That's exactly what is `grid` prop in bootstrap themes for. Just pass `grid={4}` to your `AutoForm`.

[2016-08-13 20:30] vladejs commented on #92
It works!, but not with nested fields (those who are Array in schema) because they are rendered inside a Panel.

[2016-08-14 23:41] Necmttn opened #93 "Inline Styling"
Hi, I was using Semantic UI for styling. but today ı have made a radical decision to use inline styling in my app.
Currently I'm playing around with https://github.com/Khan/aphrodite/ which allows me write inline css in a goodway.

but the problem is when autoform renders field its create
`<section class="required field">
      <label for="uniforms-0000-0005">Website</label>
        <section class

[2016-08-15 15:13] radekmie commented on #92
I think, that there's no good way to show inline form with an array field.

[2016-08-15 15:16] radekmie commented on #93
All components accept `className`. Well, it's not in the documentation, because it was obvious to me... Okay, I'll add it later.

Also, remember you can always [read the code](https://github.com/vazco/uniforms/tree/master/packages/uniforms-semantic/src/components/fields).

[2016-08-15 15:16] #93 closed

[2016-08-15 19:04] Astroxslurg opened #94 "Trying to delete ListItem gives Uncaught TypeError: parent.value.slice is not a function"
I'm trying to make a form where you can write many answer alteratives to a multiple choice question. But when i try to remove an alternative by pressing the "-" button I only get an error output in the console: Uncaught TypeError: parent.value.slice is not a function.

Schema (is also used for other purposes through the application):

[code]

Code:

[code]

Note that using` <AutoForm name="alterna

[2016-08-15 19:39] Astroxslurg commented on #94
Identified the problem myself. All that was needed was to change the code a little:

[code]

[2016-08-15 19:39] #94 closed

[2016-08-15 20:35] radekmie commented on #94
I'm glad you didn't give up!

[2016-08-16 03:37] vladejs commented on #31
It doesn't work for me:
[code]

The error is:
[code]

I'am using `1.0-rc30`

[2016-08-16 06:55] radekmie commented on #31
Well... It turned out, that `AutoFields` component is not exported... Shame. I'll fix it ASAP.

[2016-08-16 06:58] #31 closed

[2016-08-16 20:57] radekmie commented on #92
New documentation is quite ready. I've already swapped old README.md with the new one, CONTRIBUTING.md is also updated.

Does anyone have an idea for generating documentation from both JSDoc and propTypes? There are a lot of components right now, so doing it by hand is basically undoable.

[2016-08-17 10:16] MacRusher opened #95 "SubmitField doesn't allow you to set value"
At least for SemanticUI version `value` property is filtered out and not passed down.
In a result you always have default browser submit message.

[2016-08-17 18:40] #95 closed

[2016-08-18 20:15] zeroasterisk opened #96 "Example Propsal, custom List/Nest"
I recently figured this out, and I thought it might be worth adding some variation of the following custom `NestField` to the README examples section:

[code]

[2016-08-18 22:00] radekmie commented on #96
Yes, it's a good example. I've been using it many times - for example range pickers (`range.start` and `range.end`) - it's easier to abstract it later, in your form.

I'll surely add it to the README.

---

I see, that you are using `findValue` - it's completely OK, but you can also use `value` directly. Also, instead of extracting `onChange` _by hand_, you can use `filterDOMProps` helper.

[2016-08-19 13:38] zeroasterisk opened #97 "Approach Suggestion Request"
I've been working with the awesome `onSubmitSuccess()` and returned promise from `formRef.submit()` which was introduced after #51 --- excellent.

But I have run into issues where I want to create a form and pass the formRef into it's child elements... for example, a submit button child component.

The issue is the `formRef` is `null`, it gets set when AutoForm creates it, but it doesn't get passe

[2016-08-19 14:22] zeroasterisk commented on #97
Here's my new workaround, a HOC to handle that `formRef` in state

[code]

[2016-08-19 18:44] radekmie commented on #96
[Example: `CompositeField`](https://github.com/vazco/uniforms#example-compositefield) and [Example: `RangeField`](https://github.com/vazco/uniforms#example-rangefield) added.

[2016-08-19 18:44] #96 closed

[2016-08-19 18:50] radekmie commented on #97
Before I answer... Why you have to pass your form ref down?

[2016-08-19 18:51] zeroasterisk commented on #97
Because I may have a sub-Component do the `formRef.submit() --> Promise` triggering

[2016-08-19 19:00] radekmie commented on #97
Okay, that makes sense. Currently, I don't have a better idea than some variation of your HOC, but if I do - I'll post it here.

[2016-08-19 19:07] zeroasterisk commented on #97
sounds good - thanks!

[2016-08-24 19:50] radekmie opened #98 "New playground"
Long story short - a demo of `uniforms` setup with a local version of packages for easier contributing.

[2016-08-24 19:52] radekmie commented on #92
Right now API docs will remain incomplete.
Playground issue: #98.

[2016-08-24 19:52] #92 closed

[2016-08-31 21:01] #98 closed

[2016-08-31 21:07] radekmie opened #99 "Support for SimpleSchema@2.0.0"
[Release note](https://github.com/aldeed/meteor-simple-schema/blob/devel/CHANGELOG.md#200).

[2016-08-31 21:12] serkandurusoy commented on #99
This is a breaking change, though! What are your thoughts on backwards compatibility?

[2016-08-31 21:13] radekmie commented on #99
I want to support both at once - simple create another birdge like `SimpleSchema2Bridge`.

[2016-09-02 08:45] radekmie commented on #99
Well, there's a problem: [`SimpleSchema.oneOf`](https://github.com/aldeed/node-simple-schema#multiple-definitions-for-one-key).

[2016-09-04 00:57] vladejs commented on #87
Have this been implemented? It doesn't work in my forms either with `showInlineErrors` nor `inlineErrors`

[2016-09-07 22:24] jamielob opened #100 "showInlineError not working on `ListField`"
Getting an error that `showInlineError` prop isn't allowed on `section`.  Looks like it's because the `ListField` component isn't wrapped in a `FormGroup` which is where the inline errors are handled?

To replicate, just create a `ListField` component with `showInlineError` as a prop.

p.s. Great package.

[2016-09-09 21:20] radekmie commented on #87
@vladejs
Sorry for long delay - I was on vacation. No, It's not implemented yet (to be honest, it's only a concept). As of #84, you can use `showInlineError` on every field in bootstrap3 and bootstrap4 packages.

[2016-09-09 21:24] radekmie commented on #100
Well, yes - it's not passed down. If you want, create a PR for it (it's only two lines in two packages - 4 LOC). No matter what, it will be refactored - you can track progress in #87.

[2016-09-12 16:22] arrygoo opened #101 "A number field does not seem to let me enter "0" as the number."
I have a SimpleSchema field like so:

[code]

I've tried with and without the min, but in both cases the form does not allow me to enter "0" as the number. It lets me put "-1" or "0.1", but I can't find any way to input "0". It seems like a bug to me unless it was done by design?

[2016-09-12 16:26] radekmie commented on #101
I'll investigate it.

[2016-09-12 16:48] radekmie commented on #101
[Yes, that's a bug](https://github.com/vazco/uniforms/blob/v1.0.0-rc.32/packages/uniforms-unstyled/src/components/fields/NumField.js#L32). I'm already working on it.

[2016-09-12 16:58] #101 closed

[2016-09-12 17:00] radekmie commented on #101
Will be included in `1.0.0-rc.33`.

[2016-09-12 17:15] arrygoo opened #102 "A number field does not seem to let me enter "0" as the number."
I have a SimpleSchema with a number filed like so:
[code]

And I simply have an Autoform generated from it. When I try to fill in the form, it doesn't allow me to input `0` for hoursMin. It removes it as I type the `0` similar to how it disallows Alphabetical characters for the `Number` field.

It allows `0.1` or `-1`, but disallows typing `0`. I've tried it both with and without the `min: 0` but

[2016-09-12 18:22] radekmie commented on #102
Duplicate #101.

[2016-09-12 18:22] #102 closed

[2016-09-12 18:24] arrygoo commented on #102
@radekmie Sorry I thought the previous issue I made was not posted. Thanks for addressing that :).

[2016-09-12 18:26] radekmie commented on #102
@arrygoo No problem.

[2016-09-12 19:47] radekmie commented on #74
I'm closing - we've all agreed, that creating custom field is not that hard, so there's no need for built-in integration.

[2016-09-12 19:47] #74 closed

[2016-09-12 19:55] radekmie commented on #81
As a desired workaround, I would suggest using `onBlur` with `form.submit()` like this:

[code]

I don't plan to implement it in the core in the nearest future, but - as always - a PR is welcome.

[2016-09-12 19:55] #81 closed

[2016-09-12 20:12] #97 closed

[2016-09-13 10:18] macrozone commented on #99
would love to use simpleSchema 2. Then, we could finally use schema-based-forms in non-meteor-environements like storybook <3<3<3

I also spotted some breaking changes for my usage, but it should be fairly straight-forward.

[2016-09-13 11:41] vladejs commented on #74
You are right, I created a custom field of type `file`. When it changes it
bubbles the selected file up to the form component, so I can easily
validate the file and upload to my server onSubmit event.

Thanx @radekmie.

[2016-09-13 13:08] Astroxslurg opened #103 "Using SimpleSchema autoValue()?"
I can't find any documentation regarding whether uniforms can make use of SimpleSchemas autoValue() function.

I tried making a uniforms: "something" key in the SimpleSchema, which were no help. In the docs it says remember to import uniforms packages first. What packages?

Some explanations about how uniforms handles this would have been lovely :)

[2016-09-13 19:08] radekmie commented on #103
I don't understand you,  really.

If you have an `uniforms: "something"` in your SimpleSchema, then it will try to render a `<something />` tag. This works like this:

1. If `uniforms` is a string or a function, then use it as a component.
2. If not, then it have to be an object of field props.

---

What do you mean, by _make use of SimpleSchema autoValue()_? Calculating `autoValue`s is having pl

[2016-09-14 20:09] Astroxslurg commented on #103
Ah..
That explains alot! Thanks :)

And yes, i digged more into the SimpleSchemas autoValue() now, and found out I had misunderstood. I'm using it when inserting into the database, so it doesn't have anything to do on the client side.

Thanks alot :)

[2016-09-14 20:09] #103 closed

[2016-09-14 22:53] radekmie commented on #99
OK, I've started to implement this and there's one big issue with the new version internals - due to `oneOf`, every field is treated as an array. To make it possible in any way, then we could either always get the first one or configure it _somehow_.

[2016-09-15 19:44] radekmie commented on #99
Well, I think I've got a solution.

[code]

Problem: two types in schema - how to render one form with type 1 and another form with type 2?

What do you think?

[2016-09-16 09:33] macrozone commented on #99
I think i would not hook into the oneOf-function.

If you get this schema, you can't guess which field to render. So the developer would need to specify the field either by using an explicit field in the <AutoForm /> or by specifying a component in the schema:

[code]

If nothing is specified, i would just use the first type. I think that this is an edge-case anyway.

[2016-09-16 09:44] radekmie commented on #99
But I can't guess type from the field. Consider this example:

[code]

Which one should we render now?

[2016-09-16 10:58] macrozone commented on #99
In the first case, you render CustomField (fieldA) and in the second case a TextField with property min: 10. (fieldB, this definition makes little sense anyway).

[2016-09-16 11:12] radekmie commented on #99
Yeah, of course fieldA will render CustomField, but every field receive it's type (and other props).

Maybe this will clarify:
[code]

No matter, which field I'll render - which props should I provide?

[2016-09-16 11:21] Astroxslurg commented on #103
I see!
Nice to know, macrozone :)

[2016-09-16 11:26] radekmie commented on #103
If your field is not optional, then it will receive initial (default) value.

[Step 1](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/helpers/connectField.js#L36-L38).
[Step 2](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/bridges/SimpleSchemaBridge.js#L134-L152).

I don't think, that `autoValue`s should be automatically calculated there - most of `autoVa

[2016-09-20 07:16] user1901 opened #104 "Validation cross-contamination"
When a new model is passed to a `ValidatedForm`, it validates with the old one!

[2016-09-20 07:20] #104 closed

[2016-09-25 13:41] GoaGit commented on #33
Dear @radekmie,

As I trying to allow multiple values for a single field, I am running into trouble. A list of checkboxes shows up in the client, but I can only select a sinlge value (single checkbox checked). I thought the checkboxes prop in the schema should do the trick. Any suggestions how should I change the implementation?

I am using uniforms version 1.0.1

`// Schema definition
// Should a

[2016-09-25 14:41] zeroasterisk commented on #33
Try type=[number]

On Sun, Sep 25, 2016, 9:41 AM GoaGit <notifications@github.com> wrote:

--
thank you,
Alan Blount
alan@zeroasterisk.com
502-744-4942
G+ zeroasterisk@gmail.com

[2016-09-25 14:57] radekmie commented on #33
Yeah @GoaGit - @zeroasterisk is right.

Your field has a `Number` type which allows only one number, not an array of numbers. You should use `[Number]` instead.

[2016-09-25 16:04] GoaGit commented on #33
Thanks @zeroasterisk, @radekmie, this is the appropriate way. However, my problem appears to be SimpleSchema related. The example provided is based on schema that is created from a base schema. SimpeSchema provides the pick method to create a new schema:

// MyCollection has the baseschema attached to it. I select one field "Category" in this case:

```CategorySchema = MyCollection.schema.pick( 'C

[2016-09-25 16:13] radekmie commented on #33
Let me guess - aldeed/meteor-simple-schema#514?

[2016-09-25 16:33] zeroasterisk commented on #33
Yeah - you can't "pick" for an nested/arrayed fields.

I've been splitting the object you pass into the SimpleSchema constructor into it's own "config" object... I can pick from those, and then pass into various SimpleSchema's with my composed/picked/varried configurations, at the end of the file.

eg:

[code]

[2016-09-25 17:14] zeroasterisk opened #105 "Multi field/value connectField() input, not nested"
I'd like to make a custom component for a date range picker, from airbnb.
https://github.com/airbnb/react-dates

This component has an onchange handler function, all good:

The problem is, it's change handler returns 2 fields, nested in an object.

My schema has `start,stop` as 2 date fields, on the root of the schema, no nesting.

How do I make a single, non-nested component, connect to 2 differe

[2016-09-25 17:18] GoaGit commented on #33
Thanks @zeroasterisk, your suggestion works.

@radekmie: I don't now if it is related to the issue you mentioned.

(Note: Picking from array fields appears to be possible. E.g. this works for me:

[code]
followed by
[code]
and
[code]
)

[2016-09-25 17:32] radekmie commented on #33
@GoaGit: that's the exact reason of this issue.

[2016-09-25 18:03] radekmie commented on #105
I wouldn't use `connectField` here because you are creating a _composite field_, not a _field_ - I would [use context directly](https://github.com/vazco/uniforms#context-data). Example implementation:

[code]

Of course, if you would nest those two in one key, `connectField` would be the best option (in terms of code clarity and performance). Example implementation:

[code]

**Note:** I haven't te

[2016-09-26 12:45] macrozone opened #106 "custom props on Form-Components should not be passed down to <form>"
I have a Quickform, where i defined a custom property to disable the submit button:

[code]

This will show a react-warning that hideSubmit is not allowed on a `<form>`-Tag, because every property (besides some defined props in https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/forms/BaseForm.js#L200) are passed to the form-tag.

I am not sure how to fix this, but havin

[2016-09-26 12:53] radekmie commented on #106
0. You can override `getNativeFormProps` and remove your extra prop.
0. You can pass `submitField={() => null}` _(or `nothing`, if you want to be compliant with the React 0.14)_ to the [`QuickForm`](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/forms/QuickForm.js#L48).
0. Whitelist? [No](https://twitter.com/dan_abramov/status/751066839359361024).

[2016-09-26 12:53] #106 closed

[2016-09-26 13:01] macrozone commented on #106
Hi @radekmie

thx, you are right. Overriding getNativeFormProps is the right approached:

[code]

[2016-09-27 18:54] #99 closed

[2016-09-27 18:58] radekmie commented on #99
Done! I've implemented it in 1.1.0 - go and check it out. Right now, there's no support for `SimpleSchema.oneOf(...)` with multiple types - only first one is used.

[2016-09-27 23:40] zeroasterisk commented on #105
Looks great, thank you!!!  Once I finalize, I'll submit as an example

[2016-09-27 23:40] #105 closed

[2016-09-28 06:44] logankoester commented on #99
Awesome, thank you! :heart_eyes:

[2016-09-28 08:06] macrozone commented on #99
Love you guy <3

Logan Koester <notifications@github.com> schrieb am Mi., 28. Sep. 2016,
08:44:

[2016-09-30 10:20] GoaGit commented on #33
@radekmie, confirmed. Thanks.

[2016-10-04 02:59] zeroasterisk opened #108 "Tie multiple fields together, and trigger re-render on change"
I've been making custom fields via `connectField()` _(no problems)_

I've been able to make "mega" fields, based on `BaseField` and the uniforms context _(super powers, engage)_

Recently I've been trying to use your example, context aware helper `DisplayIf` [link](https://github.com/vazco/uniforms#example-displayif) _(living in the future)_

So then, of course, I tried to combine tactics and it s

[2016-10-04 06:26] radekmie commented on #108
It is because most fields care only about its own props. As a solution (solution, not workaround) I would suggest using custom `BaseField` subclass:

[code]

_I think, that I have to write a blog about my work with uniforms, because if I stumble upon thing like this, probably in a week or two there's an issue for it._

[2016-10-06 11:44] #108 closed

[2016-10-06 12:26] zeroasterisk commented on #108
Thanks!

[2016-10-06 20:44] vladejs opened #109 "1.1.3 says it needs simpl-schema as peer dependency"
I don't wanna use `simpl-schema`, I wanna stick with meteor package `aldeed:simple-schema`

[2016-10-07 04:55] radekmie commented on #109
I can't turn off this npm warning. In `v1.1.3`, I've fixed `Unable to resolve some modules: ...` meteor warning.

[2016-10-07 04:55] #109 closed

[2016-10-07 12:22] EricSoldierer opened #110 "Custom Uniforms Component with nested schema at multiple places"
I am having some problems to properly create custom components when using a nested schema. My schema has 8 subschemas which some of them would benefit from a custom UI component. Additionally I have these components on multiple places throughout my application, therefore want to be able to reuse them. This is the reason why I don't want to define my custom elements in the AutoForm and then omit th

[2016-10-07 12:31] radekmie commented on #110
Where exactly you want to receive that `label`? In the `Duration` component? I don't really get it.

[2016-10-07 13:18] EricSoldierer commented on #110
Yes, i want to access the ``label`` from the schema inside my ``render`` method of the ``Duration`` class in order to build a custom UI and not use ``AutoField``. I currently can read it via the ``getName`` method. But i don't feel comfortable to use code like this in production. It feels very hacked (especially since i am accessing "private" (_reactInternal, etc.) members).

On a higher level, th

[2016-10-07 13:33] radekmie commented on #110
You can use [`context`](https://github.com/vazco/uniforms#context-data) directly _(there are some examples)_. Your example could look like this:

[code]

It's public and schema agnostic.

[2016-10-10 15:19] mprzodala opened #111 "dateField in semantic"
When you use:
[code]
this input display "datetime-local" field. I think it should display "date" field or you should change field name to DateTimeField.

Documentation has wrong field type in section "Fields components" there is "date-localtime" in field description.

[2016-10-10 18:23] radekmie commented on #111
0. It renders `datetime-local` input, because it's the only one [widely supported](http://caniuse.com/#feat=input-datetime).
0. It's called `DateField`, because it operates on `Date` object.
0. I'll correct that typo, thanks!

[2016-10-10 18:24] #111 closed

[2016-10-11 10:32] EricSoldierer commented on #110
Ok, i got this working with:
[code]

Next step is that validation fails when i actually use my custom html component, rather than something uniforms related.
[code]

When using the uniforms `TextField`, validation works. But not with my label and input.

How can I achieve this ?

[2016-10-11 14:42] radekmie commented on #110
Create custom fields using [`connectField`](https://github.com/vazco/uniforms/blob/master/API.md#connectfield). If you need example, look into README.md.

[2016-10-11 15:12] EricSoldierer commented on #110
I tried doing that and it did not work. However I got it working by doing
[code]
and

[code]

I could imagine that i can get rid of my `onChange`. I created a base class for all my custom components where this functionality resides, but not having it in the first place would be better.

When using  `connectField`  on my custom components, I specified `includeInChain: false` because setting this to

[2016-10-11 15:18] radekmie commented on #110
0. What have you tried? Every single component in this package is created using `connectField`.
0. You should use `includeInChain: false` only in _wrapper_ fields - fields which have nested fields.
0. Validator validates **model**, not **field**.

[2016-10-11 16:36] EricSoldierer commented on #110
I tried to create my component with
[code]
rather than
[code]
When doing this, the data entered into my `input` field was not validated. I am using the same `input` as above, just removed the `onChange` method . The validation always states `somefield is required`. I suppose this was because the data is not set to the actual model. How can I set this data to the model ? Is it only done via the `on

[2016-10-11 16:43] radekmie commented on #110
0. If you do `Y = connectField(X)`, then `X` is the _pure_ field and `Y` is the field, you should use in your forms.
0. Yes, model _**should**_ be changed only by `onChange`.

[2016-10-11 16:53] EricSoldierer commented on #110
1. I did use the `Y` field.
2. If I can not change the model without doing `onChange`, when would I use `connectField` in the first place, if have to call `onChange` manually anyway.

[2016-10-11 20:56] radekmie commented on #110
We have to clarify this or it will never end: you want to create a **field** _(any kind of input with corresponding field(s) in model)_, a **composite field** _(set of few fields, grouped logically)_ or a **fieldset** _(reusable block of form; set of unrelated fields)_?

* **Field**: `connectField`.
* **Fieldset**: ordinary component with optional access to context.
* **Composite field**: `connect

[2016-10-13 08:32] EricSoldierer commented on #110
Ok, i will take a step back and explain the scenario. I have:

A nested schema for an `Exercise`:
[code]

I then have two places where I render an `Exercise` form.
Also, I would like to render a complete custom UI for a `Material`, a `Duration` etc.

I now created a `CustomExerciseView` class used in the `AutoForm`.
[code]

I did this because I can only specify one class in the `autoField` propert

[2016-10-13 15:54] radekmie commented on #110
1. Kind of:
[code]

2. Again, kind of:
[code]

---

1. Why you can't simply do `<*Field />` in your `<Materials />`? Then it don't have to be a field.
2. There's a `fields` prop in your `Material` component - what is it?
3. Could you show your `CustomBase` component? I think, that this is the clue of this whole conversation.

[2016-10-13 16:52] EricSoldierer commented on #110
1. I want to create a custom UI for some of the fields in my schemas. Like a slider to set a value from a range etc. Therefore i can't use a uniform `SomeField`.

2. It contains the attributes from the nested schema. So all the things I specify inside the Materials schema. By looping through this, I can render all the input fields required to create a new Material.

3. The intention behind this cl

[2016-10-13 18:38] radekmie commented on #110
1. You can create fields for it to make it _really reusable_.
2. OK, so loop through it, but use uniforms fields, so it will be managed by form.
3. It's completely useless - basefield already provide you `label` _(from schema)_, `field` _(complete props)_ and `onChange` _(by default binded to your field name)_.

---

Example:
[code]
Is this enough?

[2016-10-15 10:11] radekmie commented on #110
I think everything is already clear. If not, feel free to comment.

[2016-10-15 10:11] #110 closed

[2016-10-15 18:12] radekmie opened #112 "JSON Schema"
[JSON Schema](http://json-schema.org/) is a very good candidate for the next built-in schema. Writing a whole new validator is not the best idea, but using already existing one like [`ajv`](https://github.com/epoberezkin/ajv) or [`is-my-json-valid`](https://github.com/mafintosh/is-my-json-valid) is a good option as those seem to be quite popular and mature.

Thoughts? Ideas? Demands?

[2016-10-15 18:23] radekmie commented on #112
@MacRusher
@macrozone
@serkandurusoy
@zeroasterisk

[2016-10-16 13:14] mattscooter opened #113 "Multiselect with checkboxes validation issue"
I am currently evaluating uniforms for my project and I've run into a problem with multiselect checkbox using the bootstrap 3 library.

In my schema I have a field defined as a String Array with allowed values of "one", "two", "three".  I want to be able to select multiple options.

[code]

I am using an autoform and autofield and I haven't specified any additional properties.

The field is correc

[2016-10-16 13:30] radekmie commented on #113
I've never tried `minCount` with a multiselect, maybe that's an issue... Just let me know, which version are you using and I'll try to find out what is going on here.

[2016-10-16 13:37] radekmie commented on #113
I've tried it in `v1.2.0-rc.1` and it's working. The only issue is, that the returned value have an additional `null` as a first element - it's caused by `minCount`. Could you share some more of your code?

[2016-10-16 14:31] mattscooter commented on #113
I am currently using 1.1.5.

It turns out that I was editing an entry that was created before I changed the schema to an array and it only had a string stored in the collection for that field.  That appears to have caused the field must be an array error.   So sorry for the confusion on that one.  It's getting late here.

Now that I have realised my mistake and I'm working with the correct data I

[2016-10-16 16:19] radekmie commented on #113
I've got two ideas on how to get rid of this `null`:

0. Pass `model={{multiselect: []}}` - it will bypass the `defaultValue` algorithm.
0. Use `autoValue` to filter out all `null`s _(and other invalid values)_.

[2016-10-17 00:07] mattscooter commented on #113
Thanks for the pointers...

1) This seems to be working as I expected.  I also did a test and it does't appear to interfere with setting defaults on other fields via the schema, which is good.  I will just have to remember this for

2) ```autoValue``` didn't quite work as I would have hoped.  It didn't validate the empty selection and passed the data on to the backend causing an insert exception.

[2016-10-17 05:08] radekmie commented on #113
[It's exactly here](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/bridges/SimpleSchemaBridge.js#L145).

[2016-10-17 18:11] radekmie commented on #113
OK, I think it's clear so I'm closing.

[2016-10-17 18:11] #113 closed

[2016-10-24 09:25] macrozone opened #117 "TypeError: Cannot read property 'getSubfields' of undefined with Meteor release 1.4.2-beta.13"
i tried the new meteor pre-release ( meteor update--release 1.4.2-beta.13) and I get this error on Forms:

"TypeError: Cannot read property 'getSubfields' of undefined"

It seems to ocure in QuickForm when accessing `this.getChildContextSchema().getSubFields()`, but I only see the compiled code right now and did not track this down.

[2016-10-24 15:07] macrozone commented on #112
never used anything but simple-schema, because i also use collection2 to validate on inserts and updates,  but for non-meteor-projects this might be interesting.

[2016-10-24 17:01] radekmie commented on #117
It sounds very weird, but OK - I'll take a look.
Just to be sure - could you share used schema and package versions?

[2016-10-24 18:22] radekmie commented on #117
As I investigated for a moment now, it seems like `super()` in `constructor` is not doing anything.

[2016-10-24 19:57] radekmie commented on #117
I give up. For now at least.
After changing every
[code]
to
[code]
all I can say is that in 1.4.2 `super`... Is not working. It don't call parent's `constructor`. It's really weird. As this is not ready release yet, I think we should wait for the official release of 1.4.2 and then _(eventually)_ take care of it.

[2016-10-24 20:53] macrozone commented on #117
yes, super is not called. super strange. I will take also a look tomorrow. I think we should try to track this down and post and issue on meteor before official 1.4.2 is released. Can you reopen?

I did not find anything related on meteor yet, which makes it even weirder

[2016-10-24 20:57] radekmie commented on #117
Yeah, I've also looked through meteor issues and there's nothing related. I won't have much free time by the end of the week, so go ahead - I'm very curious what's the problem.

[2016-10-25 11:43] macrozone commented on #117
I found something, but no solution yet: https://github.com/meteor/meteor/issues/7956

[2016-10-25 18:22] serkandurusoy commented on #112
I would say the next evolution could somehow be related to graphql/apollo.

Frankly, I have never used uniforms outside of meteor either. Now I know
uniforms offers much more and is in no way strictly coupled with simple
schema, but I've always considered uniforms just because it indeed works
well with simple schema and I have not considered it for non-meteor
projects, you know just because much m

[2016-10-25 18:38] radekmie commented on #112
OK. As I can see, JSON schemas are not so popular _(at least here)_, so I'll close it and open separate issue for graphql-related ideas.

[2016-10-25 18:44] radekmie opened #118 "GraphQL integration"
**Note:** Created as a successor of [this comment](https://github.com/vazco/uniforms/issues/112#issuecomment-256122577) in #112.

More and more projects are using graphql, so some kind of integration would be nice. Some research about parsing graphql schemas would be nice _(and I'll probably do it in some free time)_, but further customizations directly in schema might be an overkill.

Ideas? Thou

[2016-10-25 18:48] radekmie commented on #118
@MacRusher @macrozone @serkandurusoy @zeroasterisk

[2016-10-25 19:52] radekmie commented on #118
OK, I have some very basic implementation [here](https://gist.github.com/radekmie/9c228b5ad55fec927efb768eb0d697e7). We have few problems to solve, in order to make it real:

1. How to handle custom scalars?
2. How to handle IDs?
3. How to validate plain objects? _(some kind of (object + schema) -> mutation + mutation validator)_
4. How to pass initial values?
4. How to pass additional props?

[2016-10-25 21:55] serkandurusoy commented on #118
https://github.com/kuip/meteor-schema-graphql-bridge could spark some ideas
perhaps

sorry I'm on my phone but I'm really excited about this and will post more
soon!

Sent from my iPhone

On Oct 25, 2016, at 21:48, "Radosław Miernik" <notifications@github.com>
wrote:

@MacRusher <https://github.com/MacRusher> @macrozone
<https://github.com/macrozone> @serkandurusoy
<https://github.com/serkanduruso

[2016-10-26 05:21] radekmie commented on #118
There's also [`graphql-forms`](https://github.com/hlandao/graphql-forms/). As I looked into the source, they [also ignore custom scalars](https://github.com/hlandao/graphql-forms/blob/2476557124d7c4a475e0a97bc5a646f6c00ebbdc/src/renderes/render-field.js).

[2016-10-26 22:23] benjamn commented on #117
I think I know how to fix this, but I'm having trouble reproducing it. Can anyone provide a small example app that has this problem?

[2016-10-27 12:25] todda00 opened #119 "Cannot unselect a SelectField that is optional"
Expected behavior: When a field in the schema is optional, the SelectField will have an option to de-select the selection.

Placeholder works only until the user clicks on the select box, then they are presented with all the options, but no way to remove their selection.

Example schema:
[code]

Example SelectField:
[code]

HTML Output (nothing selected yet):
![nothing-selected](https://cloud.gith

[2016-10-27 12:43] radekmie commented on #119
I think, that change from:
[code]
to
[code]
would be enough. And now, there's a question - will it break anything?

[2016-10-27 19:32] radekmie commented on #119
Also changing to an `<option />` with empty value _(the unselected one)_ could remove it from the model, but this might be tricky, when it will be nested inside an array and an object...

Any thoughts, @todda00?

[2016-10-28 14:08] radekmie commented on #119
It looks great, @todda00!

[2016-10-28 21:10] #119 closed

[2016-10-28 22:04] radekmie commented on #117
It looks like [this commit](https://github.com/vazco/uniforms/commit/4677ae97afc025f7a6104d6e4a10564ef727e033) _(updating `babel-runtime` version)_ solves this problem in Meteor 1.4.2. It's already released as 1.4.0 _(huh)_.

[2016-10-31 09:03] macrozone commented on #117
@radekmie : babel runtime should not be in the npm depencencies, so we have no control over that.

meteor  1.4.2.1-beta.0 should fix it, according to https://github.com/meteor/meteor/issues/7956

but i had no luck with my app. So issue is currently not fixed. I need more time to reproduce it with 1.4.2.1-beta.0

[2016-10-31 09:05] radekmie commented on #117
I've upgraded `demo` project to 1.4.2 and it's working with `uniforms@1.4.0`. Are you still having problems, @macrozone?

[2016-10-31 09:43] radekmie commented on #117
Well... Now I've upgraded to 1.4.2.1-beta.0 and it's not working. Unluckily after downgrade to 1.4.2 it's not working again...

[2016-11-01 10:42] radekmie commented on #117
Finally! If you are still having problems, check for `babel-runtime` in your `.meteor/versions`. If it's present, at least `0.1.13` is required. [Source](https://github.com/meteor/meteor/issues/7956#issuecomment-257525102).

Great thanks @macrozone!

[2016-11-01 10:42] #117 closed

[2016-11-01 13:42] macrozone opened #122 "FR: allow omit=true in schema to exclude fields in autoforms"
Similar to aldeed:autoform (https://github.com/aldeed/meteor-autoform#putting-field-attribute-defaults-in-the-schema):

[code]

this should exclude the field from ever be rendered in an autoform.

what do you guys think?

[2016-11-01 14:11] sakulstra opened #123 "Delete empty objects before validate"
Hello there,
thanks for this nice library ;)

I'm currently facing a bug with conditional form inputs:
[code]

So i basically select a courseType and then display a nested form in regards to the selection using the DisplayIf https://github.com/vazco/uniforms#example-displayif approach.

### Problem
The Problem I now face is, that after selecting e.g. 'learningPath' an empty 'learningPath' object w

[2016-11-01 14:31] serkandurusoy commented on #123
@radekmie  the way I see it, either or better yet both of following solutions would help a lot

a) expose an onBeforeValidate option that takes in the model and returns a new model
b) remove keys whose values are empty `{}` objects from the model

[2016-11-01 14:35] serkandurusoy commented on #122
Hmm, this may actually be also useful for #123 if used in conjunction

[2016-11-01 15:14] radekmie commented on #122
It's quite achievable even [right now](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/bridges/SimpleSchemaBridge.js#L163-L170):

[code]

I know, it's not the best option, but... Well, one of mine components accepts an `omit` prop. How about `uniforms: false`?

---

How it exactly should work? I mean: empty `AutoField` is OK, or not? If no, then it's quite big change.

[2016-11-01 15:34] radekmie commented on #123
@serkandurusoy:

a) It surely won't be enough very soon: `onBeforeSubmit` is my first guess.
b) No - no altering model on our side. We have special fields and schemas for it.

---

Validation is one thing, another one is the form submit flow.

Right now, both [`SimpleSchemaBridge`](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/bridges/SimpleSchemaBridge.js#L217-L220) and [`Si

[2016-11-02 09:08] fomeboy opened #124 "Error importing from uniforms-unstyled"
I have installed simple schema and uniforms-unstyled as mentioned on the documentation.
When I try to import AutoForm into my react component I get the following error:

Uncaught TypeError: process.addListener is not a function
    at meteorInstall.node_modules.uniforms.lib.components.forms.ValidatedForm.js (http://localhost:3000/packages/modules.js?hash=959453943eda0281ec46503acd9049a67939d5b2:34

[2016-11-02 11:25] mattscooter opened #125 "Question about ListField usability."
I have a set of fields defined as an object array in my schema.  This is really similar to the "addresses" example on your demo app.

I have everything working ok, except that I have noticed that when adding a new item to the list by pressing on the add/plus icon any unsaved data entered in the existing fields is cleared out.

From a usability perspective this is bad.  Lets say the user adds one s

[2016-11-02 11:34] serkandurusoy commented on #123
@radekmie onValidate actually can be used in place of onBeforeSubmit, right?

My first inclination was to actually alter the modifier form example, too! But it proved to be too verbose for something so seemingly trivial.

and yes a preexisting prop - I can't think of a name either :/ -  as you suggested can definitely help mitigate this issue.

[2016-11-02 11:39] radekmie commented on #123
@serkandurusoy no, because `onValidate` is *before* `onSubmit` and it have separate model.

As soon as we come with a prop name, I'll implement it.

[2016-11-02 11:45] radekmie commented on #125
At first I was like: _What? Really?_ Now I've tested it and... Yes - it's a very, *very* big issue! It was working before, exactly how you described it. I'll take care of it later today.

[2016-11-02 11:46] radekmie commented on #124
[It's right here](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/forms/ValidatedForm.js#L17-L19). I'll take care of it, but I'm very curious - which version of Meteor are you using?

[2016-11-02 11:55] fomeboy commented on #124
I am on version 1.4.2

I have installed simple schema and uniforms-unstyled

If I import it inside a react component it shows the error even without calling it after. I am use react-router. Don't know if that's relevant...

[2016-11-02 11:57] radekmie commented on #124
No, it's not. In previous versions, Meteor provided a noop `process.addListener`. I'll just add a check, if it's present _(you can do it too)_.

[2016-11-02 12:05] radekmie commented on #125
Okay, the issue is right [here](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/fields/BaseField.js#L59-L67). If you are not changing the length, then the `ListAddField` and `ListDelField` have the old value, so pressing `+` or `-` is _resetting_ it. Maybe you want to create a PR for it?

[2016-11-02 15:41] #124 closed

[2016-11-02 15:41] #125 closed

[2016-11-02 15:42] radekmie commented on #125
Check version `1.4.1`.

[2016-11-02 15:42] radekmie commented on #124
Check version `1.4.1`.

[2016-11-02 15:43] radekmie commented on #122
Any thoughts?

[2016-11-02 16:06] radekmie commented on #123
How about `modelTransform`? Proposed documentation:

[code]

The _default_ (`null`) mode is internal. With this, we can solve this issue like this:

[code]

[2016-11-02 16:37] #87 closed

[2016-11-02 16:40] radekmie commented on #100
Now it's propagated like `disabled`, so setting it on `ListField` will set it on the nested fields.

[2016-11-02 16:40] radekmie commented on #100
OK, now I see, that this is not the case...

[2016-11-02 17:30] radekmie commented on #100
Implemented in [`d4fadf8`](https://github.com/vazco/uniforms/commit/d4fadf876bd61f2c599174ff7389853670f52faf).

[2016-11-02 17:30] #100 closed

[2016-11-02 18:23] radekmie commented on #118
Here are my conclusions:

0. `GraphQLBridge` can't really validate a model because it have no other knowledge than the type of the field and it _requireness_.
0. Because 1., you'll have to create `GraphQLBridge` instance by hand.
0. Because 1., you'll have to implement your own validation _(you should do it anyway, yes?)_.
0. Using `QuickForm` _(and other self-generated forms)_ is making almost no

[2016-11-02 21:41] mattscooter commented on #125
Thank you so much!

I have just tested 1.4.1 and it's working properly now.

[2016-11-03 00:45] mattscooter opened #126 "Layout of ListFields using Bootstrap 3"
I want to have more control over where the Add and Remove item buttons appear as well as how my subforms are layed out.

For example I want the delete icon on the right for some of my forms and on the left for others.  I want the label to be outside the panel aligned with the other field labels.

I have tried playing with the CSS but that can only get me so far especially since there are embedded

[2016-11-03 06:42] radekmie commented on #126
Take a look at the [`ListField` source](https://github.com/vazco/uniforms/blob/master/packages/uniforms-bootstrap3/src/components/fields/ListField.js). It's the biggest component I think, but it's very easy to create a custom one. If you want to customize only the `ListDelField`, then take a look at the [`ListItemField` source](https://github.com/vazco/uniforms/blob/master/packages/uniforms-bootst

[2016-11-03 08:54] macrozone commented on #122
@radekmie:

The second way works for me:

[code]

I think empty Autofield is ok.

It would be best to just exclude it from Autoform (without Autofield's in it), but render it normally, if is requested explicitly:

[code]

something like `uniforms: false` might therefore not be the best solution, because you might want to define a custom component in the schema , in case it is requestd explicitly.

[2016-11-03 12:58] fomeboy opened #127 "Error integrating AutoForm"
I am getting an error when I try to integrate an AutoForm into a react component using Meteor 1.4.2:

modules.js?hash=5bf51b7…:34814Uncaught TypeError: Cannot read property 'getSubfields' of undefined
    at _class.render (http://localhost:3000/packages/modules.js?hash=5bf51b73472032bacf6ebced1844676e6bacbe24:34814:49)
    at http://localhost:3000/packages/modules.js?hash=5bf51b73472032bacf6ebced1

[2016-11-03 13:05] radekmie commented on #127
Duplicate of #117.

[2016-11-03 13:05] #127 closed

[2016-11-03 13:15] radekmie commented on #122
@macrozone I understand you, but I'm still not convinced to `omit: true`... Do you have a different idea?

[2016-11-03 13:17] fomeboy commented on #127
sorry. didn't see #117

sorted now...tks!

[2016-11-06 11:56] serkandurusoy commented on #118
Wow, indeed I like the `new GraphQLBridge()` approach. It looks like a good
balance between flexibility and structure. That being said, perhaps we can
actually look into abstracting the third parameter a little bit such that
perhaps it can accept multiple "schema formats" thus aligning it with your
original vision, right?

On Wed, Nov 2, 2016 at 9:23 PM, Radosław Miernik <notifications@github.com>

[2016-11-06 11:57] serkandurusoy commented on #123
Ah, I think this is a little too verbose for small problems, but it also
looks quite flexible and powerful.

On Wed, Nov 2, 2016 at 7:06 PM, Radosław Miernik <notifications@github.com>
wrote:

[2016-11-06 13:11] radekmie commented on #118
Every form is already abstracted from the schema. This logic is placed in [`createSchemaBridge(schema)`](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/bridges/index.js#L13-L19). The only limitation here is that form have a `schema` prop - we can't pass multiple parameters in there. I think, that creating the bridge by hand is the best and the cleanest solution.

[2016-11-07 13:57] macrozone opened #128 "click on ListAddField removes already defined values"
steps to reproduce:

- run demo,
- define a list-field:

[code]

- click on plus
- add a first value
- click again on plus

There are now two empty fields instead of the first containing the value.

I think the error lies in how the add fields receives the value from the parent. It uses the `includeParent` from `connectField`. But this seems to copy the parent-props instead of passing a reference.

[2016-11-07 17:58] radekmie commented on #128
Which version? It was fixed recently in v1.4.1 due to #125.

[2016-11-07 18:10] #126 closed

[2016-11-08 13:38] macrozone commented on #128
it's working properly with 1.5.0 <3 <3 <3

[2016-11-08 13:38] #128 closed

[2016-11-10 09:22] Gervwyk opened #130 "Default values not working with simpl-schema module"
I've started building a uniforms-antd package to support Ant Design. Struggled to get the defaultValues working (the 'defaultValue' prop is undefined in the components), however after a while of debugging I noticed its also not working on the bootstrap versions. I substituted simpl-schema with aldeed:simple-schema and that solved the problem.

Not sure what the problem is in simpl-schema but for n

[2016-11-10 10:29] radekmie commented on #130
What exactly is not working?

Here are few _probably_ related places in the code:
[`BaseField#getFieldProps`](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/fields/BaseField.js#L150-L241)
[`SimpleSchema2Bridge#getInitialValue`](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/bridges/SimpleSchema2Bridge.js#L97-L115)
[`connectField#componentWillMou

[2016-11-10 19:29] Gervwyk commented on #130
To fix the problem I simply replaced:

`import SimpleSchema from 'simpl-schema';`

with:

`import {SimpleSchema} from 'meteor/aldeed:simple-schema';`

in `demo\assets\schemas.js ` and then defaultValue was set correctly in all components. Will give simpl-schema another go later this week to see if its related to my code. I'm running the demo code and only adding a new style package - uniforms-antd

[2016-11-10 19:55] radekmie commented on #130
Just show me your schema. There's probably some misunderstanding or some minor bug in `SimpleSchema2Bridge` implementation.

---

Nice work! How about creating a PR with the current progress of your theme package?

[2016-11-10 20:15] Gervwyk commented on #130
[code]

This is what I have thus far. Working with aldeed package. Will switch back later this weekend to investigate.

Sweet! Will send PR when base components is done hopefully sometime next week. Great work on uniforms! Saved me 100s of hours on current project!

[2016-11-10 20:55] radekmie commented on #130
Great! I'll give it a try tomorrow.

[2016-11-11 10:05] EricSoldierer opened #131 "ModifierForm Zero Values"
For updating my model, I’m using your *ModifierForm* example which is explained in the *README.md* file.

Now, when I try to update the value of a number field to 0, the value won't be updated in the database.
I have looked at that example more closely and I'm a bit confused about the conditions in the following two lines in your example.

[code]

Indeed, if the value behind *doc[key]* is for exam

[2016-11-11 19:55] radekmie commented on #131
Good catch!

I'm really glad, that somebody is reading the README. Yes - that's my mistake - to be honest, I've never tested it in-depth. I'll fix it in a moment.

[2016-11-11 19:57] #131 closed

[2016-11-13 09:00] DimitryDushkin opened #132 "HiddenField is changing an uncontrolled input of type hidden to be controlled"
Hello.

When I'm trying to use HIddenField I got this warning:
[code]

Layout is pretty simple:
[code]

[2016-11-13 09:13] DimitryDushkin opened #133 "How to set parent-dependent fields in associated items?"
Trying something like:
[code]

But with no luck. I just want to set parent-dependent fields (topicId and owner) of each tasks to right values.

Something like
[code]

works fine, but I wonder is there simpler way?

[2016-11-13 09:21] DimitryDushkin commented on #133
I've tried something like
[code]
but there is no labels and such.

[2016-11-13 09:25] DimitryDushkin commented on #133
Something like
[code]

works fine, but I wonder is there simpler way?

[2016-11-13 10:01] radekmie commented on #132
Hey.

Just because I'm curious - how should `HiddenField` without value behave? It's designed to be used like this:

[code]

You can read more in #53.

[2016-11-13 10:08] radekmie commented on #133
1. [Only `ListField` accept `itemProps`](https://github.com/vazco/uniforms/blob/0b7fcda9538fa8ca651f18609c81d1a87615af9b/packages/uniforms-unstyled/src/components/fields/ListField.js#L40), #60. Also, it's designed to _transfer_ props, not values.
2. I think there's no simpler way. You can achieve it just like you already did, try do it with your schema or use controlled form _(like `ValidatedForm`

[2016-11-13 10:08] #133 closed

[2016-11-13 10:09] #132 closed

[2016-11-13 10:23] #118 closed

[2016-11-13 10:25] radekmie commented on #118
Good news!

GraphQL support just landed in `1.6.0-beta.1`! Go and try it! Bugs reports are welcome!

[2016-11-13 10:55] DimitryDushkin commented on #133
Got it, thank you!)

[2016-11-13 10:57] DimitryDushkin commented on #132
I see, thank you!)

[2016-11-13 11:00] DimitryDushkin commented on #132
Just set no value if it is not present. That's the case if model is not loaded yet.
But I got the idea — just do not show form until model loaded.

[2016-11-16 16:23] macrozone opened #135 "Can't type decimal numbers properly if the field has a default value (with meteor-SimpleSchema-bridge)"
when i have a field with something like this:

[code]

You can't type in say 0.5, because you can't delete the 1. I think its always putting in the default value as soon as the field is empty.

Sorry, i could not reproduce this properly with the demo, because it is using the npm-version of simpl-schema and seems to behave differently.

[2016-11-16 18:04] radekmie commented on #135
Is it not reproducible in the new SimpleSchema? Weird. If compare both `getInitialValue` functions ([1](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/bridges/SimpleSchemaBridge.js#L141-L159), [2](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/bridges/SimpleSchema2Bridge.js#L97-L115)), then it should work exactly in the same way.

@macrozone, as you know u

[2016-11-17 19:24] macrozone opened #136 "AutoFields should be in base package"
currently, all ui-packages (bootstrap, semantic, unstyled) have the same code to render the `<AutoFields />`

This code could be in the base-package. :-)

btw. i'll help with answering the other issues and doing some PR as soon as i have time, sorry for not being not very active at the moment. I will help as soon as i can, you do an awesome work with uniforms here and i would love to help more!

[2016-11-17 22:25] radekmie commented on #136
I'd love to do it, but... It's not possible because `AutoFields` renders `AutoField` which cannot be included in the base package because... It renders different fields _(like `TextField`)_ which cannot be included in the base package because of... I think it's quite obvious.

As to your contribution - I really appreciate your commitment! If I could suggest most valuable contribution right now - I

[2016-11-17 22:25] #136 closed

[2016-11-19 00:53] radekmie commented on #130
OK, I found it. [New SimpleSchema strips `defaultValue`](https://github.com/aldeed/node-simple-schema/blob/master/lib/SimpleSchema.js#L756-L769). I'll try to make a workaround.

[2016-11-19 01:19] #130 closed

[2016-11-19 09:48] radekmie commented on #130
I've _hacked_ it a little bit. It's published in `v1.6.0-beta.3`.

[2016-11-19 09:50] radekmie commented on #135
I've done some initial work and it looks like it's not that easy - many tests fail... I'll try to make it work. Also, it's somehow related to #130 - that's you couldn't reproduce it.

[2016-11-19 13:20] #135 closed

[2016-11-19 13:20] radekmie commented on #135
Arrived in 1.6.0-beta.4. I hope it's not a breaking change - current behaviour changed a little, but it was a bug, not a feature.

[2016-11-20 20:37] Gervwyk commented on #130
Thanks! This is great news. Will see if I can switch to new simple schema later this week.

[2016-11-20 22:16] Gervwyk opened #137 "Injecting a variable into a field type"
In short: Is there perhaps a way to inject a variable as Autoform prop which is passed to all child components?

The reason I'm asking:
I'm trying to create a custom field type within the antd module which I'm creating. For one of these custom fields I require a variable to be injected from my app, in this case a set of colors. (Note this is not the default colors, these are colors used to calcula

[2016-11-21 06:19] zeroasterisk opened #138 "reset context.state.changed on submit"
I'm using a `DisplayIf` do decide if a submit button should be visible/enabled...

[code]

This works fine for initial render, but not for view, change, submit... it should reset form state to not-changed.

[2016-11-21 06:33] radekmie commented on #138
At first, share some more information: version, how `SubmitBtn` resets the form and your component _(it's just a part of it - some context would be nice)_.

[2016-11-21 06:38] radekmie commented on #137
Well, kind of. It's not documented, but the `context.uniforms.state` is passed to the fields [[1]](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/fields/BaseField.js#L127-L141) [[2]](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/fields/BaseField.js#L154-L157) [[3]](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/c

[2016-11-21 06:40] radekmie commented on #138
The `onReset`, which is aliased to `reset`, [is doing it](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/forms/BaseForm.js#L232-L239).

[2016-11-21 06:45] zeroasterisk commented on #138
Yes, I'm only calling `formRef.submit()`... so I should call `formRef.reset()` after?

`formRef.submit().then(() => formRef.reset(), err => console.error(err))`

[2016-11-21 06:49] radekmie commented on #138
Yes, [`onSubmit` is not doing a reset](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/components/forms/BaseForm.js#L241-L257).

[2016-11-21 06:57] zeroasterisk commented on #138
I tried it out and it works... Sadly, I've done something wrong with my submit handler, the promise is resolving before the save is complete, and I never noticed it because I wasn't resetting my form... but I'll work on that... thanks!

[2016-11-21 06:57] #138 closed

[2016-11-22 13:37] Gervwyk commented on #137
Great. I used the same solution as you did for grid in bootstrap themes and it works well. So I pass a fieldData object as a prop in Autoform which then renders using the provided data.

For instance in this case the object is:
[code]
The ColorPicker (or other components) then checks if a props.fieldData.colors is defined if not revert to a default set. This only required adding some lines to Base

[2016-11-22 15:00] sakulstra commented on #123
Hello,
any progress on this :)?

I think the modelTransform approach is pretty nice.
I currently face a problem where conditional required validation fails due to some complex dependencies, where again I would have to unset fields to pass validation.

With the approach posted above this would be easily solvable.

Best regards and thanks for your efforts!

[2016-11-22 15:44] radekmie commented on #123
I was quite busy recently _(but documentation is complete!)_. It's on my _roadmap_ - it will be ready later this week.

[2016-11-22 15:46] radekmie commented on #137
Kind of blackbox passed in the `uniforms` context? Seems reasonable. Also, few already implemented things, like `grid` in bootstrap themes, could use it. I'll think about it and let you know.

[2016-11-22 19:11] Gervwyk commented on #137
Yes. So except that you pass the blackbox from the context of the schema, in some cases its also useful to pass the blackbox through the context of the app / form component if that makes sense.

[2016-11-23 21:27] radekmie commented on #137
I'll leave it as it is for now, but maybe it's a good idea to create a roadmap... I'll take care of it later this week.

[2016-11-26 08:43] radekmie opened #139 "Wishlist / Roadmap"
To be honest, everything I need is already implemented _(at the moment at least)_.

**Note:** These points are rather ideas than a work plan.

- Close future:
    - Easier testing of theme packages
    - Error, when a field is rendered outside of any form element _(all we have right now is the context mismatch warning)_
    - Error, when a form is rendered within another form element _(all we have

[2016-11-27 13:42] #123 closed

[2016-11-27 13:42] radekmie commented on #123
Check it out in `1.7.0-beta.1`. [Documentation](https://github.com/vazco/uniforms/blob/master/API.md#baseform).

[2016-11-28 10:13] macrozone opened #140 "reset should set initial model"
I tried reset() for the first time.

It added a button to the QuickForm and called this.reset();.

It thought it would reset the state to the given props.model on the form, but instead, all fields were emptied. Shouldn't it reset to the model instead? if no model is given, then yes, it should empty all fields.

Edit:

it's on this line:

https://github.com/vazco/uniforms/blob/master/packages/unifo

[2016-11-28 18:00] radekmie commented on #140
So you've tried it on `AutoForm` - there's no internal `model` in `QuickForm` :)

Yes, it is a breaking change, but every bugfix is a breaking change because something is working differently now, doesn't it? This should behave exactly the same as the initial state in the `constructor`, so as you've said - `this.props.model` in both `model` and `modelSync`.

Would you like to submit a PR for it?

[2016-12-01 15:39] radekmie commented on #140
@macrozone?

[2016-12-01 16:12] macrozone commented on #140
@radekmie: Yes, I can do this in the next days. But generally, you do agree with this change?

[2016-12-01 16:36] radekmie commented on #140
Yes, I do agree. If you are using it in a fully automatic way _(you have no model)_, then we are not changing anything. If you are using it as a _default_ model, then the new behaviour is the desired one. At last, if you are using it as a managed form, then it's still OK because it'll keep the model from props.

[2016-12-03 07:58] thearabbit opened #141 "Support Material-ui?"
I would like to try `React` with `Meteor`.
But not clear `Bootstrap` vs `Material UI` is better?
Before: `Bootstrap, AutoForm, Tabular...`

[2016-12-03 09:46] radekmie commented on #141
_Erm... I can barely understand your issue content, so let's assume that the title is your issue._

Material Design. As in opposite to Semantic or Bootstrap, we have to consider using a React package for it, rather than a CSS package, because of Material Design ripples and other eye-candies. OK, we've got rid of about half of choices. Now we have to choose the React package. We already have an int

[2016-12-03 12:21] thearabbit commented on #141
Thanks for your reply.

[2016-12-04 13:19] thearabbit opened #143 "Why use `AutoForm` name instead of `UniForm`?"
the package name `uinform`, but
[code]

[2016-12-04 15:09] radekmie commented on #143
I have to add it to the `README.md`, because it's weirdly common question. It was already asked and answered [here](https://github.com/vazco/uniforms/issues/23#issuecomment-224961574).

[2016-12-04 15:09] #143 closed

[2016-12-05 09:34] macrozone opened #144 "Can't run demo, missing dependencies in demo/package.json"
Hi,

I cloned the repo freshly and wanted to start the demo. It seems these dependencies are missing in the demo:

- babel-runtime
- fbjs/lib/invariant
- fbjs/lib/warning

But when i install babel-runtime, I get:

"Error: only one instance of babel-polyfill is allowed"

:-(

[2016-12-05 10:00] radekmie commented on #144
OK, I've got three questions: which branch, npm version and node version. On master, node 7.2.0 and npm 4.0.3 it's working.

[2016-12-05 10:08] macrozone commented on #144
master branch,
node 4.5.0
npm 2.15.9

... ok i guess at least npm is a little bit old... will try to update

[2016-12-05 10:11] radekmie commented on #144
Yeah - `npm` might be the problem, because we are using our peer dependency dependency (`fbjs`).

[2016-12-05 10:15] radekmie commented on #144
I've also tested it on node `5.12.0` and npm `3.3.10` - it's working.

[2016-12-05 10:30] macrozone commented on #144
thx, @radekmie , its working with latest npm

[2016-12-05 10:30] #144 closed

[2016-12-05 18:04] lmaddio opened #146 "value.toISOString is not a function when defaultValue returns a Date"
`const date = {
type: Date,
label: 'Fecha de creación',
defaultValue: () => new Date()
};
new SimpleSchema({date});`

Returns value.toISOString is not a function error
I wanna make a form with dates and set a default date.
Thanks!

[2016-12-05 18:15] radekmie commented on #146
I assume you are using `SimpleSchema@1`. This behaviour is 100% correct - a function is not a valid value of a `type: Date` field. [`SimpleSchema` allows to use functions instead of few fields](https://github.com/aldeed/meteor-simple-schema/blob/v1/simple-schema.js#L835-L841), but `defaultValue` is not one of these - it has to be the exact value, not a getter.

[2016-12-05 18:15] #146 closed

[2016-12-05 18:59] lmaddio commented on #146
Thanks!

[2016-12-09 21:02] todda00 opened #147 "When app is minified, Incorrect date error is shown"
Running in development an error for a required date field when a text string is entered outputs:
[FieldName] must be a Date

When running in --production mode (minified) or deployed to a server:
[FieldName] must be a r

![acelist](https://cloud.githubusercontent.com/assets/8363924/21064271/e7b8ba5e-be27-11e6-9fc1-b0154606a3cf.png)

I have this setup to accept a MM/DD/YYYY string and format it to a

[2016-12-09 21:41] radekmie commented on #147
It's one of the most interesting bugs I've seen in a while, really. I try to give it a shot tomorrow, meanwhile - have you even tried to debug it even a little? Also, I'm not sure if this is a SimpleSchema bug or uniforms bug.

Just to be sure - is this SimpleSchema or SimpleSchema2?

[2016-12-09 21:53] todda00 commented on #147
SimpleSchema1 - 1.5.3

I started digging through the uniforms code looking at the error generation
items, but it was difficult for me to jump in and figure out what it was
all doing. It very well may be a SimpleSchema issue, but I was unable to
find anything related to it. I may be able to isolate it a bit and figure
out what package it is coming from, this one or SS.

On Fri, Dec 9, 2016 at 4:41

[2016-12-10 08:56] thearabbit commented on #141
Could I test the `material-ui` branch?

[2016-12-10 08:58] radekmie commented on #141
Yes, of course.

[2016-12-10 09:03] thearabbit commented on #141
Thanks for your reply, I will test soon.

[2016-12-10 09:17] radekmie commented on #141
I think we can close this issue and continue any discussion in #142.

[2016-12-10 09:17] #141 closed

[2016-12-11 11:26] radekmie commented on #147
OK, I've found it. It's because of [`es5-shims`](https://github.com/meteor/meteor/tree/devel/packages/es5-shim) package. It overrides the native `Date` object, which constructor name is minified.

Solution? I don't know. Why we all have the same minified name? Because Meteor use `.min.js` files if those are available and [here](https://github.com/es-shims/es5-shim/blob/master/es5-shim.min.js) it i

[2016-12-11 11:26] #147 closed

[2016-12-12 16:51] todda00 commented on #147
Interesting indeed. My solution to this is to override SimpleSchema's message for expectedConstructor to not include the type name:

[code]

[2016-12-12 18:33] radekmie commented on #147
Thanks @todda00 - someone will surely make use of your workaround.

[2016-12-12 19:54] radekmie commented on #139
[Roadmap](https://github.com/vazco/uniforms/projects/1).

[2016-12-12 19:54] #139 closed

[2016-12-14 11:17] saeedjalali1 opened #148 "use uniform without meteor"
Hi, I want use uniform without meteor. can you show me an example??
I am using webpack and React.js + simpl-schma

[2016-12-14 18:09] radekmie commented on #148
Hey there!

There's nothing Meteor related in the [`README.md`](https://github.com/vazco/uniforms/blob/master/REAMDE.md) examples _(only your schema definition may differ)_ and in the [`API.md`](https://github.com/vazco/uniforms/blob/master/API.md). If you'll still encounter some issues - let me know.

[2016-12-16 02:47] vladejs opened #149 "Allow to change the style of + sign when using nested fields"
the default style of the + sign is poor:
[code]

I need to add a class to that element in order to change its style, and optionally change its `label-default` class to `label-warning` for example.

[2016-12-16 02:50] vladejs commented on #122
I think it should be implemented as in AutoForm.

[2016-12-16 11:00] radekmie commented on #122
@vladejs

What do you mean?

[2016-12-16 11:02] radekmie commented on #149
There's an [example](https://github.com/vazco/uniforms#props-propagation) of a custom `ListField` in the readme. If you want, you can create a PR for a customization there, but it's fairly easy to create a custom `ListAddField`.

[2016-12-16 11:02] #149 closed

[2016-12-17 00:26] vladejs commented on #122
I mean that you should be convinced about implementing: `omit: true` property. It worked well in AutoForm   (blaze version) so it should here too

[2016-12-17 01:06] vladejs commented on #149
I want to change its style without the need to declare it.
[code]
Or directly on the schema:
[code]

[2016-12-17 04:17] radekmie commented on #149
@vladejs Submit a PR if you want.

[2016-12-18 12:12] radekmie commented on #122
@vladejs OK, it's all right in both SimpleSchema and SimpleSchema2, but not so obvious in GraphQL - there's no place for _non-props_ data. I'd like to have a general solution.

[2016-12-18 14:18] saeedjalali1 commented on #148
@radekmie thanks for your reply. I'm trying below steps:
1. First install ```npm install --save react react-dom uniforms uniforms-bootstrap3```
2. Then install ```npm install simpl-schema --save```

3. Then create `schema.js` file and write schema like this:
[code]
4. And also create `form.jsx`
[code]
But when I run my project I give the below error as output:
[code]

[2016-12-18 15:25] radekmie commented on #148
That's a bug. I've found a solution to suppress Meteor's warning about a not found module. It's [here](https://github.com/vazco/uniforms/blob/master/packages/uniforms/src/bridges/SimpleSchema2Bridge.js#L10). It looks like it broke non-meteor package resolvers... OK, I'll try to fix it.

[2016-12-18 15:55] #140 closed

[2016-12-18 17:30] radekmie opened #150 "Optional dependencies madness"
_This came out in #148. Thanks, @saeedjalali1._

Back in `v1.1.3`, I've did this change:

[code]

To get rid of Meteor warning:

[code]

As I found out today, it caused problems with using `uniforms` in Webpack:

[code]

To fix it, I will revert this change. This will cause both Meteor and Webpack complain about it with warnings with **very** long stack traces, but everything will work in both env

[2016-12-18 17:30] radekmie commented on #148
I've made a separate issue for it: #150.

[2016-12-18 17:30] #148 closed

[2016-12-18 21:52] vladejs opened #151 "How to add Meteor Reactive data to a Select Field"
Hello @radekmie, I'am stuck at this use case, which I couldn't find on the docs.

I have a schema which has a category field. That field should get its data from a Meteor Collection. That field should be rendered automatically 'cause iam using `<AutoFields />` component;

What I want to achieve is the simplest escenario possible: A select field who's values are the `_id`'s, and its labels are a co

[2016-12-19 06:37] radekmie commented on #151
Either use a dynamic schema _(i.e. schema computed in a reactive context)_ or use `ListField` directly _(like in your example)_ and pass your data in `allowedValues` property.

[2016-12-19 19:02] vladejs commented on #151
I did your second advice and it worked fine, but i am intrigued about how to achieve the same result using a dynamic schema?

I did this and it didn't worked:
[code]